[2017-10-22 10:48] darewreck54 opened #8 "java configuration doesn't recognize vs code variables"
Hi,

I'm not sure if i'm doing it wrong but i wanted to configure the java debug to execute on the open java file without having to specify the exact mainClass name.

Ex:

launch.json

[code]

However, it doesn't recognize "${fileBasename} ".  I get the following error:

`Failed to resolve classpath: Main class '${fileBasename}' doesn't exist in the workspace.`

It would be nice if it actually pri

[2017-10-25 13:48] akaroml commented on #8
@darewreck54 thanks for reporting this issue. We just had a new release (0.2.0) last week. With the new release, the mainClass is automatically filled when launch.json is generated. So please try upgrade to the newest version and delete launch.json. After that, you can regenerate launch.json by hitting F5. Hope that helps.

For referencing environment variables in configurations,  please refer to

[2017-10-25 13:48] #8 closed

[2017-10-26 03:25] Zayik opened #9 "'javac' is not recognized as an internal or external command, operable program or batch file."
VS Code recognizes that OpenJDK is not downloaded and informs user to download it from
https://developers.redhat.com/products/openjdk/overview/

Upon doing so, the user is still unable to use javac to compile the code. They receive the error
"'javac' is not recognized as an internal or external command, operable program or batch file."

This is very frustrating to new users, and those who are rust

[2017-10-26 03:39] Zayik opened #10 "Classpath is incomplete. Only syntax errors will be reported"
Vs Code pops up the error when viewing java files.  It links user to a site stating what the warning means and how to disable it.

Nowhere does it actually specify how to properly fix the issue. Anyone new to Java development, especially those just starting out will not know how to fix it. Rather than **only** telling them what the warning means and how to disable it, it should link them to a site

[2017-11-18 04:39] YousefSaber opened #11 "Visual Code can't debug java in the new version why ?"
_From @YousefSaber on November 17, 2017 19:16_

![4](https://user-images.githubusercontent.com/33742499/32964649-923c5dba-cbdc-11e7-8f86-db04e9b50a4d.jpg)

![2](https://user-images.githubusercontent.com/33742499/32964555-5063679e-cbdc-11e7-85c3-48c67f303109.jpg)
![3](https://user-images.githubusercontent.com/33742499/32964557-5087c5c6-cbdc-11e7-956a-4215445042b4.jpg)
![4](https://user-images.githu

[2017-11-18 04:39] YousefSaber commented on #11
_From @weinand on November 17, 2017 19:24_

Please file issue against Java extension.

You can use this tool to move the issue: https://github-issue-mover.appspot.com

[2018-01-24 08:38] michelkaporin opened #12 "Second argument is replaced upon completing the first argument in a method call"
Moved from https://github.com/Microsoft/vscode/issues/41971

- VSCode Version: Latest Insiders
- OS Version: Mac OS

Steps to Reproduce:
1. Insert cursor before the first argument (that accesses some property) to the method.
2. Start typing new argument that also accesses property.
3. On suggestion appearance, press Tab to enter suggestion value
It replaces the old first argument instance with the

[2018-02-13 12:39] paulvi opened #17 "update docs for v0.3.0"
page https://code.visualstudio.com/docs/languages/java should be updated for v0.3.0

[2018-02-14 05:02] iamatypeofwalrus opened #18 "Add a decompiler to the pack"
Hey!

I'd like to propose adding the [Java Decompiler extension](https://marketplace.visualstudio.com/items?itemName=dgileadi.java-decompiler#overview) to this pack.

I've been using the pack on a few projects at my day job. Due to our custom build system our dependencies are mostly prepackaged in Jars. The `go to definition` command makes a reasonable effort to decompile our dependencies out of t

[2018-02-14 18:59] cbwilliamsnh opened #19 "Create new package?"
I'm trying to create a new package in my java project in VS Code. I have the extension installed as I get proper java editing in existing files, but when I add a new folder to the src tree or test tree and create a java file, I get a compiler error on the "package" statement telling me that "" is expected as the package and to remove the whole "package com.xxxxxxx;" line.

What am I missing?

Than

[2018-02-26 10:49] martinandersson opened #20 "The extension[-pack] creates bloatware-like files in root of project directory"
The following files are randomly created in the root of my Gradle project dir:

- bin/*
- .settings
- .classpath
- .project

The three latter I think are specific for the Eclipse IDE or a derivative thereof.

Don't get me started why I think this behavior is totally unprofessional and unacceptable lol.

[2018-03-05 00:11] iamlothian opened #21 "Support multiple projects at one time."
If I have multiple vscode windows open with different java projects only one has java language support. If i close the one supported then the other gains support.

[2018-03-07 03:58] andxu commented on #18
We need some investigation about whether it is compatible with java debug/test/maven plugins

[2018-03-07 04:00] andxu commented on #17
The doc is updated and kept updating, see https://github.com/Microsoft/vscode-docs/commits/master/docs/languages/java.md

[2018-03-07 04:03] andxu commented on #9
move it to the right repo:
https://github.com/Microsoft/vscode-java-debug/issues/247

[2018-03-07 04:06] andxu commented on #10
Duplicate of https://github.com/Microsoft/vscode-docs/issues/1462

[2018-03-07 04:14] andxu commented on #10
@Zayik Sorry for the delay of finding the issue raised here, with too many gaps in times could you please have a try with the latest version of java pack to see whether it solves your problem?
The main issue address would be: https://github.com/Microsoft/vscode-java-debug/issues

[2018-03-07 04:20] andxu commented on #20
@martinanderssondotcom what's are you ideas representing a java project which contains the source output folder, the java version, the referenced libs? Other java products have their project specific files, how to avoid the project configuration file?

[2018-03-07 04:29] andxu commented on #11
@YousefSaber Could you provide the extension version you used to use?

![image](https://user-images.githubusercontent.com/17075863/37073647-21557d20-2203-11e8-9cd9-d184aae04099.png)

and the command result of `where java`,  `echo %JAVA_HOME%` and `echo %PATH%` to us:

C:\Users\andxu>where java
C:\Program Files\Java\jdk1.8.0_161\bin\java.exe

C:\Users\andxu>echo %JAVA_HOME%
C:\Program Files\Java\jd

[2018-03-07 04:31] andxu commented on #21
Create new issue at the specific extension, close this one.

[2018-03-07 04:31] #21 closed

[2018-03-07 07:07] iamlothian commented on #21
This isn't even just the debugging, but language features, auto complete, debug configuration, pom features. The whole java extension pack, seems to only support one vs code window at a time.

I ended up using a workspace with both projects in it, which does work.

[2018-03-07 08:41] andxu commented on #21
I tried it on windows, it does work ,see my snapshot:

![image](https://user-images.githubusercontent.com/17075863/37082030-56cbee62-2226-11e8-90e6-bbaa27e27edd.png)

[2018-03-07 08:52] iamlothian commented on #21
There is hope for me then, must be an environment error. Im not sure what the issue is.

[2018-03-07 09:08] andxu commented on #21
Are you debugging vscode-java plugin using vscode, if not, it should be supported for open multiple instances of vscode with different java projects.

[2018-03-11 19:57] gorkem commented on #12
This needs to be reported to https://github.com/redhat-developer/vscode-java/

[2018-03-16 02:15] #17 closed

[2018-04-04 03:46] akaroml opened #22 "Welcome page for Java developers"
We need a welcome page that shows on startup to help Java developers to get started:

- Scaffold projects:
    - Spring Boot Initializer
    - Azure Functions
    - Maven Archetypes
- Tutorials
    - How to build, test and debug Java Applications?
    - ...
- Samples
    - Spring Boot PetClinic
    - Todo app on Azure
    - Java Steel Thread
- Documentation
    - code.vs.com/java
    - docs.ms.com

[2018-04-05 20:35] martinanderssondotcom commented on #20
Andxu,

Why are these files there to begin with? Why is the plugin stateful? I think we should try our utmost hardest to keep VSCode being a simple, light and effective text editor. If one wanna have an IDE which automagically integrate a few command line args into "run configurations", has built-in terminals and live football, then there's other options for that. And believe me - as Trump would h

[2018-04-10 20:43] DiabolusExMachina commented on #20
I also dislike all the generated files.

It looks really messy. How about placing them  in an own folder into the .vscode folder. For example .vscode/.java/...

[2018-04-11 01:36] andxu commented on #20
We have other users reporting the same issue: https://github.com/redhat-developer/vscode-java/issues/478, see reply from fbricon:

It's going to be tricky. We depend on the eclipse platform for the Java support. We currently have no way to set project metadata to a custom location. Eclipse Che managed to do it by forking key eclipse plugins, but we probably won't do that. Best case scenario, we ge

[2018-04-11 01:38] andxu commented on #20
Personally I think we should generate it at .vscode because the editor is vscode, need to discuss with redhat guys about the project settings

[2018-04-27 22:39] ozzioma opened #24 "Failed to install 'vscjava.vscode-java-pack'"
Why am I getting this error when I try to install

This is my environment
Windows 10 Home x64
JDK 8
Latest Visual Studio Code

Every other extension installs but only Java extensions repeatedly fail.
What could be wrong?

[2018-04-28 01:03] andxu commented on #24
@ozzioma Thanks for trying java extensions, could you retry it again and send us the error logs:
![image](https://user-images.githubusercontent.com/17075863/39390130-f3dbf142-4ac2-11e8-84d6-e9c9e6771375.png)

[2018-04-28 01:13] ozzioma commented on #24
Here....

![error2](https://user-images.githubusercontent.com/1046981/39390234-96706440-4a89-11e8-872d-dd43da3a129a.PNG)

![error1](https://user-images.githubusercontent.com/1046981/39390235-9b0e5d86-4a89-11e8-8c4d-9c9236215fd2.PNG)

Any idea what could be the issue?

[2018-04-30 23:13] ozzioma commented on #24
Any update yet?

[2018-05-06 15:56] ghost opened #25 "Add gradle language support to the pack"
My workplace and many others I know use gradle for builds, so having gradle support should be considered for this pack. I use https://github.com/naco-siren/vscode-gradle-language for my gradle work, and it is usually well-maintained.

[2018-06-12 02:11] yaohaizh commented on #9
Close this one as it was tracked by the individual extension.

[2018-06-12 02:11] #9 closed

[2018-06-12 02:12] yaohaizh commented on #11
This issue was moved to Microsoft/vscode-java-debug#309

[2018-06-12 02:12] #11 closed

[2018-06-12 03:01] yaohaizh commented on #10
Close this one as it is tracked by other issue.

[2018-06-12 03:01] #10 closed

[2018-06-27 20:11] aksh1618 commented on #25
@rogersachan I tried using that plugin, seems to be sort of half baked, and doesn't seem to be well-maintained anymore (no commits/replies in the past 5 months).

[2018-07-06 10:59] abhinavtk97 opened #27 "java.util.concurrent.CompletionException: org.eclipse.lsp4j.jsonrpc.ResponseErrorException: Request workspace/executeClientCommand failed with message: command 'java.classpath.refresh' not found"
Issue Type: <b>Bug</b>

java.util.concurrent.CompletionException: org.eclipse.lsp4j.jsonrpc.ResponseErrorException: Request workspace/executeClientCommand failed with message: command 'java.classpath.refresh' not found
	at java.util.concurrent.CompletableFuture.reportJoin(CompletableFuture.java:375)
	at java.util.concurrent.CompletableFuture.join(CompletableFuture.java:1934)
	at org.eclipse.jdt.ls

[2018-07-18 12:13] butchiki opened #28 "Java default classes"
Issue Type: <b>Bug</b>

When I tried to use Math class, Double class, etc. The Intellisense is not showing any methods or members about these classes.

Extension version: 0.3.0
VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:43:53.668Z)
OS version: Windows_NT x64 10.0.17134

[2018-08-15 07:41] sandy081 opened #29 "Use `extensionPack` instead of `extensionDependencies` property for defining pack"
From release v1.26, defining an Extension Pack now uses a new property called `extensionPack` instead of `extensionDependencies` in package.json. This is because extensionDependencies is mainly used to define functional dependencies and an Extension Pack should not have any functional dependencies with its bundled extensions and they should be manageable independent of the pack.

So please use `ex

[2018-08-16 09:41] akaroml opened #31 "0.4.0 Plan"
- [x] Use extensionPack to replace extensionDependencies #29 @sandy081 #30
- [x] 🏃Show Java Welcome page #32 @akaroml PR: #35 #36
- [x] Update Readme.md

Legend of annotations:

Mark | Description
-- | --
🏃 | work in progress
✋ | blocked task
💪 | stretch goal for this iteration
🔴 | missing issue reference
🔵 | more investigation required to remove uncertainty
⚫️ | under discussion within the team

[2018-08-16 09:48] akaroml opened #32 "Welcome page for Java"
VS Code shows a welcome page on startup. The page provides quick start experience.
For Java users, the similar concept can also apply. VS Code is very different from classical Java IDEs like Eclipse and IntelliJ. New users get lost very easily when trying to adopt this new solution. So a welcome page can solve that problem by providing:
- A list of most used task entries
- Links to the documentati

[2018-08-16 10:19] akaroml commented on #28
Thanks for reporting.
This is a language server issue. Close this one and track by redhat-developer/vscode-java#590

[2018-08-16 10:19] #28 closed

[2018-08-21 07:59] Eskibear commented on #31
@akaroml Should the next version be 0.4.0? The latest version in marketplace now is 0.3.0

[2018-09-09 05:29] akaroml commented on #20
@DiabolusExMachina we are working on a fix in the Java Language Support extension. redhat-developer/vscode-java#618

[2018-09-09 05:32] akaroml commented on #12
Issue tracked in Java Language Support repo. Close this one.

[2018-09-09 05:32] #12 closed

[2018-09-10 09:50] akaroml commented on #22
#32 was created to track actual dev works. Close this one.

[2018-09-10 09:50] #22 closed

[2018-09-16 06:12] prassee commented on #19
I think what he means is the VS code extension should create the package if not exist by reading the package definition on the java file.

[2018-09-27 12:00] #19 closed

[2018-09-27 12:00] cbwilliamsnh commented on #19
It's working as advertised!

[2018-09-29 09:04] akaroml commented on #25
Taking this request to the backlog.

[2018-09-29 09:04] akaroml commented on #25
Taking this request to the backlog.

[2018-09-29 13:56] #32 closed

[2018-09-29 13:56] #31 closed

[2018-10-01 20:28] mattcobley opened #41 "Support for overriding properties in Spring Boot apps"
It would be great if the ability to override values for properties was made available when running/debugging Spring Boot applications.

This would allow a file like application.properties - which might contain variables instead of real values for use with something like Octopus Deploy - to be left as they are, but values for running locally to be specified in the debug config, in a similar manner

[2018-10-08 05:02] yaohaizh commented on #41
This issue was moved to Microsoft/vscode-java-debug#451

[2018-10-08 05:02] #41 closed

[2018-10-08 09:07] apupier opened #42 "[error] command 'java.execute.workspaceCommand' not found: Error: command 'java.execute.workspaceCommand' not found"
I installed the Java pack. When i try to open a Java file, I have an error popup saying that a command is missing.
In Log (Window) there are several stacktraces (including one with the message mentioned):

[code]

[2018-10-08 18:03] ramya-rao-a opened #43 "Please use the latest version of vscode-extension-telemetry-wrapper dependency"
This extension uses version 0.3.0 of `vscode-extension-telemetry-wrapper`  module.

The latest version of `vscode-extension-telemetry-wrapper` module (0.3.2) uses the latest version of `vscode-extension-telemetry` module (0.0.22) which has the fix to prevent unnecessary patching of the require and other 3rd party modules.

For more details, please see https://github.com/Eskibear/vscode-extension-t

[2018-10-08 18:13] viraj1994 opened #44 "visual studio code removes import statements on save"
do check the video link

https://drive.google.com/file/d/16bxoqj-4pA_aJAOChTpLpinpaiZCwwQf/view

[2018-10-09 07:51] apupier commented on #42
the issue was coming from a duplicated name of command registered. I changed it in Apache Camel extension (naming was not great for this extension)

thought for later:
- would be nice to provide who has registered the "already registered command" to know which extensions are conflicting
- would be nice to have a convention for command name and having warnings when not following it to avoid conflic

[2018-10-09 07:51] #42 closed

[2018-10-11 20:13] habi3000 opened #47 "Is it possible to export to war??"
Hello, I am building a mevan java web application but I can not figure out how to export my project to a war file which is I really need. So is it possible ??
kind regards.

[2018-10-12 01:46] SummerSun commented on #47
The VS Code extension [Tomcat form Java](https://marketplace.visualstudio.com/items?itemName=adashen.vscode-tomcat) provides a command `Generate War Package from Current Folder`, guess that is what you need.

[2018-10-12 02:29] Eskibear commented on #47
@habi3000  You can use the [Maven WAR Plugin](https://maven.apache.org/plugins/maven-war-plugin/usage.html) to achieve that.

[2018-10-12 03:02] paulvi opened #48 "Question: Should "Extension Pack" have own contribution to the VSCode?"
Is conceptually correct that "Extension Pack" is actually has own contribution to the VSCode?

[2018-10-12 22:44] alexkoszarek opened #49 "No Side-scroll support"
Unable to use side-scrolling on the mouse within Visual studio code.  It jumps to where the cursor is on screen, but cannot be manually shifted with a scroll wheel that supports side-scrolling

[2018-10-15 01:08] andxu commented on #48
Yes, the fresh vscode distribution doesn't support for java unless you install the java related extension.

[2018-10-15 03:15] akaroml commented on #49
By side-scrolling, do you mean scroll horizontally?

[2018-10-15 03:38] akaroml commented on #48
@paulvi Thanks for the question. The point of the contribution is to help users discover features. We observed that feature discoverability is a major issue. This is the effort to address the issue.
Can you tell me more about your thoughts?

[2018-10-15 07:05] PilouUnic opened #50 "Question : Run JUnit for Java 6 program"
Hello, how can i execute my JUnit tests in VSCode ? My app run with Java 6 and i can't upgrade it.
Thx.

[2018-10-15 13:21] akaroml commented on #50
@PilouUnic Currently the Java language server can work with Java 8, 9, 10 or 11. Unfortunately, Java 6 is not supported. Please check https://github.com/redhat-developer/vscode-java#quick-start for more info.

[2018-10-16 03:07] akaroml commented on #50
Opened Microsoft/vscode-java-test#345 to see if the Java Test Runner can support legacy Java versions.

[2018-10-16 03:07] #50 closed

[2018-10-16 03:09] akaroml commented on #47
@habi3000 Can the solutions mentioned above solve your problem?

[2018-10-16 03:18] andxu commented on #24
@ozzioma it is caused by your network, you might have a try on setting up the right proxy for vscode, see https://code.visualstudio.com/docs/setup/network, or manually download and install the extension as a workaround
see also at https://github.com/Microsoft/vscode/issues/42079 and
https://github.com/Microsoft/vscode/issues/42229

[2018-10-16 03:35] akaroml commented on #24
@ozzioma please check the comment above and see if that solves your problem.

[2018-10-17 09:31] habi3000 commented on #47
Hello, @SummerSun thanks a lot for your response, I will check it.
Hello, @Eskibear I will try that too thanks a lot.
Hello, @akaroml Yes they can. Thanks a lot for your interest and keeping the issues clean.
kind regards.

[2018-10-17 09:31] #47 closed

[2018-10-22 13:50] akaroml opened #51 "Show Overview page in background after the first time"
Showing overview page every time a Java project is opened could block users' workflow. Here to track the effort of only showing the page in the foreground the first time. And later, the page should be shown in the background when the page is not requested by users.

[2018-10-24 21:58] Addibro opened #52 "[ClassName] has been compiled by a more recent version of the Java Runtime"
How do I downgrade the compiler to a lower java version, like 8?

This happens when I use the "Run" functionality in the main

Using the Java Extension Pack

[2018-10-29 03:29] #49 closed

[2018-10-30 03:49] #24 closed

[2018-10-30 15:25] yaohaizh commented on #52
See this link for how to set JDK path: https://github.com/redhat-developer/vscode-java#setting-the-jdk

[2018-11-02 11:58] egamma opened #54 "No need to use the https://github.com/rauschma/openurl module to open a URL"
The extension is using the [openurl](https://github.com/rauschma/openurl) module to open a URL in the browser. This is the source [reference](https://github.com/Microsoft/vscode-java-pack/blob/4029b3d908e1eb7f4844e2bd1f2f9e97523e6bd9/src/overview/index.ts#L86).

The VS Code API supports this with the command `vscode.open`  ([see] (https://code.visualstudio.com/docs/extensionAPI/vscode-api-commands

[2018-11-05 10:38] akaroml commented on #54
Just tried to patch the Java Extension Pack to make it use `vscode.commands.executeCommand('vscode.open', uri)`. This works fine for `https` uris. But it has problem with uris like `vscode:extension/k--kato.intellij-idea-keybindings`. Here’s the error message:

I used this to allow users to install an extension without leaving vscode. Is there any alternative or can we whitelist `vscode` resource

[2018-11-05 15:41] egamma commented on #54
This looks like an issue on the vscode side. Can you please file an issue against VS Code so that we can track it on our side.

[2018-11-06 05:49] akaroml commented on #48
The Overview page should show automatically when you work with Java files or projects. Or you can use `Java: Overview` command to see the page.

Here's my opinion of extension packs. An extension helps users to acquire necessary tools for a certain development scenario. On top of that, it also helps users get started with documents and suggestions. So in short, it's the channel of both distributio

[2018-11-13 02:25] ramya-rao-a commented on #43
@Eskibear As you know, we now have to update version 0.3.4 of the `vscode-extension-telemetry-wrapper` as per https://github.com/Eskibear/vscode-extension-telemetry-wrapper/issues/22

[2018-11-15 10:07] akaroml opened #62 "Chinese Language Support"
We have lots of Chinese developers. It would be great if we can provide a localized interface. This issue is to track the effort of building the localization story.
Supporting Chinese is a start. Once the solution is working, we can expand the support to other languages.

Here are the issues created to track the progress of related extensions:
- [ ] Java Language Server redhat-developer/vscode-jav

[2018-11-20 12:56] akaroml commented on #51
This depends on Microsoft/vscode#62375
We'll need vscode to provide API to achieve that.

[2018-11-28 01:26] vishalpmittal opened #68 "jdk8 not found errors, even though maven install works"
Code just refuses to identify jdk 8. But if I right click maven project > myproject and click install, the maven project installs fine.

I keep seeing 1.8 error in problems tab:
 "Lambda expressions are allowed only at source level 1.8 or above [1610613381] (line, column)"

User settings.json
"java.home": "/Library/Java/JavaVirtualMachines/jdk1.8.0_191.jdk/Contents/Home",

Code : Version 1.29.1 (1

[2018-11-28 01:29] #68 closed, assigned to nobody

[2018-12-01 00:57] zhangqi26 opened #71 "NPE with Spring Boot Data LDAP"
VSCode Version: 1.29.1
OS Version: Win and Mac
Steps to Reproduce:

This is a very basic demo about Spring Data for LDAP in unit testing. Please refer to the following code:
@RunWith(SpringRunner.class)
@DataLdapTest
public class DirectoryTests {

@Autowired
private LdapTemplate ldapTemplate;

@Test
public void whenFindByTitleThenReturnDiscipline() {
    LdapQuery query = LdapQueryBuilder.query().

[2018-12-01 00:58] zhangqi26 commented on #71
I was redirected from VS repo. Please refer to the original post at https://github.com/Microsoft/vscode/issues/63694.

[2018-12-01 04:15] akaroml commented on #54
Addressed in #69

[2018-12-01 04:15] #54 closed

[2018-12-01 04:16] akaroml commented on #71
Thanks for reporting this. @zhangqi26
@jdneo Please take a look.

[2018-12-01 04:20] akaroml commented on #48
Feel free to reopen if we need to continue the conversation.

[2018-12-02 10:09] jdneo commented on #71
Please track the issue here: https://github.com/Microsoft/vscode-java-test/issues/483

[2018-12-02 10:09] #71 closed

[2018-12-06 02:35] akaroml opened #76 "✅ Test Plan"
## Install
- Be able to install the extension using .vsix package

## Present "Java Overview" page
- Present "Java Overview" page automatically when
  - A .java file is opened
  - A Java project is opened
- Should NOT present "Java Overview" automatically when
  - The option "Show overview page when using Java" is unchecked
  - Non-java files/projects are opened
- Show overview page using command

[2018-12-08 05:50] 2392880946 opened #78 "Java Exception log at debugging console"
Java Exception log at debugging console  not the font color ，and not click the Exception to source file;

[2018-12-14 13:53] vrotaru opened #81 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.5.0`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.30.0`
[vscjava.vscode-java-pack-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-java-pack/files/2680289/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt)

[2018-12-15 05:04] #52 closed

[2018-12-17 05:10] akaroml commented on #81
Thank you for reporting the issue. @vrotaru Could you provide more info on the scenario of using the Java Pack? For example, are you opening a project or typing code or running some test cases?

At the same time, @yaohaizh @jdneo @testforstephen @Eskibear could you please take a look at the attached CPU profile to see if there's anything?

[2018-12-17 06:53] vrotaru commented on #81
Switching git branches I guess. Sometimes just opening

[2018-12-17 14:05] yaohaizh commented on #81
@vrotaru So do you have lots of files changes (open/delete/add) when git branches?

[2018-12-17 14:08] vrotaru commented on #81
Well, it depends. I'd say moderate.

[2018-12-17 14:36] yaohaizh commented on #81
Okay, https://github.com/eclipse/eclipse.jdt.ls/issues/824

There are some perf issues when the vscode java has lots of file change. So in your case, could you let us know more about your scenarios:

1. How large is the change file size? dozens? hundreds? or thousands?
2. Will the CPU load come to normal after some periods of time?
3. When cause the high cpu load, what the status messages are? Bui

[2018-12-17 15:00] vrotaru commented on #81
well that's about a 155 java files within 3 maven sub-modules and

`fd -t f -e java | xargs wc -l` gives me a total of `17 589` lines of code

[2018-12-18 20:09] burakkaanerce opened #82 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.5.0`
- OS Version: `Linux x64 4.15.0-39-generic`
- VSCode version: `1.30.0`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/todhelder/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extens

[2018-12-20 06:41] vdapeng opened #83 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.5.0`
- OS Version: `Darwin x64 16.7.0`
- VSCode version: `1.30.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/Ken/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high

[2018-12-24 06:59] vdapeng opened #84 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.5.0`
- OS Version: `Darwin x64 16.7.0`
- VSCode version: `1.30.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/Ken/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high

[2018-12-27 06:49] akaroml commented on #82
Thanks for reporting. This is currently tracked with #81
Close this one.

[2018-12-27 06:49] #82 closed

[2018-12-27 06:50] akaroml commented on #83
Thanks for reporting. This is currently tracked with #81
Close this one.

[2018-12-27 06:50] #83 closed

[2018-12-27 06:50] akaroml commented on #84
Thanks for reporting. This is currently tracked with #81
Close this one.

[2018-12-27 06:50] #84 closed

[2018-12-27 16:08] Akhilkokani opened #86 "Automatically page scrolling up, after typing!"
Whenever I type something, automatically VS Code scrolls up a bit.

I tried to clarify whether this was really because of vscode-java-pack, and I found out, whenever I remove Java Pack extension, everything works fine.

Here's video link (Unlisted) which showcases, VS Code automatically scrolling up whenever I hit space.
[https://youtu.be/n7ziWJbog2Q](https://youtu.be/n7ziWJbog2Q)

[2018-12-28 20:36] rainer2208 opened #87 "Java new maven project unable to choose folder"
I am working on a Ubuntu 18.10 machine.

Over the last days, I installed VS-Code to use it with java. I followed the instructions [here](https://code.visualstudio.com/docs/languages/java), especially installing the Java Extension Pack, including maven support.

Now, when I open VS-Code, the java support page opens and I choose Create Maven Project.  I get a list of Maven archetypes to select from,

[2018-12-31 09:55] thoni56 opened #88 "Java Test Explorer"
[Test Explorer UI](https://marketplace.visualstudio.com/items?itemName=hbenl.vscode-test-explorer) is a handy way to explore, run and visualize your tests directly from the test explorer.

I'm wishing for a Test Adapter for Junit et al. I'm really missing a red/green bar...

[2019-01-01 13:38] yaohaizh commented on #88
This issue was moved to Microsoft/vscode-java-test#552

[2019-01-01 13:38] #88 closed

[2019-01-04 05:01] akaroml commented on #86
Thanks for reporting this issue. @yaohaizh please take a look.

Here's the link to the youtube video.
https://www.youtube.com/watch?v=n7ziWJbog2Q&feature=youtu.be

[2019-01-04 05:02] akaroml commented on #87
Thanks for reporting this issue.
@Eskibear please take a look.

[2019-01-04 05:06] Eskibear commented on #87
It's a known issue, tracked in both repos.
VSCode-Maven: https://github.com/Microsoft/vscode-maven/issues/141
VSCode: https://github.com/Microsoft/vscode/issues/62704

[2019-01-04 05:09] akaroml commented on #87
This is reproducible and reported to VS Code repository. Again, thanks for reporting @rainer2208
Please check the updates in Microsoft/vscode#62704

[2019-01-09 07:07] yaohaizh commented on #86
@Akhilkokani , I cannot repro this issue. What's the version of VSCode? What's the list of extension you installed?

If possible, could you share your repro project?

[2019-01-10 01:15] sana-ajani opened #89 "Weird Java error"
This might be an issue with the language server, but I received the same error twice (the number at the end is the same for both) but the message is slightly different. Is the top one a bug?

![image](https://user-images.githubusercontent.com/9721254/50939502-01a4ab00-1432-11e9-886d-93c6b9d716d4.png)

[2019-01-10 02:37] andxu commented on #89
It comes with eclipse jdt of new compiler for java8, see eclipse snapshot.

![image](https://user-images.githubusercontent.com/17075863/50942236-e33ac000-14c2-11e9-9767-d2f1a76e41e5.png)

[2019-01-15 02:59] akaroml commented on #89
I understand that Eclipse behaves the same. But can we verify whether this makes sense and provide some further help?

[2019-01-23 07:19] Eskibear commented on #43
Already shipped.

[2019-01-23 07:19] #43 closed

[2019-01-29 03:02] #86 closed

[2019-01-29 09:52] akaroml commented on #89
@yaohaizh please take a look and see whether we can take further action to make the experience more smooth.

[2019-01-31 22:00] chhetrisushil opened #91 "Java pack is preventing activation of extensions"
In the latest version of vscode, only for Java projects, it get's stuck at "Activating Extensions".

VS Code: Version 1.30.2 (1.30.2)
Java pack: 0.5.0

vim for vscode doesn't work due to this. If I open a non-java project or if I uninstall this extension everything works fine.

Do let me know if you need more info.

[2019-02-01 00:37] tristan957 commented on #91
Not only does it fail, but it doesn't allow for typing into the editor.

[2019-02-01 01:52] yaohaizh commented on #91
@chhetrisushil  @tristan957  Reproed  this issue. Looking into this issue now.  Thanks.

[2019-02-01 04:44] yaohaizh commented on #91
@chhetrisushil @tristan957 I did repro this issue this morning. But cannot repro this now on either VSCode or VSCode insider version. It seems a networking problem.  Could you help try it another time to see whether the issue persists. Thanks.

[2019-02-01 06:50] chhetrisushil commented on #91
@yaohaizh indeed, even I'm not able to reproduce it anymore.

Thanks for the quick response!

[2019-02-01 06:50] #91 closed

[2019-02-01 16:53] riccardopulcini opened #92 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.5.0`
- OS Version: `Windows_NT x64 10.0.15063`
- VSCode version: `1.30.2`

[vscjava.vscode-java-pack-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-java-pack/files/2822521/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt)

[2019-02-01 20:13] tristan957 commented on #91
Not on the computer I was experiencing this on, but I'll let you know if it doesn't work. It was a very weird issue because the extension pack nor the child extensions had been updated recently when I experienced the issue. Thanks for checking on it!

[2019-02-04 03:39] sombriks opened #93 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.5.0`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/sombriks/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes

[2019-02-05 13:21] hemangajmera opened #94 "Support to add Jar file or any other file/directory to classpath"
The extension does not support addition external jar file to the classpath. The only way is to manually add it to .classpath file. Please refer to https://stackoverflow.com/questions/50232557/visual-studio-code-java-extension-howto-add-jar-to-classpath/54535301#54535301

[2019-02-10 02:23] tristan957 commented on #91
This error is back. I think I am done using this extension. I'll just install everything manually

[2019-02-14 10:20] akaroml commented on #92
Thanks for reporting. This issue was tracked by #81 and please refer to that one for updates.

[2019-02-14 10:20] #92 closed

[2019-02-14 10:21] akaroml commented on #93
Thanks for reporting. This issue was tracked by #81 and please refer to that one for updates.

[2019-02-14 10:21] #93 closed

[2019-02-15 05:07] pehalo opened #95 "Repeated start of spring boot will cause the output to fail to switch"
I started a spring boot, then modified some configurations and started it again. All of them started successfully. Then I switched the output console and found that I couldn't switch to the output of the first startup. Then I turned off the last startup program. At this time, you can see the output of the program that was started for the first time.

[2019-02-15 05:51] akaroml commented on #94
@yaohaizh  please help link this issue to vscode-java's new feature of adding Jar dependencies directly.

[2019-02-15 05:51] akaroml commented on #95
@Eskibear could you please take a look?

[2019-02-15 05:55] akaroml commented on #81
One more question, are those files opened in VS Code? We need this info to determine whether the file open handler caused the high CPU load.

[2019-02-15 06:04] tristan957 commented on #91
I am starting to think this is a problem with upstream VSCode. I had this happen again very recently and I don't have the pack installed anymore but I am not sure how to reproduce consistently

[2019-02-15 06:32] Eskibear commented on #95
@pehalo I just tried starting the same project with 3 different configurations, and each time I changed the `server.port` to avoid port occupation. It works well, I cannot reproduce the issue you mentioned.

![tmp](https://user-images.githubusercontent.com/2351748/52838649-5ec90600-312e-11e9-8327-41fe058f2352.gif)

[2019-02-15 07:14] pehalo commented on #95
Your demo seems to generate two different names, I just click run and do not automatically generate a different name for the launch configuration.

[2019-02-15 07:32] vrotaru commented on #81
Nope, I had something like 10, max 15 files open

On Fri, Feb 15, 2019 at 7:55 AM Rome Li <notifications@github.com> wrote:

--
   Vasile Rotaru

[2019-02-15 07:32] Eskibear commented on #95
I use 2 different names because VS Code doesn't allow me to launch repeatedly. If you start the debug session by clicking the triangle button
![image](https://user-images.githubusercontent.com/2351748/52841211-a0f64580-3136-11e9-841b-e5eb8f8b6d71.png)
then you get the error message.
![image](https://user-images.githubusercontent.com/2351748/52841198-920f9300-3136-11e9-9f89-78398169ef80.png)

By cl

[2019-02-15 07:34] Eskibear commented on #95
I think the debugger extension should be consistent with VS Code's preference, i.e., reject to launch repeatedly. cc @testforstephen

[2019-02-15 10:46] akaroml commented on #81
Thank you for the info @vrotaru This helps narrow down the scope.

@Eskibear is now on it.

[2019-02-18 01:11] pehalo opened #96 "Unable to generate getter and setter for inner class"

[2019-02-18 10:39] testforstephen commented on #96
Migrated to the issue https://github.com/redhat-developer/vscode-java/issues/804

[2019-02-18 10:39] #96 closed

[2019-02-19 05:36] toaruKen opened #98 "crash"
Issue Type: <b>Bug</b>

The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted.

Extension version: 0.5.0
VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5 CPU       M

[2019-02-20 10:03] npilipovic86 commented on #98
same issue for me

[2019-02-21 08:46] superadmini opened #104 "Please recommend a good plugin for encoding jsp files. Thank you"
thinks~~

[2019-02-22 09:20] akaroml commented on #98
The Java Language Server just released the new version 0.39.0. @toaruKen  @npilipovic86 would you please try update to that version and see whether that solves the problem?

[2019-02-22 09:31] npilipovic86 commented on #98
Update done, same behavior. I cant disable or uninstall extension (Cannot uninstall extension 'Language Support for Java(TM) by Red Hat'. Extensions 'Spring Boot Tools', 'Debugger for Java' and others depend on this.). Some idea?

[2019-02-23 03:32] yaohaizh commented on #98
@toaruKen @npilipovic86  Could you guys help invoke "Java: Clean workspace..." and restart VSCode Java? It might have some stale data need update in the crash case. Thanks.

[2019-02-23 19:58] mattflix opened #105 "How to attach JavaDoc .jar for library .jar and get editor to show the documentation?"
I have tried various techniques to specify the JavaDoc `.jar` that should be attached to a given library `.jar` (that appears in the "Referenced Libraries" section of the "JAVA DEPENDENCIES" view, and is successfully used by my app), but nothing has worked.

Currently, the only JavaDoc documentation that appears in the editor for me is that for the built-in objects/members, like `Object` and `toSt

[2019-02-23 20:02] mattflix commented on #105
Btw, I have tried:
- Adding an matching `.properties` file next to the library `.jar` and setting a `"doc"` property to point at the JavaDoc `.jar`.
- Adding an `<attributes>` section for the library `.jar`'s entry in the `.classpath` file, with a `"javadoc_location"` attribute pointing at the JavaDoc `.jar`.

After each attempt to configure my project, I have tried both running the "Java: Refresh

[2019-02-27 03:43] akaroml commented on #105
@yaohaizh do you have any suggestion?

[2019-02-27 04:17] yaohaizh commented on #105
This issue was moved to redhat-developer/vscode-java#813

[2019-02-27 04:17] #105 closed

[2019-03-01 21:46] deduper opened #106 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.6.0`
- OS Version: `Windows_NT ia32 6.1.7
601`
- VSCode version: `1.31.1`

[vscjava.vscode-java-pack-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-java-pack/files/2921147/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt)

[2019-03-03 17:24] Mr-Malone opened #107 "How does visual studio 2019 install the Java Extension Pack?"
How does visual studio 2019 install the Java Extension Pack?

[2019-03-04 02:29] yaohaizh commented on #107
@Mr-Malone This extension pack is mainly for VSCode but not targeting Visual Studio 2019. Though both support LSP, they have very different extension mechanisms. With this being said, this is out of scope of the extension pack.

[2019-03-04 02:29] #107 closed

[2019-03-04 02:31] Mr-Malone commented on #107
So how does Visual Studio 2019 use Java development?

[2019-03-04 02:45] yaohaizh commented on #107
AFAIK, VS 2019 doesn't have Java development support yet.

[2019-03-04 02:46] Mr-Malone commented on #107
What a pity, but is there a plan to support Java?

[2019-03-04 17:52] markshao opened #108 "code navigation always target to .class file even in my source code tree"
vscode version : 1.31.1
os: macos mojave 10.14.3
java extension version : 0.6
issue type : function?

maybe not an issue , but an improvement feature

[2019-03-05 18:43] nobodxbodon opened #109 "missing highlight on some non-ASCII identifiers"
Hi,

the differencies are in Line 4 between the English and Chinese versions as below:
![screen shot 2019-03-05 at 10 34 48 am](https://user-images.githubusercontent.com/392497/53828430-81329000-3f32-11e9-99bd-ce08f083fe9f.png)
`Calculator` class:
[code]
Identifers in Chinese:
[code]
I'm using vscode 1.31.1 with Java Extension Pack 0.6.0 under Mac.

Thanks.

[2019-03-05 18:57] nobodxbodon commented on #109
One additional test shows the method argument shows different too:
![screen shot 2019-03-05 at 10 55 41 am](https://user-images.githubusercontent.com/392497/53829612-63b2f580-3f35-11e9-84a8-2071651f99df.png)
[code]
Chinese version:
[code]

[2019-03-06 01:53] yaohaizh commented on #109
This issue was moved to redhat-developer/vscode-java#826

[2019-03-06 01:53] #109 closed

[2019-03-08 08:48] thanh125643 opened #110 "Java default format setting confick with vscode formatter"
Issue Type: <b>Bug</b>

autoformatwhensave is on
after i save for format
https://imgur.com/Vn62Xzn
and save one more time
https://imgur.com/DLxTv22
this have problem with maunul save too (Shift +alt+F)
this is my setting
[java setting](https://imgur.com/6DVynYk)
[vs code setting](https://imgur.com/fCYjSWC)

Extension version: 0.6.0
VS Code version: Code 1.32.1 (05f146c7a8f7f78e80261aa3b2a2e642586f

[2019-03-08 11:11] Proxymoron461 opened #111 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.6.0`
- OS Version: `Linux x64 4.15.0-46-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/toby/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-c

[2019-03-08 11:11] #111 closed

[2019-03-12 04:36] yaohaizh opened #112 "After close the February update of Java extension pack, no entry to retrieve it again"
Cannot find a list of history update list on the Java Overview page?

Should provide a list of previous update for Java.

[2019-03-13 04:01] #98 closed

[2019-03-13 10:42] rectcircle opened #113 "This extension changed node api and affects other extensions to run"
I also found the problem #91 , https://github.com/VSCodeVim/Vim/issues/3526

### reproduce:

1. VSCodeVIM need to set IM
[code]

2. open a java project

### I think I found the reason:

VSCodeVIM use `await util.promisify(fs.exists)` to check file exists. But the  extension warp `fs.exists`, lead to `fs.exsits[util.promisify.custom] == undefined`. so VSCodeVIM can't activation.

[vscode-java-pack

[2019-03-13 10:46] rectcircle commented on #113
I am a backend developer. Not very proficient js ts. The above conclusions are obtained through experiments.I hope developers can solve this problem.

[2019-03-15 10:15] akaroml commented on #113
@rectcircle thank you for reporting this issue. The source code you attached is generated by TypeScript compiler or webpack. You can see in the actual source that we didn't use `promisify` at all:
https://github.com/Microsoft/vscode-java-pack/blob/master/src/extension.ts#L14

I'll investigate and it would be very interesting to see how it ends.

Thanks again.

[2019-03-18 02:35] akaroml commented on #106
Thanks for reporting this issue. Close this one and track with #81 instead. Please find the updated in #81

[2019-03-18 02:35] #106 closed

[2019-03-21 10:52] developer-guy opened #116 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.6.0`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/batuhan.apaydin/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension

[2019-03-23 00:30] dsjLearningJava opened #117 "keyboard.nextDouble();"
Can anyone help me fix this problem please?

I get this error message after entering my input value:
// Debug Console Output
What's the price of a CD?
12
Unrecognized request: { _request: evaluate }

I am running windows 10 and the following version of VS Code:

Version: 1.32.3 (user setup)
Commit: a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4
Date: 2019-03-14T22:49:40.955Z
Electron: 3.1.6
Chrome: 66.0

[2019-03-23 02:01] testforstephen commented on #117
@dsjLearningJava See https://github.com/Microsoft/vscode-java-debug/issues/86#issuecomment-348163158. In order to support program input, you need change `console` in launch.json file to `integratedTerminal` or `externalTerminal`.

[2019-03-23 20:49] dsjLearningJava commented on #117
++++
Thanks for the response.  It worked.  However, do I have to make this entry for every *.java file that requires console input?  Is there a one-time entry that will automatically allow for the addition of the "console": "interatedTerminal/externalTerminal" when the debugger comes upon the keyboard.nextDouble();?

[2019-03-26 03:08] Eskibear commented on #81
VS Code has its official [Explain: extension causes high cpu load](https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load) for the issue.

https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load#code-loading

This is exactly what we find in cpuprofiles collected from related issues, that code loading blocks the thread. We've already enable bundlin

[2019-03-26 03:08] #81 closed

[2019-03-26 23:59] akaroml commented on #116
Thanks for reporting this issue. We found similar issues and they were all tracked in #81, which was closed yesterday. Please check the closing comment in #81 for more details.

[2019-03-26 23:59] #116 closed

[2019-03-27 00:03] akaroml commented on #117
No, it's not required to generate a launch.json for each java file you have. In real development, java source files are managed by projects. But with VS Code, you can bypass project and work directly with folders. Just place your java files in a folder and open that folder with VS Code. Then you only need to generate the launch.json and put it inside the same folder, all the java files will honor

[2019-03-30 14:30] BiN214 opened #120 "Error: A JNI error has occurred, please check your installation and try again"
![image](https://user-images.githubusercontent.com/33148430/55277330-dbf4b700-5339-11e9-85d5-115e15822b8c.png)
I think this refer to that compile version is not the same with runtime version,  but the javac and java command is working well in cmd, the code was useful eariler too.
Maybe the reason is that I had installed the plugin "Code Runner", It's seems that after I unstalled it, this poblem oc

[2019-03-31 00:31] MartinLeetCode commented on #120
+1  Having exactly the same issue with Mac version as well. Everything was working yesterday and I didn't change JDK or JRE at all.

<img width="1260" alt="Screen Shot 2019-03-30 at 6 30 27 PM" src="https://user-images.githubusercontent.com/48659365/55283167-12bad500-531a-11e9-9100-075c76b8c0e8.png">

[2019-03-31 13:53] dsjLearningJava commented on #117
Thank you.  I'm sorry I am only now responding to your response.  I appreciate your time.

Again, thank you.

[2019-03-31 13:55] dsjLearningJava commented on #117
Thank you for your help.  I appreciate it.

[2019-03-31 14:45] yuffo commented on #120
![图片](https://user-images.githubusercontent.com/26960269/55290502-9baf3a80-5406-11e9-89e9-1b8913285882.png)
+1

[2019-04-01 05:54] dsjLearningJava commented on #120
I'm having the same issue.

[2019-04-01 06:03] testforstephen commented on #120
Duplicated with https://github.com/Microsoft/vscode-java-debug/issues/555

[2019-04-02 03:06] testforstephen commented on #120
The hotfix release redhat.java@0.42.1 is published, please update the extension. Meanwhile, you might need to clean the workspace folders though, after reopening your folder.

[2019-04-02 03:06] #120 closed

[2019-04-02 08:11] rectcircle commented on #113
Hello
In VSCode, all extensions run in the same extended host process. This extension changes NodeAPI, which seriously affects the normal operation of other extensions.

This extension relies indirectly on [async-listener](https://github.com/othiym23/async-listener). The problem is as follows: This package will cause some NodeAPIs to be unavailable, such as `util.promisify(fs.exists)`.

The depend

[2019-04-02 08:23] yaohaizh commented on #113
@Eskibear please help investigate this issue.  https://github.com/othiym23/async-listener/blob/01a02ee123db3d4a98e0cc5dda6f8ef82c55f81e/index.js#L422

[2019-04-03 02:49] #117 closed

[2019-04-03 05:28] Eskibear commented on #113
I can reproduce this issue. `continuation-local-storage` is required by deprecated APIs, and will be removed in `vscode-extension-telemetry-wrapper@0.4.0`. I've published a `0.4.0-alpha`, it looks good.

Strangely, Maven extension also depends on the same vscode-extension-telemetry-wrapper, but it works well with VIM extension.

[2019-04-03 14:55] guohaodong1992 opened #123 "Merge empty folders into one path"
Hi,

I use VSCode to work in Java project, but sometimes it's annoying that every folder is displayed. It would be great to merge the empty folders and display only one path.

[2019-04-04 02:23] yaohaizh commented on #123
VSCode issue: https://github.com/Microsoft/vscode/issues/763

[2019-04-04 07:53] Eskibear commented on #113
That's because Maven extension is not activated immediately on startup.

I'll publish a new version of the wrapper and send out a PR to fix this issue.

[2019-04-10 05:29] csath opened #126 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.6.0`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.33.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/chanakaa/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-

[2019-04-11 14:08] holyrec1 opened #127 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.6.0`
- OS Version: `Darwin x64 18.5.0`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/carlos/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-h

[2019-04-11 14:26] holyrec1 opened #128 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.6.0`
- OS Version: `Darwin x64 18.5.0`
- VSCode version: `1.33.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/carlos/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-hi

[2019-04-11 14:29] yaohaizh commented on #127
Duplicate with #123.

[2019-04-11 14:29] #127 closed

[2019-04-11 14:29] holyrec1 opened #129 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.6.0`
- OS Version: `Darwin x64 18.5.0`
- VSCode version: `1.33.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/carlos/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-hi

[2019-04-11 14:30] yaohaizh commented on #128
Duplicate with #123.

[2019-04-11 14:30] #128 closed

[2019-04-12 05:01] akaroml commented on #126
Thanks for reporting the issue.

There's a chance that we observe high CPU load when multiple extensions get loaded simultaneously. Currently, we are not able to fix this from our side.

Please find more details in #81. And I'm closing this issue now.

[2019-04-12 05:01] #126 closed

[2019-04-12 05:01] akaroml commented on #129
Thanks for reporting the issue.

There's a chance that we observe high CPU load when multiple extensions get loaded simultaneously. Currently, we are not able to fix this from our side.

Please find more details in #81. And I'm closing this issue now.

[2019-04-12 05:01] #129 closed

[2019-04-14 14:02] mcneb10 opened #132 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.6.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\ben\vscjava.vscode-java-pack-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-ca

[2019-04-15 02:30] yaohaizh commented on #132
Duplicate with #126.

[2019-04-15 02:30] #132 closed

[2019-04-19 15:57] ejamshidiasl commented on #107
i my visual studio 2019 and in top panel (project selector page) i have java applications

[2019-04-21 18:39] pra-bhu opened #134 "Can't run maven java project."
Issue Type: <b>Performance Issue</b>

1) Doesn't debug
2) Java prediction sucks badly.
3) Takes forever to compile.
4) Java Dependencies doesn't load.
5) Get's stuck at background processes like Compiling Workspace, etc.
6) Creating a new file in the Explorer is a challenge. It gives only 2 seconds to add name.
7) lastly throws
[Error - 11:59:40 PM] Connection to server is erroring. Shutting down

[2019-04-22 10:33] MyatLinn3 opened #135 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.6.0`
- OS Version: `Linux x64 4.18.0-17-generic`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/home/myatlinn74/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extens

[2019-04-22 12:24] clairtonluz opened #136 "Extension causes high cpu load"
[vscjava.vscode-java-pack-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-java-pack/files/3103356/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.6.0`
- OS Version: `Linux x64 5.0.7-200.fc29.x86_64`
- VSCode version: `1.33.1`

Find more details here: https://github.com/Microsoft/vscode/w

[2019-04-23 20:25] zemiak opened #137 "A simple JavaEE/maven project - dependencies not recognized"
The code is here: https://github.com/zemiak/javarocks
Simple: Java 1.8.0.212, maven 3.6, MacOS 10.14.3
Maven project declares JavaEE 8 as "provided"
Packages not recognised, errors popping up.
No meaningful output in the "OUTPUT" window

See at least https://raw.githubusercontent.com/zemiak/javarocks/master/docs/Missing%20Packages.png

Thanks,
Miro

[2019-04-25 16:19] #134 closed

[2019-04-26 07:14] yaohaizh opened #141 "Java overview page will have multiple tabs during reload/restart"
1. Install vscode extension pack
2. Open a java project
3. Overpage showed, switch to another file
4. Close and reopen vscode

Expected: Should have only one overview page

Actually: Multiple pages appear

[2019-04-26 10:01] akaroml commented on #137
@yaohaizh looks like the language server is having trouble loading the dependencies. Please help transfer this issue to vscode-java repo and take a further look.

[2019-04-26 10:03] akaroml commented on #136
Thanks for reporting the issue.

There's a chance that we observe high CPU load when multiple extensions get updated simultaneously. Currently, we are not able to fix this from our side.

Please find more details in #81. And I'm closing this issue now.

[2019-04-26 10:03] #136 closed

[2019-04-26 10:04] akaroml commented on #135
Thanks for reporting the issue.

There's a chance that we observe high CPU load when multiple extensions get updated simultaneously. Currently, we are not able to fix this from our side.

Please find more details in #81. And I'm closing this issue now.

[2019-04-26 10:04] #135 closed

[2019-04-26 15:33] NikolasKomonen opened #142 "Re-using new OpenJDK recommendation in separate vscode extension"
Hi,

I recently saw this tweet: https://twitter.com/brunoborges/status/1121669654580064256
crediting @akaroml. This seems like a good feature to have in the XML language server, could you point to where this is implemented.

Also separately, a recommendation to allow some functionality to set/bring them to the `java.home`
preference in the case that they already have a JDK installed.

[2019-04-26 23:26] ThadHouse opened #143 "Java Development Kit Required webview always showing"
Ever since the update to 0.7.0, upon opening any Java project the Webview saying the JDK is required always pops up, even though my system has JDK 11 on it. The checkbox saying `Show overview page when using Java` is ignored as well.

![JavaMessage](https://user-images.githubusercontent.com/7727148/56840941-7237d200-683f-11e9-879b-a0c08fb27a3c.PNG)

##### Environment
- Operating System: Windows 10

[2019-04-26 23:36] ThadHouse commented on #143
It looks like why this is happening is my JDK returns the following as its string from `-version`

[code]

This fails the regex that is being used.

[2019-04-27 00:54] akaroml commented on #143
Thank you for your feedback and sorry about this case. A fix will be out next week to cover more JDK distributions correctly.

[2019-04-27 01:00] akaroml commented on #142
Thank you for the suggestion on the `java.home` setting. Our plan is to provide a consolidated view of all the Java related settings across different extensions.

Regarding the implementation, it has two parts:

1. The logic that runs in node.js environment to perform the actual detection and suggestion https://github.com/Microsoft/vscode-java-pack/tree/master/src/java-runtime
2. The logic that ru

[2019-04-27 01:01] akaroml commented on #137
Also @testforstephen you should also be able to move the issue since you are a committer now:)

[2019-04-27 01:09] ThadHouse commented on #143
Thanks. I guess maybe a bigger question is why isn't this extension just using the java home detection that the redhat extension exposes through it's extension API. That would give all the information required, make sure it's in sync, and reduce duplicated code. As an extension pack, this already has a dependency on that. All the other java extensions switched to use that API to reduce code duplic

[2019-04-27 01:17] akaroml commented on #143
I'm not aware of the extension API by Red Hat. Could you point me to that?

[2019-04-27 01:42] ThadHouse commented on #143
https://github.com/Microsoft/vscode-java-debug/blob/master/src/utility.ts#L108

It exposes the java home it finds for other extensions, and leaves it undefined if a jdk is not found.

This is the full API that is exposed
https://github.com/redhat-developer/vscode-java/blob/master/src/extension.api.ts

[2019-04-27 22:46] ThadHouse commented on #143
I think that might be a better option. I'll open another PR to use that concept as well, that way you can choose which solution you like better.

[2019-04-28 01:44] testforstephen commented on #137
Migrated the issue to redhat-developer/vscode-java#905

[2019-04-28 01:44] #137 closed

[2019-04-28 01:53] akaroml commented on #143
This is perfect. I'll try that too.

[2019-04-28 03:13] ThadHouse commented on #143
I opened up both as PRs so you can try both easily.

[2019-04-28 05:48] #143 closed

[2019-04-29 06:11] akaroml commented on #141
Microsoft/vscode#73017 was created to request API to fix this problem.

[2019-04-29 18:53] bradleesargent commented on #107
I have the same thing...
[does visual studio support the java language as it says.docx](https://github.com/Microsoft/vscode-java-pack/files/3128793/does.visual.studio.support.the.java.language.as.it.says.docx)

[2019-05-01 08:28] julieHzl opened #148 "VS Code Java Installer Error"
When I use the installer, an error occurs with the following log.
And I just click the Back button, and next again. It works without error.

In addition, I just found that it install a new version java-pack extension for me, although I already installed.
![image](https://user-images.githubusercontent.com/49508232/57010206-1948af00-6c2e-11e9-85af-e238bde84619.png)

env:
[code]
log:
[code]

[2019-05-01 15:06] julieHzl commented on #148
Internal error in VS Code Java Installer and we will repair by ourselves.

[2019-05-01 15:06] #148 closed

[2019-05-09 08:01] Eskibear commented on #113
should have been fixed since 0.7.0

[2019-05-10 03:29] bonaluo opened #151 "Code prompt display is incomplete"
Code prompt display is incomplete
![批注 2019-05-10 112609](https://user-images.githubusercontent.com/27731323/57500662-cb5f3580-7316-11e9-824d-bf6663a7147b.jpg)

[2019-05-11 15:38] Ld00d opened #152 "Question: Java Class Hierarchy Navigation"
Is there a way to navigate between implementation and overrides of interface or abstract class definitions? IntelliJ does this with an icon in the gutter that lets you traverse up and down the hierarchy. The icons appear next to the interface/class declaration and next to the methods.

[2019-05-16 05:40] yaohaizh opened #153 "Bug: Failed to activate tester extension when install pack extension"
**Environment:**a

Version: 1.34.20-insider (user setup)
Commit: e83e24a0c9225becd7341e56952177a20d5d4629
Date: 2019-05-15T18:06:45.467Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17763

**Step to Reproduce:**

1. Clean setup of VSCode
2. Install java extension pack

**Expected Behavior:**
Extension should load correctly

**Actual Behavior:**
Java

[2019-05-24 13:21] ntotten commented on #142
I have the same question about reusing the detection. I think it would be great if the Java detection and download UI were its own extension that many extensions could depend on. We have this same issue in the Salesforce Extensions.

[2019-05-25 07:16] akaroml commented on #152
@testforstephen would be the perfect person to answer this question.

[2019-05-25 07:17] akaroml commented on #153
Thanks for reporting the issue. @jdneo please take a look.

[2019-05-25 07:21] akaroml commented on #151
@bonaluo do you mean the full package name? If that's the case, then VS Code truncates the package name and place an ellipsis at the end. On the other hand, showing full package name would make the prompt window too wide to display.

Do you have any suggestion on the behavior of such case?

[2019-05-28 02:24] jdneo commented on #153
Thanks I will.

[2019-05-28 03:07] testforstephen commented on #152
`Type Hierarchy` is in progress. See the PR https://github.com/eclipse/eclipse.jdt.ls/pull/823
`Go to Override method` is also in our plan.

[2019-05-30 09:12] loretoparisi opened #155 "Bug: Java Unresolved compilation problems: cannot to import jar libraries"
- VSCode Version:
1.34.0

- OS Version:
macOS 10.14.5

- Java Extension Version:
4.988.808

- Java Version
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

Steps to Reproduce:

1. Create the `.project` file:

[code]
2. Create the `.classpath` file:

[code]

3. Run a java main with

[code]

4. Got an err

[2019-05-30 09:18] akaroml commented on #155
Thanks for reporting this issue.

@testforstephen could you help take a further look?

[2019-05-30 10:12] ddzy commented on #155
Same issue to me.
I found [issue#94](https://github.com/microsoft/vscode-java-pack/issues/94), but it seems not solved...

[2019-05-30 10:18] testforstephen commented on #155
Could you try the VS Code command "Java: Clean the Java language server workspace"?

[2019-05-30 10:29] loretoparisi commented on #155
@testforstephen just did from the commands, and confirmed. Then I re-run, but got exactly the same error.

[2019-05-30 11:06] testforstephen commented on #155
Any problems in the vscode PROBLEMS view?

[2019-05-30 12:26] loretoparisi commented on #155
@testforstephen not sure what you mean, shall I test anything with the view?

[2019-05-30 13:17] testforstephen commented on #155
NO, i mean do you see any errors in PROBLEMS view?
![image](https://user-images.githubusercontent.com/14052197/58635360-43ba8480-8320-11e9-8dcb-3b07eb148ec2.png)

[2019-05-31 13:40] loretoparisi commented on #155
@testforstephen well there are a few, but are mostly warning, type safety, so code related, not run time, like here

<img width="1053" alt="Schermata 2019-05-31 alle 15 39 02" src="https://user-images.githubusercontent.com/163333/58709387-55e90100-83ba-11e9-9a1d-6e8f451fe8f5.png">

[2019-06-02 12:20] testforstephen commented on #155
looks like the classpath issue, could you share us a sample project to help reproduce it?

[2019-06-03 07:41] loretoparisi commented on #155
okay, please give me few days, I will publish a sample project.

[2019-06-03 12:29] sandy081 opened #156 "Java Extension pack does not show contributed extensions"
Re: https://github.com/microsoft/vscode/issues/74489

**repo**
1. Open `java extension pack` in VS Code

**Bug**
The extension details page only shows a `contributions` section, and there is no information about which extensions it contributes

![image](https://user-images.githubusercontent.com/12821956/58504681-05666f00-8140-11e9-8ced-480b1ce8b592.png)

Looks like the Java extension pack is not p

[2019-06-06 07:15] Redik87 opened #157 "Bug"
**Environment:**

- VS Code Version: 1.35
- Extension Version: 0.17.0
- JDK Type & Version: 11
- OS Type & Version: Windows 10 1903

**Step to Reproduce:** Create new Maven project.

**Related Issues:** The error appeared after updating the Visual Studio Code to version 1.35

[2019-06-07 04:33] wcastrog opened #158 "Command "maven.goal.clean" fails. Cannot read property 'endsWith' of null"
Issue Type: <b>Bug</b>

Command "maven.goal.clean" fails. Cannot read property 'endsWith' of null

Extension version: 0.7.1
VS Code version: Code 1.35.0 (553cfb2c2205db5f15f3ee8395bbd5cf066d357d, 2019-06-04T01:17:12.481Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-2677M CPU @ 1.80GHz (4 x 1794)|
|GPU Status|2d_

[2019-06-07 09:00] StephanSvoboda commented on #157
Same problem for me mvn works fine outside of code
Version: 1.35.0 (user setup)
Commit: 553cfb2c2205db5f15f3ee8395bbd5cf066d357d
Date: 2019-06-04T01:17:12.481Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 6.1.7601

JDK Type & Version: ojdk 1.8.0.201-1

[2019-06-08 08:08] #151 closed

[2019-06-10 06:25] akaroml commented on #157
@Eskibear could you take a look?

[2019-06-10 06:26] akaroml commented on #158
@Eskibear could you take a look?

[2019-06-10 06:28] akaroml commented on #156
Thanks @sandy081. We'll update the vsce version in the next release.

[2019-06-13 12:08] gartho opened #159 "Status Bar updates continuously when typing code"
Issue Type: <b>Bug</b>

When typing Java code with a large Java project, the status bar continously flashes an update, saying it's Building Workspace, Validating Documents, Publishing... etc.

Extension version: 0.7.1
VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:29:22.216Z)
OS version: Darwin x64 17.7.0

[2019-06-14 08:01] yudar1024 opened #160 "please provide java class hierachy view"
## Suggestion
In some case we wanna know a interface default implements that provide by the lib author . This feature is provided by eclipse(F4) and idea(CTRL +H) using the hierachy view to show the class hierachy tree . Hope java pack can provide the same feature it is really useful

## Use Cases

## Examples

[2019-06-20 00:46] akaroml commented on #160
Thanks for the request. This issue is tracked by eclipse/eclipse.jdt.ls/508
@kittaakos already worked on a PR - eclipse/eclipse.jdt.ls#925

[2019-06-20 00:46] #160 closed

[2019-06-26 00:47] akaroml commented on #159
Thanks for reporting this issue. This looks like the language server is using the status bar to show the progress of background jobs. There's an effort going on to improve this. @testforstephen should be able to verify this issue.

[2019-07-02 04:22] hitwpf opened #162 "@Overwrite check not right"
Errors will be reported when @Overwrite added to the interface implementation method

[2019-07-13 07:42] snowdream commented on #25
please support gradle, Thank you.

[2019-07-18 06:14] beyond369 opened #163 "Please support tomcat servers for the development environment of Spring MVC.Spring MVC in China accounts for more than 70% #379"
Please support tomcat servers for the development environment of Spring MVC.Spring MVC in China accounts for more than 70% #379

[2019-07-18 06:16] beyond369 opened #164 "Ask Microsoft to develop a Tomcat server support plug-in, Please support tomcat servers for the development environment of Spring MVC. Spring MVC in China accounts for more than 70% #379"
Ask Microsoft to develop a Tomcat server support plug-in, Please support tomcat servers for the development environment of Spring MVC. Spring MVC in China accounts for more than 70% #379

[2019-07-18 06:16] beyond369 opened #165 "Ask Microsoft to develop a Tomcat server support plug-in, Please support tomcat servers for the development environment of Spring MVC. Spring MVC in China accounts for more than 70% #379"
Ask Microsoft to develop a Tomcat server support plug-in, Please support tomcat servers for the development environment of Spring MVC. Spring MVC in China accounts for more than 70% #379

[2019-07-18 06:16] beyond369 opened #166 "Ask Microsoft to develop a Tomcat server support plug-in, Please support tomcat servers for the development environment of Spring MVC. Spring MVC in China accounts for more than 70% #379"
Ask Microsoft to develop a Tomcat server support plug-in, Please support tomcat servers for the development environment of Spring MVC. Spring MVC in China accounts for more than 70% #379

[2019-07-18 07:44] akaroml commented on #164
#163

[2019-07-18 07:44] #164 closed

[2019-07-18 07:44] akaroml commented on #165
#163

[2019-07-18 07:44] #165 closed

[2019-07-18 07:44] akaroml commented on #166
#163

[2019-07-18 07:44] #166 closed

[2019-07-18 07:47] akaroml commented on #162
Do you mean `@Override` annotation?

https://www.baeldung.com/java-override

[2019-07-18 07:50] akaroml commented on #163
There is a Tomcat extension for VS Code.

Please give it a try
https://marketplace.visualstudio.com/items?itemName=adashen.vscode-tomcat

[2019-07-18 07:50] #163 closed

[2019-07-22 02:36] Jarvis-ZHChen opened #167 "Could not find or load main class when creating a new package"
step1: create new project from maven (quick start)
step2: create new package, then create a new java file with main method
step3: run this main method.

it seems VSCode cannot generate .class file and folder in 'target' folder. Or should I generate these my self ? what's more weird is that .class file will be generated automatically when restarting VSCode.
![image](https://user-images.githubuserco

[2019-07-23 04:42] testforstephen commented on #159
duplicated with https://github.com/redhat-developer/vscode-java/issues/996

[2019-07-23 04:42] #159 closed

[2019-08-01 08:01] #162 closed

[2019-08-07 06:48] akaroml commented on #167
@testforstephen seems like a project issue. could you take a look?

At the same time, is it possible that you share your project with us?

[2019-08-15 15:45] kdvolder commented on #51
I would also add that the overview page gets opened *again* even if it is already open, so after starting / restarting vscode a couple of times, unless you close the page each time, you will end up with a ton of 'Java Overview' pages crowding out the other editors in the Editor tabs area. It is mildly annoying to keep closing these pages over and over.

If the page is open, you should probably det

[2019-08-15 17:48] martinkoch-geniebelt commented on #94
I'm somewhat of a noob to this, but it seems quite odd to me that this is so difficult. [Stackoverflow](https://stackoverflow.com/questions/50749388/setting-the-classpath-in-a-visual-studio-code-maven-based-java-project) suggests a solution, but that doesn't work for me. I've tried both absolute and relative referencing of the jar file, putting the .classpath file in various locations, but it seem

[2019-08-16 22:49] mjbvz opened #171 "Webview does not set a content security policy"
Hi, I'm the developer of VS Code's webview API. I noticed that your extension seems to create a webview that does not set a [content security policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP). All webviews (even very simple ones) should set a content security policy. This help limit the potential impact of content injections and is generally a good measure for defense in depth.

We've

[2019-08-19 02:59] akaroml commented on #171
Ack.

That will be addressed in the coming release.

[2019-08-21 07:43] #167 closed

[2019-08-22 08:38] KonpakuSyl opened #174 "Can you add eclipse user_library support in the next version?"
## Suggestion

Can you add eclipse user_library support in the next version?

## Use Cases

Every time I add a lot of jars into my project, it will be very troublesome,
So I need an easier way to add jars.

## Examples
Like this

    <classpathentry kind="con" path="org.eclipse.jdt.USER_LIBRARY/7.0sp3"/>

But in the current version it doesn't work.

[2019-08-24 01:46] jmsnavarro opened #177 "VSCode requests that Java Development Kit is required on local machine"
VSCode requests that Java Development Kit is required in my local machine.

**Environment:**

- VS Code Version: 1.37.1
- Extension Version: 0.7.1
- JDK Type & Version: openjdk version "11.0.4" 2019-07-16
- OS Type & Version: Windows 10 1903 (local), Ubuntu 18.04 LTS (WSL)

**Step to Reproduce:**
1. I have my java project in WSL.
2. VSCode Installed Java Extension Pack remotely.

![image](https://

[2019-08-28 07:02] luozhouyang opened #178 "The import cannot be resolved"
**Environment:**

- VS Code Version: 1.37.1
- Extension Version: Java Extension Pack 0.7.1
- JDK Type & Version: Oracle JDK 1.8.0_201
- OS Type & Version: Mac 10.14.6

**Step to Reproduce:**

1. Open VS Code
2. Open a Java Project

**Expected Behavior:**

No warnings

**Actual Behavior:**
<img width="602" alt="屏幕快照 2019-08-28 下午2 57 30" src="https://user-images.githubusercontent.com/34032031/63833

[2019-08-28 07:38] luozhouyang commented on #178
It seems that not the extension caused this error but the project itself. Close.

[2019-08-28 07:38] #178 closed

[2019-08-29 11:02] gitorko opened #180 "Attaching debugger causes temporary java file to be created"
Attaching a debugger and inserting a break point is causing a temporary .java file to be created under following location
/home/user/.config/Code/User/workspaceStorage/7be5e099f5eab375ac8263262a29bd8f/shengchen.vscode-checkstyle/sync/11237118ee2d10dd6bc3775ae5da8a98/MyClass.java

This wasnt the case earlier (a few releases back), the breakpoint used to hit on the same class file and not create a t

[2019-08-29 11:03] #180 closed

[2019-08-29 11:04] gitorko commented on #180
https://github.com/redhat-developer/vscode-java/issues/1046

[2019-08-30 02:16] ewertonluna opened #181 "VS Code Java Installer Error: spawn filepath containing non-ascii char"
env:
[code]
log:
[code]

[2019-08-30 05:03] xuezha007 opened #182 "VS Code Java Installer Error"
env:
[code]
log:
[code]

[2019-08-30 05:36] akaroml commented on #181
@eskibear please take a look.

[2019-08-30 05:37] akaroml commented on #182
@eskibear please take a look.

[2019-08-30 05:44] Eskibear commented on #182
It cannot spawn CodeCLI to installer java-pack extension, possibly because the user name contains non-ascii chars.

@xuezha007 Looks that VS Code is successfully installed on your machine, for the moment, you can manually install "Java Extension Pack" in your VS Code as a workaround.

[2019-08-30 06:01] akaroml commented on #177
Thanks for the feedback.

The purpose of Java Extension Pack is to provide code understanding for better code editing experience. With that, you get auto-completion, refactoring, testing, etc. It packs various extensions to provide all the features. Among those extensions, `Java Language Support by Red Hat` contributes most of the features and it requires JDK to run. So that's why you get this hin

[2019-08-30 06:01] #177 closed

[2019-08-31 17:28] tranminhann opened #187 "VS Code Java Installer Error: Java Home not found"
env:
[code]
log:
[code]

[2019-08-31 22:35] DeividMartins opened #188 "VS Code Java Installer Error"
env:
[code]
log:
[code]

[2019-09-01 09:58] akaroml commented on #187
@eskibear please take a look.

[2019-09-01 09:58] akaroml commented on #188
@eskibear please take a look.

[2019-09-02 06:19] Eskibear commented on #181
We use node-winreg to search Windows Registry for VSCode installation details. Installation directory contains unicode chars, but was not correctly read by the lib. I believe that's the culprit.

By default the console is setup to use an encoding that suits the language of the Windows operating system installation. Windows uses codepages to specify encodings for the console.

See: https://github.c

[2019-09-02 06:21] Eskibear commented on #182
Duplicated with #181 See: https://github.com/microsoft/vscode-java-pack/issues/181#issuecomment-527017119
Let's track it there.

[2019-09-02 06:21] #182 closed

[2019-09-02 09:31] akaroml commented on #156
@sandy081 This was addressed in the 0.8.0 release.
![image](https://user-images.githubusercontent.com/16755094/64104755-6dfc6200-cda7-11e9-90a4-e5e1133ad687.png)

[2019-09-02 09:31] #156 closed

[2019-09-03 10:15] MonikaR23 opened #195 "VS Code Java Installer Error"

[2019-09-03 10:18] #195 closed

[2019-09-03 18:25] EndrioInfiniti opened #196 "VS Code Java Installer Error: spawn msiexec.exe ENOENT"
env:
[code]
log:
[code]
So I was installing this pack while this error occured. I tried it two times still that error was occuring. Is there any solution to this?

[2019-09-04 03:10] akaroml commented on #196
@eskibear please take a look.

[2019-09-04 08:47] rawler commented on #20
I've had to drop this extension because the generated files somehow mess with command-line runs of maven. "mvn verify" would work the first time, but would fail at random classpath-resolution the second time, requiring "mvn clean" between each test run.

The same problem affects the extension in VSCode, causing spurious class-resolution errors in the UI, but that is more acceptable than being forc

[2019-09-04 15:10] acbach opened #197 "VS Code Java Installer Error"
installer version: 0.1.2
env:
[code]
log:
[code]

[2019-09-04 15:53] acbach commented on #197
Fixed this bug by changing my windows user name from "Asbjørn" to "Bach"

[2019-09-04 15:53] #197 closed

[2019-09-04 19:43] aescribano21 opened #198 "VS Code Java Installer Error"
installer version: 0.1.2
env:
[code]
log:
[code]

[2019-09-05 02:24] Eskibear commented on #198
It looks you have VS Code installed on your machine, but the code cli cannot be recognized. What's the install location of  VSCode?

BTW, a workaround for you now is to install **Java Extension Pack** mannually in VS Code.

[2019-09-05 02:46] Eskibear commented on #196
Our installer cannot launch the msi installation for JDK. Is there any policy set on your machine that
forbid you to execute .msi files?
And can you run `where msiexec` in CMD, see if you have the msiexec.exe in your system path?

For the moment to get Java working for VS Code, you can manually download and install [AdoptOpenJDK_8_x64.msi](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases

[2019-09-05 08:01] pk3199 opened #199 "VS Code Java Installer Error: Code CLI not found"
installer version: 0.1.2
env:
[code]
log:
[code]

[2019-09-05 16:59] gitc-admin opened #200 "VS Code Java Installer Error"
installer version: 0.1.2
env:
[code]
log:
[code]

[2019-09-06 01:42] akaroml commented on #199
@eskibear please take a look

[2019-09-06 01:43] akaroml commented on #200
@eskibear please take a look.

[2019-09-06 03:12] Eskibear commented on #200
duplicate. please track #181

[2019-09-06 03:12] #200 closed

[2019-09-06 03:13] Eskibear commented on #187
I'm invesitigating the reason why Java Home is not found after installing the JDK.

[2019-09-06 03:14] Eskibear commented on #188
duplicate. please track #187

[2019-09-06 03:14] #188 closed

[2019-09-06 03:16] Eskibear commented on #199
I'm investigating the root cause.

[2019-09-06 03:20] Eskibear commented on #198
let's track "spawn ENOENT" issues in #196

[2019-09-06 03:20] #198 closed

[2019-09-06 03:20] Eskibear commented on #196
Here is a list of spawn ENOENT reported by users:
* #196 : `msiexec.exe`
* #198 : `C:\Users\<username>\AppData\Local\Microsoft\WindowsApps`

[2019-09-06 07:38] JVDZMN opened #201 "VS Code Java Installer Error"
installer version: 0.1.2
env:
[code]
log:
[code]

[2019-09-07 17:40] Akhil28600 opened #202 "VS Code Java Installer Error"
installer version: 0.1.2
env:
[code]
log:
[code]

[2019-09-08 09:51] accuware opened #203 "Error in delegate template"
**Environment:**

- VS Code Version:
Version: 1.38.0
Commit: 3db7e09f3b61f915d03bbfa58e258d6eee843f35
Date: 2019-09-03T21:47:00.464Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0
- Extension Version:
6.120.677
- JDK Type & Version:
java version "1.8.0_191"
Java(TM) SE Runtime Environment (build 1.8.0_191-b12)
Java HotSpot(TM) 64-Bit Server

[2019-09-08 09:56] accuware opened #204 "Keep old formatting after code block commenting and formatting the document"
## Suggestion
You should keep the formatting of a Java code block if commented out with `//`?
after `Format Document`. In some cases I was unable to restore the formatting after uncommenting the block again.

## Use Cases
Commenting a block of code and re-use it later.

You should keep the format

## Examples
Before `Format Document``

[code]
After commenting the block and `Format Document`:

[cod

[2019-09-09 02:02] Eskibear commented on #201
non-ascii chars in path, tracked in #181

[2019-09-09 02:02] #201 closed

[2019-09-09 02:07] Eskibear commented on #202
Thanks for reporting. let's `spawn` errors  in #196

[2019-09-09 02:07] #202 closed

[2019-09-09 02:38] Eskibear commented on #203
I can reproduce it. Looks it's a jdt.ls regression issue, see: https://github.com/eclipse/eclipse.jdt.ls/issues/1125

And current test case about anonymous declaration type is wrong, see https://github.com/eclipse/eclipse.jdt.ls/pull/1126/files#diff-f74e03645da29a0122b91cfda85783c6R1463

I'll open an issue there.

[2019-09-09 18:40] EmilyCher opened #205 "VS Code Java Installer Error"
installer version: 0.1.2
env:
[code]
log:
[code]

[2019-09-10 03:29] akaroml commented on #205
@eskibear please take a look.

[2019-09-10 04:09] akaroml commented on #204
Looks like a vscode feature. @testforstephen Does Java LS participate in the formatting process when commenting out a code block? I think it is a valid ask to keep the original formatting and restore it when uncommenting. Please see how this is possible.

[2019-09-10 04:10] akaroml commented on #203
Thanks @eskibear.

@testforstephen would you help follow up with the fix?

[2019-09-10 04:20] bpotvin commented on #177
I see that this was close and that's fine with me. I did some additional investigation and I wanted to follow up just to close the loop on my comment above.

I'm not sure that I communicated my concern correctly. I don't have any confusion over the purpose of the various Java-related extensions or the features they provide. In many circumstances, I have no problems with any of the extensions. Howe

[2019-09-10 06:12] Eskibear commented on #203
I've already created related PRs in both [eclipse.jdt.ui](https://git.eclipse.org/r/149139) and [eclipse.jdt.ls](https://github.com/eclipse/eclipse.jdt.ls/pull/1169).

[2019-09-10 21:51] aescribano21 opened #206 "VS Code Java Installer Error"
Tried to install and this error would appear before installing tried installing in another machine and it worked perfectly.

installer version: 0.1.2
env:
[code]
log:
[code]
   (installation folder of VS Code: C:\Users\aescr\AppData\Local\Programs\Microsoft VS Code )

[2019-09-11 06:31] Eskibear commented on #206
Well, the final step actually spawns below command to install the Java Extension Pack for you.
[code]
#### Workaround
Simply install the [Java Extension Pack](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack) by your own, and open a .java file to start the journey. (related settings have already been configured in previous steps.)

I'm still investigating the reason of

[2019-09-11 08:13] Eskibear commented on #181
@xuezha007 @ewertonluna @gitc-admin @JVDZMN
I've released a new version v0.1.3 of the installer, please download it 👉[**HERE**](https://aka.ms/vscode-java-installer-win)👈 and give it a try, see if you can successfully go though the whole installation.

[2019-09-11 14:02] WooojK opened #207 "VS Code Java Installer Error"
installer version: 0.1.2
env:
[code]
log:
[code]

[2019-09-13 15:23] jtancioc opened #208 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-13 15:31] #208 closed

[2019-09-16 01:55] Eskibear commented on #207
Can you try re-downloading the latest v0.1.3 installer(with the same link), see if the issue is gone?

See more in  https://github.com/microsoft/vscode-java-pack/issues/181#issuecomment-530272871

[2019-09-16 19:26] KofiShango opened #209 "VS Code Java Installer Error"
java pack errs out almost immediately. hope this helps.

installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-16 19:28] KofiShango commented on #209
Oh JDK_HOME isn't set. Can this be a popup of some kind in the installer?

[2019-09-17 00:48] daffa1pratama opened #210 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-17 18:57] HawaiianVibes opened #211 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-17 19:40] mdsamiulhasan opened #212 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]

[2019-09-17 19:47] mdsamiulhasan opened #213 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]

[2019-09-17 21:37] MathieuMhl opened #214 "hot update of .war with Tomcat"
Hello,

I'm currently on a Java / Angular JS project.
With Maven, I build one .war that I manage to deploy on my tomCat server.

Problem : I see that with debugg mod I can change java file, but I can't change any files from my .war without re-build again this .war ( I modify .js and .jsp).

Is there a solution?

Thank you

[2019-09-18 10:31] trish-unihyr opened #215 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-19 05:05] Eskibear commented on #213
duplicated with #212

[2019-09-19 05:05] #213 closed

[2019-09-19 05:05] Eskibear commented on #212
Could you paste full detailed log?

[2019-09-19 05:07] Eskibear commented on #215
When the error occurs, are you able to find and mannually execute the .msi installer?

[2019-09-19 05:16] Eskibear commented on #209
JDK_HOME is not required.

In step `Configure Java Settings`, it simply modifies your user settings to set `java.home`.  I guess something wrong occurs there. You can mannully set it to get it working.

Can you share the content of `C:\Users\<username>\AppData\Roaming\Code\User\settings.json`

[2019-09-19 05:52] #181 closed

[2019-09-19 05:53] Eskibear commented on #207
I'm closing it. feel free to reopen if you still suffer the same issue in 0.1.3

[2019-09-19 05:53] #207 closed

[2019-09-19 12:39] archimides opened #216 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-19 12:42] archimides commented on #216
duplicate issue, closing and will follow issue
https://github.com/microsoft/vscode-java-pack/issues/187

[2019-09-19 12:42] #216 closed

[2019-09-19 14:46] MehulSinha opened #217 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-19 16:23] Huayahg opened #218 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-20 03:18] venkataadithyavarmachendeti opened #219 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-20 06:46] Eskibear commented on #217
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-09-20 06:46] #217 closed

[2019-09-20 06:46] Eskibear commented on #219
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-09-20 06:46] #219 closed

[2019-09-20 06:47] Eskibear commented on #218
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-09-20 06:47] #218 closed

[2019-09-20 06:58] Eskibear commented on #210
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-09-20 06:58] #210 closed

[2019-09-20 06:59] Eskibear commented on #203
It should have been fixed, try the latest extensions.

[2019-09-20 06:59] #203 closed

[2019-09-20 08:30] Rc0420 opened #220 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-20 15:29] Eskibear commented on #220
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-09-20 15:29] #220 closed

[2019-09-21 02:22] andryphill opened #221 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-21 13:54] MInesGomes opened #222 "version control not working after upgrade vsc-> No Source control providers registered"
**Environment:**

- VS Code Version:
Version: 1.38.1
Commit: b37e54c98e1a74ba89e03073e5a3761284e3ffb0
Date: 2019-09-11T13:31:32.854Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0

- JDK Type & Version:
java version "1.8.0_191"
Java(TM) SE Runtime Environment (build 1.8.0_191-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.191-b12, mixed mo

[2019-09-22 09:33] SherKai opened #223 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-23 02:01] Eskibear commented on #223
Your JAVA_HOME was wrong, so the installer could not recognize it and thus downloaded a new one for you... You can set it to `C:\Program Files\AdoptOpenJDK\jdk-8.0.222.10-hotspot`  and relaunch the installer, it will recognize your installed JDK, and configure settings for you.

As for the reason why the Java Home was still not found after it installed a JDK for you, it's also reported in #187 ,

[2019-09-23 02:01] #223 closed

[2019-09-23 02:01] Eskibear commented on #221
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-09-23 02:01] #221 closed

[2019-09-23 09:11] goodnighteveryone opened #224 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-23 10:42] preethamkosuri opened #225 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-23 15:07] sidkanire opened #226 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.8.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.38.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\sidka\vscjava.vscode-java-pack-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-

[2019-09-24 05:25] Eskibear commented on #225
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-09-24 05:25] #225 closed

[2019-09-24 05:26] Eskibear commented on #226
Closing it, see https://github.com/Microsoft/vscode-java-pack/issues/81#issuecomment-476457431

[2019-09-24 05:26] #226 closed

[2019-09-24 05:38] Eskibear commented on #224
duplicate with #196

BTW, ` C:\Program Files\Android\jdk\microsoft_dist_openjdk_1.8.0.25`  looks more like a `JAVA_HOME`. The installer downloads and installs the JDK simply because it cannot detect an available one. Just FYI that you might confirm whether it's the correct value.

[2019-09-24 05:38] #224 closed

[2019-09-24 09:41] akaroml commented on #222
Thanks for reporting. It seems like a VS Code issue and there's already a bug tracking this. microsoft/vscode#81158

Let's take the discussion there.

[2019-09-24 09:47] akaroml commented on #214
I think this could be addressed using custom tasks, see https://code.visualstudio.com/docs/editor/tasks

You can define the steps to get the changes compiled and applied to a running Tomcat server.

[2019-09-24 09:52] akaroml commented on #211
Thanks for reporting. Issue #196 is tracking this. This one is closed.

[2019-09-24 09:54] akaroml commented on #206
Thanks for reporting. This is already tracked by #196 so I'm closing this one.

[2019-09-24 09:54] #206 closed

[2019-09-24 09:54] akaroml commented on #205
@eskibear ping...

[2019-09-24 13:59] Eskibear commented on #205
Java Home was still not found after it installed a JDK for you. It's also reported in #187 , let's track the issue there. So I'm closing it now.

And if you can find a `.log` file under `%TEMP%\vscode-java-installer`, please attach it in #187 , that'd be very helpful for us to figure out why.

[2019-09-24 13:59] #205 closed

[2019-09-24 22:48] HawaiianVibes commented on #211
Thank you Akaroml

[2019-09-25 02:13] goodnighteveryone opened #227 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-26 01:25] Eskibear commented on #227
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-09-26 04:50] goodnighteveryone commented on #199
my .log file
[.log](https://github.com/microsoft/vscode-java-pack/files/3655932/default.log)

[2019-09-27 11:23] Sam4rth opened #228 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-28 07:50] goodnighteveryone commented on #227
[.log](https://github.com/microsoft/vscode-java-pack/files/3665209/default.log)

[2019-09-28 12:03] mdsamiulhasan opened #229 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]

[2019-09-28 16:16] hanhao2006 opened #230 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-28 20:10] Neorya opened #231 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-29 07:18] andryphill opened #232 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-09-30 13:08] kiettv54 opened #233 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-10-01 04:54] goodnighteveryone commented on #227
[default.log](https://github.com/microsoft/vscode-java-pack/files/3674455/default.log)

[2019-10-01 04:56] goodnighteveryone commented on #227
[.log](https://github.com/microsoft/vscode-java-pack/files/3674463/default.log)

[2019-10-01 05:01] goodnighteveryone commented on #199
[.log](https://github.com/microsoft/vscode-java-pack/files/3674478/default.log)

[2019-10-01 13:10] kiettv54 opened #234 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-10-02 01:50] ZhongxuanWang commented on #167
I hope this might be the right answer for you since mine is different...

First compiler made a mistake that rather than this and made me feel nervous. SO I cleaned all the file in the workspace.. and tragedy happened on me.
Another new problem haunted me...And the way I solve it, is re-added my project into workspace and everything's done after then.

hopefully this helps

[2019-10-03 05:39] #209 closed

[2019-10-03 05:40] #212 closed

[2019-10-03 11:37] Alikareem69 opened #235 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-10-03 18:05] mostafakhaled1 opened #236 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-10-04 01:03] afnan1230 opened #237 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-10-04 20:48] jongio opened #238 "Java setup with VS Code Insiders"
## Suggestion

Add VS Code Insider support

## Use Cases

Requires VS Code

## Examples

I only have VS Code insiders on my machine.  The following article only works with VS Code, not insiders.  It would be great if I was given the option to run this with Insiders.

https://github.com/Microsoft/vscode-docs/blob/master/docs/languages/java.md

![image](https://user-images.githubusercontent.com/2163

[2019-10-05 15:11] Daniyalatjit opened #239 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-10-05 18:56] zeeshanahmaddar opened #240 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-10-08 02:39] Eskibear commented on #230
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-10-08 02:39] Eskibear commented on #231
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-10-08 02:40] Eskibear commented on #228
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-10-08 02:40] Eskibear commented on #232
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-10-08 02:40] Eskibear commented on #233
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-10-08 02:41] Eskibear commented on #234
duplicate with #233

[2019-10-08 02:41] #234 closed

[2019-10-08 02:41] Eskibear commented on #235
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-10-08 02:42] Eskibear commented on #236
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-10-08 02:43] Eskibear commented on #239
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-10-08 02:43] Eskibear commented on #240
duplicated with #199

Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file it in issue #199 ?

[2019-10-08 06:57] Eskibear commented on #227
From the log file, I see that you've tried to run the installer for multiple times. First the installer failed to install JDK for you, then you install AdoptOpenJDK by yourself, and get the error `Code CLI not found` after it installed VSCode for you. Is that true?

From the log, I find that `msiexec.exe` and `chcp` are missing in your system, can you help to run below commands in a CMD prompt?
*

[2019-10-08 09:54] #215 closed

[2019-10-08 11:58] Sam4rth commented on #228
[.log](https://github.com/microsoft/vscode-java-pack/files/3702221/default.log)

[2019-10-09 07:11] Eskibear commented on #228
{
  "errno": "ENOENT",
  "code": "ENOENT",
  "syscall": "spawn cmd.exe",
  "path": "cmd.exe",
  "spawnargs": [

From the log, I see `cmd.exe` was not found when searching registry for vscode installation records.

I guess there might be something wrong with you `PATH` env. Can you open a CMD prompt, and share the results of below commands?
* where cmd
* set path

e.g. Mine is
[code]

[2019-10-09 07:14] Eskibear commented on #237
Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file?

[2019-10-10 01:35] Eskibear commented on #229
Can you find a `.log` file under `%TEMP%\vscode-java-installer`, and attach the file?

[2019-10-10 02:39] Eskibear commented on #196
@EndrioInfiniti Can you check if msiexec.exe exists and `C:\Windows\System32` is in your PATH env? E.g. Open a CMD and run below commands:
* where msiexec.exe
* set path

[2019-10-11 01:52] Eskibear commented on #199
v0.1.4 has been shipped with the fix. Please re-download the installer, see if it works now.

[2019-10-11 01:56] Eskibear commented on #196
v0.1.4 has been released. It will use `%SystemRoot%\System32\msiexec.exe` even if you don't have it in PATH. You can re-download it [here](https://aka.ms/vscode-java-installer-win), see if it works now.

[2019-10-11 16:15] koolhandwv opened #241 "Can't find main error"
Whenever I run a piece of code I get the following errors:
Error: Could not find or load main class TestInvest
Caused by: java.lang.ClassNotFoundException: TestInvest

My setup work last week.  I didn't change anything in VS Code.   I did install jGrasp which might have changed some settings.  However, I've re-installed VSCode on a new machine and followed the same steps I did initially and I'm ge

[2019-10-12 01:24] testforstephen commented on #241
@koolhandwv Could you try the troubleshooting steps below? https://github.com/microsoft/vscode-java-debug/blob/master/Troubleshooting.md#program-error-could-not-find-or-load-main-class-x

[2019-10-12 01:51] testforstephen commented on #204
comment or uncomment a code block is the VS Code behavior, it will keep the original formatting, and Java LS will not affect the formatting.

From your description, i saw you manually invoke `Format Document` command on the commented code block, and you want the formatting back after uncommenting the code block, this is not supported yet.

I guess your request is asking Java LS to ignore the comme

[2019-10-12 04:54] neilyoung commented on #204
Right

[2019-10-12 04:58] accuware commented on #204
@testforstephen Exactly, this was the intention

[2019-10-14 05:14] Eskibear commented on #238
Insiders support is in the plan but has not been shipped yet. It was not as a first priority because we assumed that insider users should be competent to install and configure the extensions by themselves.

Current implementation is:
- If an insider version is installed, it will install and configure Java extensions for the insider version.
- Otherwise, it will install latest VSCode stable version

[2019-10-14 08:40] Eskibear commented on #238
v0.2.0 has been released, carrying the insiders support. Please [re-download](https://aka.ms/vscode-java-installer-win) and give it a try.

[2019-10-14 19:25] intin1beep opened #242 "Bug"
**Environment:**

- VS Code Version: 1.38.1
- Extension Version: 0.8.0
- JDK Type & Version: 12.0.2
- OS Type & Version: Windows 10 pro

So the red underline has stopped working and I cant find it on vscode settings, if i look further in the java extension.

**Step to Reproduce:**
1. Write some random text that should produce red underline

**Expected Behavior:**
Should show red underline on e.g.

[2019-10-15 16:15] jlsg commented on #241
I've been battling the same issue. This is with very simple java apps, helping someone with assignments in a learning java class. 1 or 2 files. I used to be able to Run or Debug with Codelens and hit breakpoints etc. Now nothing.

[2019-10-15 21:49] koolhandwv commented on #241
I'm extremely new and in my first java class.  I have followed the troubleshooting above and I'm still having the same issue.   It is now

cd 'c:\Users\me\Desktop\TCC\ITP120'; & 'C:\Users\shughes\.vscode\extensions\vscjava.vscode-java-debug-0.22.0\scripts\launcher.bat' 'c:\program files\java\jdk-12.0.2\bin\java' '--enable-preview' '-Dfile.encoding=UTF-8' '-cp' 'C:\Users\me\AppData\Roaming\Code\Use

[2019-10-16 01:32] testforstephen commented on #241
Could you share the log file to us?
Here is the command to show the logs.
**F1 -> Java: Open Java language server log file**

[2019-10-16 09:54] krsinghshubham opened #243 "VS Code Java Installer Error"
installer version: 0.2.0
env:
[code]

[2019-10-16 12:56] koolhandwv commented on #241
!ENTRY org.eclipse.jdt.ls.core 1 0 2019-10-16 08:54:47.177
!MESSAGE >> document/codeAction

!ENTRY org.eclipse.jdt.ls.core 1 0 2019-10-16 08:54:47.179
!MESSAGE >> workspace/executeCommand java.resolvePath

!ENTRY org.eclipse.jdt.ls.core 1 0 2019-10-16 08:54:47.349
!MESSAGE >> document/foldingRange

!ENTRY org.eclipse.jdt.ls.core 1 0 2019-10-16 08:54:47.399
!MESSAGE >> workspace/executeCommand vsco

[2019-10-16 13:21] testforstephen commented on #241
message: Preview features enabled at an invalid source release level 12, preview can be enabled only at source level 13; code: 2098258; resource: C:/Users/me/Desktop/TCC/ITP120/Invest.java;

This is a known issue https://github.com/redhat-developer/vscode-java/issues/1086, the fix will come in this week.

current workaround is **F1 -> Java: clean the Java language server workspace**

[2019-10-17 02:30] testforstephen commented on #241
[**Language Support for Java(TM) by Red Hat**](https://github.com/redhat-developer/vscode-java/blob/master/CHANGELOG.md#0510-october-16th-2019) extension 0.51.0 release has fixed this issue. Close it.

[2019-10-17 02:30] #241 closed

[2019-10-18 00:50] osterhoutan opened #244 "VS Code Java Installer Error"
Already have moth of the extensions installed, as well as the JDK 12 and of course vsCode but when I run the installer to check that I have everything it recommends it gives an "index mismatch" error.

The reason I am doing this, to begin with, is that the java dependencies extension, can't seem to find any library packages that are normally in the JDK (i.e. org.jUnit or anything else from org) de

[2019-10-18 01:56] Eskibear commented on #244
Thanks for reporting. As you know the environment of each machine varies, we've been trying to cover as much as possible.  Please take some time to provide below details if you are willing to help.
* What's the full log displayed in the installer, in the textbox where you click the report button. Please paste it here.
* What's your VS Code version and installation path?
* What's your JDK version (

[2019-10-18 01:58] Eskibear commented on #244
Please also take a look at the `.log` file under `%TEMP%\vscode-java-installer`, there would be some verbose info, please attach it here.

[2019-10-18 04:42] Eskibear commented on #243
Please take some time to provide below details if you are willing to help.
* What's the full log displayed in the installer, in the textbox where you click the report button. Please paste it here.
* What's your VS Code version and installation path?
* What's your JDK version (12) and its path?
* Have you set JAVA_HOME env? What's its value?
* What's your PATH env, it seems incomplete here in this

[2019-10-18 16:21] Aurorapwilson opened #246 "vscode-java-installer v0.2.1 error"
installer version: 0.2.1
env:
[code]
log:
[code]

[2019-10-20 18:47] ScreamingHawk opened #247 "Bug: Pasting doesn't remove selection"
**Environment:**

- VS Code Version: 1.39.2
- Extension Version: 0.8.0
- JDK Type & Version: Java 9+181
- OS Type & Version: Windows_NT x64 10.0.15063

**Step to Reproduce:**
1. Highlight text (click and drag)
2. Copy text (Ctrl + C)
3. Paste text (Ctrl + V)

**Expected Behavior:**
Text selection has not changed

**Actual Behavior:**
Paste overwrites the selected (identical) text. Text becomes uns

[2019-10-21 02:06] Eskibear commented on #246
Looks during configuring stage, the installer cannot find any installed VSCode in registry.

Please also take a look at the `.log` file under `%TEMP%\vscode-java-installer`, there would be some verbose info, please attach it here.

[2019-10-21 05:53] akaroml commented on #247
Thanks for reporting. @ScreamingHawk

I can reproduce this and it seems this issue is only with Java code. @testforstephen please see whether the LS is doing something wrong.

[2019-10-21 06:16] akaroml commented on #242
@intin1beep thanks for reporting this.

@testforstephen could you please take a look?

[2019-10-21 08:58] Murazaki opened #248 "First View page cannot be disabled"
## Suggestion

Add an option to **NOT** show the **First View page**
For now, the only option is between *Getting Started* and *Overview*

https://imgur.com/a/G81eoGM

## Use Cases

Stop annoying users when they already have their own setup

[2019-10-21 10:10] testforstephen commented on #247
This is a recent feature "**organize imports on paste**" introduced by Java LS. When you paste a java code into current editor, the java LS will trigger organize import operation to add the missing import, that's why previous focus is lost. You can disable it via user setting `java.actionsOnPaste.organizeImports` to `false`

[2019-10-21 12:22] krsinghshubham commented on #243
the problem was i had jdk 12 insatlled globally but vscode installed java 8 somewhere in its environment. But after reinstalling java 13 and vscode everything is working fine. Thanks for your help.

[2019-10-21 12:22] #243 closed

[2019-10-22 03:25] akaroml commented on #248
Thanks for reporting this. We are in the progress of improving the getting started experience for Java developers. The way we present such info to the users will be revisited.

[2019-10-22 03:26] akaroml commented on #238
Thanks for the contribution.

[2019-10-22 03:26] #238 closed

[2019-10-22 03:31] akaroml commented on #247
This behavior is a bit strange. It actually stops people from copying and pasting whatever is currently selected. It's like interfering with the fundamental editing features. Please investigate how we can organize imports on paste while allowing users to actually paste.

On the other hand, VS Code actually have the alternative of copying the selection in place. Check the Selection > Copy Line Up/D

[2019-10-22 03:38] #240 closed

[2019-10-22 03:38] #239 closed

[2019-10-22 03:38] #236 closed

[2019-10-22 03:38] #235 closed

[2019-10-22 03:38] #233 closed

[2019-10-22 03:38] #232 closed

[2019-10-22 03:38] #231 closed

[2019-10-22 03:38] #230 closed

[2019-10-22 05:12] #199 closed

[2019-10-22 05:12] #196 closed

[2019-10-22 07:39] #227 closed

[2019-10-23 06:31] Eskibear commented on #187
@tranminhann We've fixed several bugs, can you have a try with the [latest v0.2.1 installer](https://aka.ms/vscode-java-installer-win), see if the issue still exist?
I'm closing this one now. If it still exists, please click "Report Issue" to open a new issue again, more information (like PATH variable)  would be collected there.

[2019-10-23 06:31] #187 closed

[2019-10-23 07:47] #237 closed

[2019-10-23 07:47] #228 closed

[2019-10-24 01:56] #229 closed

[2019-10-24 08:35] dtwen-mk opened #249 "vscode-java-installer v0.2.1 error"
installer version: 0.2.1
env:
[code]
log:
[code]

[2019-10-25 03:33] akaroml commented on #247
This is resolved with 0.52.0 release of vscode-java. redhat-developer/vscode-java#1115 redhat-developer/vscode-java#1116

[2019-10-25 03:33] #247 closed

[2019-10-25 04:27] akaroml commented on #214
I'm not aware of a built-in way without restarting Tomcat. But here's an article about the alternatives:
https://www.mulesoft.com/tcat/tomcat-reload

At the same time, you can also leverage the hot code replace feature of the debugger to apply code changes to a running JVM (with limitations):
https://github.com/microsoft/vscode-java-debug/wiki/Hot-Code-Replace

Hope that helps.

[2019-10-25 04:27] #214 closed

[2019-10-25 04:29] akaroml commented on #222
This issue was fixed at vscode side.

[2019-10-25 04:29] #222 closed

[2019-10-25 04:40] akaroml commented on #142
The question here is whether a dedicated extension just for acquiring Java runtime is worthy.

We try to avoid that in general, so I was looking for common ground. I just checked the Salesforce extensions and it turns out none of them depends on any Java extensions. So I failed to find one.

If we were to release such an extension, what kind of API would you be looking for? It would be very helpfu

[2019-10-25 04:43] akaroml commented on #152
Here to update that Go to Override was implemented and released as Go to Super Implementation. @Ld00d please check it out.

[2019-10-25 04:48] akaroml commented on #112
There is a Release Notes section in the Overview page now.

[2019-10-25 04:48] #112 closed

[2019-10-25 04:50] akaroml commented on #104
It's not necessarily a recommendation but the only JSP extension we can find in the marketplace is this:
https://marketplace.visualstudio.com/items?itemName=pthorsson.vscode-jsp

[2019-10-25 04:50] #104 closed

[2019-10-25 04:52] akaroml commented on #123
https://github.com/microsoft/vscode/issues/763#issuecomment-539430885

Update: the compressed tree will be introduced to solve this problem.

[2019-10-25 04:53] akaroml commented on #110
@testforstephen please take a look.

[2019-10-25 04:56] akaroml commented on #108
This happens when you go to the definition of a class that is defined in a .class or .jar file. Let us know if you do have the source code (.java) of that class but the language server insists on showing the .class file.

[2019-10-25 04:56] #108 closed

[2019-10-25 04:58] akaroml commented on #94
@Vigilans please take a look at this issue. Users are looking for a way of adding dependencies to their projects.

[2019-10-25 05:14] akaroml commented on #51
I totally agree. This is currently a limitation of vscode webview API. An extension is not able to know whether a webview is already persisted by vscode microsoft/vscode#73017. And now custom editor view is suggested to replace the webview microsoft/vscode#77131, and we'll see how we can adopt this.

[2019-10-25 05:26] akaroml commented on #48
I saw the discussion in microsoft/vscode#60718 and here are my thoughts.
1. Java Extension Pack does have dependencies, which is different from extensionDependencies and extensionPack.
2. Java Extension Pack does have extra functionalities to further help users getting started. Check out the getting started guide and the JDK acquisition guide. We don't see the need of having another extension just

[2019-10-25 05:26] #48 closed

[2019-10-25 05:28] akaroml commented on #20
We understand that people just hate this but there is not much progress made.

@testforstephen could you take a further look at the new comments in the redhat-developer/vscode-java#618

[2019-10-25 05:38] akaroml commented on #25
While we are working on other problems, it would be great if you guys can share the expectations of the Gradle extension if there were one. What tasks would you like to perform with this extension?
@rogersachan @aksh1618 @snowdream @skyflyer

[2019-10-25 05:40] akaroml commented on #18
@testforstephen could you take a look and evaluate the extension?

[2019-10-25 06:05] testforstephen commented on #242
@intin1beep Is Hello.java a single file you opened from an external file? Or is it belonged to the folder you opened in VS Code?

[2019-10-25 06:48] testforstephen commented on #204
@accuware The java extension provides a user setting `"java.format.comments.enabled"` to control whether to format the comment, it's enabled by default. Disable it will solve your issue.

![image](https://user-images.githubusercontent.com/14052197/67549274-741f1700-f736-11e9-9c80-f78ba78375e4.png)

[2019-10-25 06:48] #204 closed

[2019-10-25 06:57] paulvi commented on #48
There question was general asked a year ago,
when Extension Pack as feature of vscode just appeared.

And it was introduced as way to group Extensions.

If Extension Pack can have dependencies and own contributions,
how is it different from Extension ?

[2019-10-25 12:37] paulvi commented on #48
Thank you for explanation,

the difference is hard vs soft dependencies,
so potentially Extension Pack can activate/deactivate dependencies
according to user configuration, for example.

[2019-10-25 15:32] Ld00d commented on #152
I see Go to Super Implementation in the hover, and that works. Still not as simple as IntelliJ's approach, but I can work with this.

Thanks!

[2019-10-25 15:46] NikolasKomonen commented on #142
For the most part, we would be looking for an API to give us the java path.

In terms of functionality, I think maybe if our extension requested the java path through your API then your extension would check the most likely locations for the jdk/jre and give the user a choice to select the one they want (there may be multiple) and return that choice it to our extension.

Also somewhere in that req

[2019-10-29 06:18] testforstephen commented on #18
I have a try on the decompiler extension, it provides a good feature to decompile the .class file without source file, but missed some important features.

If you want the extension to be added to the pack, i wish to see these two issues to be addressed. At least, solve the first one first.
- The basic language server features don't work in the auto generated code. For example, "Go to Definition"

[2019-10-30 02:30] nimr77 commented on #94
It's so easy, anyway:
0. Creat project with java ctrl+shift+p
1. add the jar file to your .classpath
2. add on the top of your project package [app]; the name of your package
3. We are done, don't forget to refresh it.

[2019-10-30 16:47] tranminhann commented on #187
Thank you!

Vào 13:31, Th 4, 23 thg 10, 2019 Yan Zhang <notifications@github.com đã
viết:

[2019-11-01 02:06] #244 closed

[2019-11-04 02:25] #246 closed

[2019-11-07 09:59] #249 closed

[2019-11-07 12:37] prasadpy opened #252 "vscode-java-installer v0.2.1 error"
installer version: 0.2.1
env:
[code]
log:
[code]

[2019-11-07 15:16] gshiva53 opened #253 "vscode-java-installer v0.2.1 error"
installer version: 0.2.1
env:
[code]
log:
[code]

[2019-11-07 16:00] Eskibear commented on #253
Thank you for reporting the issue.

Can you check if the file `C:\Users\Shiva Gupta\Desktop\SEMESTER 1\INTRO TO PROGRAMMING\Microsoft VS Code\bin\code.cmd` exists?
And also can you open a CMD, type `code.cmd --version`  and see what's the output?

BTW, the installer has already configured related settings, and it just failed to install the Java Extension Pack for your. To get started with Java on

[2019-11-07 16:04] Eskibear commented on #252
It looks like the installer failed to set  `java.home` in your user settings.

Can you share content of the file `C:\Users\zy199\AppData\Roaming\Code\User\settings.json` if possible?

[2019-11-07 19:03] prasadpy commented on #253
C:\Users\rpeng>code.cmd --version
1.39.2
6ab598523be7a800d7f3eb4d92d7ab9a66069390
x64

[2019-11-07 19:05] prasadpy commented on #252
![Screenshot (1)](https://user-images.githubusercontent.com/47691667/68419042-829e1180-01bf-11ea-9add-373ebf590d4f.png)

[2019-11-08 05:05] #155 closed

[2019-11-08 08:05] #110 closed

[2019-11-10 11:25] FunYoungr opened #254 "vscode-java-installer v0.2.1 error"
installer version: 0.2.1
env:
[code]
log:
[code]

[2019-11-11 02:50] Eskibear commented on #252
I guess it might be caused by a tiny syntax error in the json file, which VSCode can handle but the installer cannot. Can you open settings.json, copy and paste its content here? (remember to remove any sensitive information)

[2019-11-11 03:11] Eskibear commented on #254
The error message looks like a localized version of

Although we do have checked the hash value of the file, it's highly possible that the downloaded msi file is incomplete/broken/removed for some reason we didn't consider. Below are my questions:
* Retry with the installer, do you still fail for the same reason?
* If the error still exists, when it occur, do not close the installer, now check if

[2019-11-16 01:13] jason919 opened #255 "The method suggestion box for java is too narrow"
**Environment:** Mac

- VS Code Version: latest
- Extension Version: latest
- JDK Type & Version: 1.8
- OS Type & Version:  Mac Catalina

**Step to Reproduce:**
Pick an object , type dot, it pops up a box of suggested methods, the box is so narrow, it can not show the full signature of the methods.
This is really a big issue when the methods are overloaded.
Please provide a way to adjust the width

[2019-11-18 06:27] akaroml commented on #255
Thanks for sharing the feedback. This is a platform issue that needs to be addressed by vscode. We already proposed solutions. Please check microsoft/vscode#29757 for updates.

[2019-11-18 15:47] zz54165514 opened #256 "vscode-java-installer v0.2.1 error"
installer version: 0.2.1
env:
[code]
log:
[code]

[2019-11-18 15:48] zz54165514 commented on #256
。

[2019-11-19 03:20] Eskibear commented on #256
@zz54165514  Could you share content of the file `C:\Users\Administrator\AppData\Roaming\Code\User\settings.json` ?

[2019-11-19 20:52] MikusFN opened #257 "Installer v0.2.1: broken jdk MSI installer"
installer version: 0.2.1
env:
[code]
log:
[code]

[2019-11-20 08:42] Eskibear commented on #257
From the log we can see that you have a JRE installed before instead of a JDK (which is required by vscode-java), thus the installer tried download & install an OpenJDK for you.

Possibly because something was wrong during the re-downloading. You may give it a retry and see if it's working. Meanwhile I'll investigate the "retry downloading" logic.

[2019-11-21 05:13] Power-tile opened #259 "Java try-catch command color display problem"
Issue Type: <b>Bug</b>

In the try-catch argument in Java, when I use the operator | to catch for different exception types, the color gets weird when a new line is inserted in the middle of the exception sequences.

try {
process();
} catch (Exception1 | Exception2 | Exception3
| Exception4 | Exception5) { // this is where it gets weird - the catch became yellow and only two of the Exception clas

[2019-11-21 16:13] #253 closed

[2019-11-25 03:02] #252 closed

[2019-11-25 04:01] #254 closed

[2019-11-26 09:58] HanyuuLu opened #262 "auto complete error about "import""
**Environment:**

- VS Code Version:
    * 1.40.1(user setup)
- Extension Version:
    * Maven for Java
    * Java Test Runner
    * Java Extension Pack
    * Java Dependency Viewer
- JDK Type & Version:

- OS Type & Version:
    * Windows

**Step to Reproduce:**
    1. open a java file
    2. type `import java.uti`
    3. type `Tab`

**Expected Behavior:**
* produce `import java.util`
**Actual Be

[2019-11-27 02:46] Power-tile opened #263 "Autofill package declaration bug"
Issue Type: <b>Bug</b>

Every time I write the "package" statement for a new class, the autofill system acts weird. For example, my package is "cn.moonshotacademy.discounts". After I type "import cn.mo", the autofill system reminds me of "cn.moonshotacademy.discounts", but when I hit "Enter", the statement became "package cn.cn.moonshotacademy.discounts", with an additional "cn.", as shown below.

[2019-11-27 09:09] akaroml commented on #263
Thanks for reporting. It looks like a completion error related to java language server. @testforstephen, could you please take a look and move this issue to the right place?

[2019-11-27 09:12] akaroml commented on #259
Thanks for reporting. @Vigilans please take a look. This is a syntax highlighting issue.
Also add @jdneo and @testforstephen for awareness.

[2019-11-27 09:13] Vigilans commented on #259
This is duplicate of https://github.com/atom/language-java/issues/205

[2019-11-27 09:14] akaroml commented on #262
Thanks for reporting. @testforstephen and @jdneo please take a look.

[2019-11-28 02:30] Vigilans commented on #259
Fixed in https://github.com/atom/language-java/pull/217.

[2019-11-28 04:48] testforstephen commented on #262
Opened an issue in upstream VS Code. https://github.com/microsoft/vscode/issues/85741

[2019-11-28 16:32] mahmoudkali opened #264 "vscode-java-installer v0.2.1 error"
installer version: 0.2.1
env:
[code]
log:
[code]

[2019-11-29 02:35] Eskibear commented on #264
@mahmoudkali
I find `C:\Windows\System32` is not included in your `PATH`. When it launches script `code.cmd` to install extensions, `cmd.exe` cannot be found to execute the script.

You might consider to recover the PATH env, at least to add `C:\Windows\System32` back... and see if it works.

[2019-11-29 06:05] akaroml commented on #263
This looks like a vscode issue. microsoft/vscode#85741 was created to track this.

[2019-11-29 07:21] akaroml opened #266 "Use editor toolbar icon as entry to the help page"
The entry of the help page could be placed in the editor toolbar. This way, the entry is contextual and feels natural.

[2019-12-01 14:24] taerinlee opened #267 "vscode-java-installer v0.2.1 error"
installer version: 0.2.1
env:
[code]
log:
[code]

[2019-12-01 18:06] husseinrf opened #268 "vscode-java-installer v0.2.1 error"
installer version: 0.2.1
env:
[code]
log:
[code]

[2019-12-01 19:05] HarshitGoel1110 opened #269 "Arrays.sort()"
Issue Type: <b>Bug</b>

in VS code in the java extension i m not able to use Arrays.sort() function with user defined datatype. When i tried the same code in some other ide it works well
So please rectify this issue

Extension version: 0.8.1
VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>Sy

[2019-12-02 03:51] Vigilans opened #270 "Enhance highlighting experience"
This issue tracks a set of java highlighting related issues.

### Bug

- [x] Catch block
  - [x] Multi-exception declaration across multiple lines - https://github.com/microsoft/vscode-java-pack/issues/259
  - [x] Parameter highlighting - https://github.com/atom/language-java/issues/219
- [x] Enum fields - https://github.com/redhat-developer/vscode-java/issues/974
- [x] New expression
  - [x] Tena

[2019-12-02 05:55] Eskibear commented on #267
it's odd.

Please check:
* If file `C:\Users\Admin\AppData\Local\Programs\Microsoft VS Code\bin\code.cmd` exists and is executable.  You can double click it, see if vscode is open.
* If `cmd.exe` is located in `C:\WINDOWS\system32`.

[2019-12-02 05:56] Eskibear commented on #268
it's odd.

Please check:
* If file `C:\Users\Spartix\AppData\Local\Programs\Microsoft VS Code\bin\code.cmd` exists and is executable.  You can double click it, see if vscode is open.
* If `cmd.exe` is located in `C:\WINDOWS\system32`.

[2019-12-03 02:45] akaroml commented on #269
Thanks for reporting. @HarshitGoel1110 Could you please also share some of your code snippets to demonstrate your use case?

[2019-12-03 04:06] #256 closed

[2019-12-03 06:42] akaroml commented on #152
Cheers. And we are in the process of adding Type hierarchy support. Stay tuned.

[2019-12-03 06:48] akaroml commented on #94
We are in the process of adding a UI entry for this. @vigilans is on this.

[2019-12-03 06:50] akaroml commented on #18
Thanks, @testforstephen for the evaluation.

[2019-12-03 06:54] akaroml commented on #142
@NikolasKomonen Those are great feedback. The current solution is to present the JDK settings and hint errors. We will also explore whether we could push further to help users get the settings right. The goal is to fix those settings by a few clicks.

[2019-12-05 01:54] Power-tile opened #271 "Strange resolution manner of java language check"
Issue Type: <b>Bug</b>

In my test project, I used Spring and Spring Annotation to write the program. I created an interface called PackageInterface and used getBean() to get the bean of the package. However, when I write
PackageInterface package = (PackageInterface) ac.getBean("package");
, the language checker told me that "PackageInterface cannot be resolved to a variable". I am sure that I imp

[2019-12-06 12:17] ucaktas opened #272 "I cant debug simple codes MacOS"
I'm using macos catalina  right now.
Error: Could not find or load main class QuickStart
Caused by: java.lang.ClassNotFoundException: QuickStart

QuickStart is  class name.
Im trying to debug on VSCode v1.40 updated.
JDK version 11

[2019-12-06 13:43] pavelnoen94 commented on #268
I got this error when running the installer. In my case I've removed code.cmd because it showed up in search results. I preffered seeing Visual Studio Code in the search results instead of just "code" without any logo.
![image](https://user-images.githubusercontent.com/38912521/70327179-83fe4080-1836-11ea-9e94-80451ef746a2.png)

[2019-12-06 17:30] Dmartin42 opened #273 "Installer v0.2.1 ERROR: Registry editing has been disabled by your administrator"
installer version: 0.2.1
env:
[code]
log:
[code]

[2019-12-08 06:41] JACK626 opened #274 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2019-12-09 01:32] Eskibear commented on #274
We've fixed several issues since 0.1.3 (the version you are using). Please try [v0.2.1](https://aka.ms/vscode-java-installer-win).

[2019-12-09 01:32] #274 closed

[2019-12-09 01:44] Eskibear commented on #268
@pavelnoen94 The installer depends on `code.cmd` to install Java Extension Pack for you. You can install the extension pack manually in VSCode. It should work automatically because the installer has configured the required settings.

Thank you for the information, it helps a lot. We might think of ways to improve the user experience for your case, e.g. guide to install extensions mannually...

[2019-12-09 01:49] Power-tile opened #275 "Java weird import autofill pattern"
Issue Type: <b>Bug</b>

When I try to import a class, say, org.aspectj.lang.ProceedingJoinPoint, after I type in "import org.as" and hit enter, the sentence is replaced by "org.aspectj.*;" without an "import".

![图片](https://user-images.githubusercontent.com/44731563/70401061-ff473880-1a68-11ea-8494-15e2d7438c73.png)

![图片](https://user-images.githubusercontent.com/44731563/70401067-066e4680-1a69-

[2019-12-09 01:50] Eskibear commented on #273
This is strange, in previous steps it should launch VSCode's installer, and the log proved that... Meanwhile, VSCode's installation dir is not added into `PATH`, which indicates a possible failure of installation.
Can you check if VS Code has been successfully installed when the error occurs? E.g. Check if "Visual Studio Code" occurs in your start-menu, etc. And if possible can you describe if the

[2019-12-09 12:08] stephaneeybert opened #276 "Bug"
**Environment:**

- VS Code Version: 1.40.0
- Extension Version: 0.8.1
- JDK Type & Version: OpenJDK 11.0.2
- OS Type & Version: Mac OS Catalina 10.15.1

**Step to Reproduce:**
Import the Java Gradle project without any module-info.java file in it.

**Expected Behavior:**
The project should build.

**Actual Behavior:**
The project doesn't build.
It shows the error: The package is accessible from m

[2019-12-10 14:42] Dmartin42 commented on #273
Eskibear--Visual Studio code IS in my start menu.  I do not know of anything suspicious

[2019-12-10 15:59] Eskibear commented on #273
The installer query Windows Registry to see if VS Code is installed... It's wired, I cannot imagine why VS Code is installed but not detected.

* Could you attach the `.log` file? You should be able to find it in folder `C:\Users\DMartin2\AppData\Local\Temp\vscode-java-installer`. It might help to find out the reason.

* And you can also check if below entry exists in your windows registry.
`HKEY_

[2019-12-12 19:04] Dmartin42 commented on #273
Not able to upload file; I copied and pasted the contents of the file.

{
  "release_name": "jdk8u232-b09",
  "release_link": "https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/tag/jdk8u232-b09",
  "timestamp": "2019-10-21T09:44:21Z",
  "release": true,
  "binaries": [
    {
      "os": "windows",
      "architecture": "x64",
      "binary_type": "jdk",
      "openjdk_impl": "hotspot",

[2019-12-13 03:22] #264 closed

[2019-12-13 05:22] Eskibear commented on #273
@Dmartin42
Thank you, from the log I find below error

The installer eventually uses `REG.EXE` to query the registry to know whether VS Code is installed or not. And this is probably the root cause of the strange behavior: you installed vscode, but cannot detect the installation.

The installer doesn't require you be an admin, and all the components are installed per user. But I'm not sure about w

[2019-12-13 09:56] akaroml commented on #271
Thanks for letting us know. This looks like the language server fails to resolve the imported type. @testforstephen could you please take a look?

[2019-12-13 09:58] akaroml commented on #272
Looks like the language server is not building your project correctly. Could you please share the folder structure (including files) of your project with us?

[2019-12-13 10:00] akaroml commented on #275
Thanks for reporting. @testforstephen could you please take a look to see whether this issue is related to the code completion issue we are having now?

[2019-12-13 10:01] akaroml commented on #276
Thanks for letting us know. @testforstephen could you take a look?

[2019-12-13 18:05] HarshitGoel1110 commented on #269
Sent from Mail for Windows 10

From: Rome Li
Sent: 03 December 2019 08:15
To: microsoft/vscode-java-pack
Cc: HarshitGoel1110; Author
Subject: Re: [microsoft/vscode-java-pack] Arrays.sort() (#269)

Thanks for reporting. @HarshitGoel1110 Could you please also share some of your code snippets to demonstrate your use case?
—
You are receiving this because you authored the thread.
Reply to this email d

[2019-12-16 02:10] akaroml commented on #269
Sorry, we are not able to see the actual response. Could you share some of you code snippets with us to demonstrate the case?

[2019-12-16 06:41] #268 closed

[2019-12-16 06:41] #267 closed

[2019-12-17 11:09] thinkiny commented on #18
any progress ?

[2019-12-19 02:39] akaroml commented on #18
There are unresolved issues, see comments from @testforstephen. We need to get those issue addressed before we recommend that extension to everyone by putting it in the extension pack.

In the short term, please install the decompiler extension yourself and see if it resolves your problem. And we appreciate your feedback on how it works.

[2019-12-19 04:30] dilin-MS opened #277 "aka.ms/vscode-java-installer-win install vscode 1.39.2 while dogfood ext requires 1.41.0"
The installer should always install the latest version of vscode + extensions.

[2019-12-19 04:44] xscript opened #278 "Prompt to install lombok extension when lombok detected in the project"
My project uses lombok. It simply fail when opening my project in VS Code with Java extension packs.
It would be nice to prompt that lombok extension is required to install when lombok is detected in the project.

[2019-12-19 04:48] xscript opened #279 "Change Java file icon to other colors"
The color of Java file icon is red, which looks like an error sign. Suggest to change it to a more friendly color (like green 😄 ).
![image](https://user-images.githubusercontent.com/2300784/71145794-b60f9980-225d-11ea-9535-a746d2d7dfe4.png)

[2019-12-19 05:00] xscript opened #280 "Java file status won't refresh until being opened"
My project doesn't load correctly at first because of lacking lombok extension. After installing lombok extension, the project can be successfully loaded.
But some of the Java file status still shows as red. My understanding is this indicates the file has some errors.
After clicking the file to open it, the file status is refreshed and is not marked as red any more.
Looks like the file status can'

[2019-12-19 07:22] jialindai opened #281 "Bug: Fail to execute junit5 test case"
**Environment:**

Version: 1.41.0 (user setup)
Commit: 9579eda04fdb3a9bba2750f15193e5fafe16b959
Date: 2019-12-11T18:37:42.077Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363

**Step to Reproduce:**

1. Open one integration test project
2. Choose test case to run

**Expected Behavior:**

Test execution complete and view result.

**Actua

[2019-12-20 00:13] Liipski opened #282 "Java Compiler Bug: java.lang.NoSuchMethodError"
Issue Type: <b>Bug</b>

Java compiler returns "Exception in thread "main" java.lang.NoSuchMethodError: 'int Vehicle.range()'
        at RetMeth.main(RetMeth.java:28)"
when compiling in Command Line or IntelliJ returns desired output of the program.

VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.18362

<details>
<su

[2019-12-20 05:19] YoungGKR opened #283 "Java logo/icon doesn't show in JDK 11."
Issue Type: <b>Performance Issue</b>

Hi, I'm on JDK 11, and everytime I open a Java file to edit code in VS Code, the java logo does not show on the side of the .java file name toolbar, even though I'm using the Java Extension Pack from you guys and Red Hat. There's instead a red (sort of) clock-like icon by the side. Can you please help me rectify this? I've tried re-installing etc.

Extension v

[2019-12-22 14:33] amolraje opened #284 "Installer v0.2.1: vscode not recognized as installed after installation"
installer version: 0.2.1
env:
[code]
log:
[code]

[2019-12-27 09:34] delayk commented on #42
I had the same issue on windows before. I did not install any other plugins but only the java extension pack.
Here is the way I solved it.
Delete the "Code" folder under  AppData\Roaming, and restart the application.

[2019-12-27 09:58] #272 closed

[2019-12-27 13:42] Hi-jin2204 opened #285 "Installer v0.2.1: Error: spawn path-to-code.cmd ENOENT"
installer version: 0.2.1
env:
[code]
log:
[code]

[2019-12-30 02:17] #269 closed

[2020-01-01 05:59] Power-tile opened #286 "Weird color display with Greek name variable"
Issue Type: <b>Bug</b>

I used Greek letters α, β, and θ to represent angles in my program. The language checker correctly recognizes these letters as variable names, but the class name (in this example, <code>Double</code>) failed to render as its normal green. A screenshot is shown below.

![图片](https://user-images.githubusercontent.com/44731563/71638589-e2380b00-2c9e-11ea-9703-eed3e644db1e.png)

[2020-01-05 02:24] duzhaoxi opened #287 "cant minimize the references: results sidebar"
Issue Type: <b>Bug</b>

if found no results, the sidebar is hidden, and i dont kown how to close the window!

Extension version: 0.8.1
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:57:51.166Z)
OS version: Darwin x64 19.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz (4 x 2700)|
|GPU Status|

[2020-01-05 02:25] duzhaoxi commented on #287
![image](https://user-images.githubusercontent.com/53589265/71774212-ae622b80-2fa5-11ea-99c7-99a51221043c.png)

[2020-01-06 09:43] akaroml commented on #278
Great suggestion @xscript
Lombok is on the radar and we are in the process of evaluating the existing extension before recommending it.

[2020-01-06 09:52] akaroml commented on #279
@xscript thanks for the feedback. The icon is from the default vscode theme (SETI). We'll channel the feedback to vscode core team. And as an alternative, you are free to customize the icon by using icon extensions, e.g. https://marketplace.visualstudio.com/items?itemName=vscode-icons-team.vscode-icons is pretty popular.

[2020-01-06 09:52] #279 closed

[2020-01-06 09:53] akaroml commented on #280
@xscript thanks for reporting!
@testforstephen  please take a look.

[2020-01-07 03:19] IuryChagas opened #288 "vscode-java-installer v0.2.1 error"
installer version: 0.2.1
env:
[code]
log:
[code]

[2020-01-08 03:23] Eskibear commented on #285
execa@1.0.0 was used to execute corresponding commands, and I notice they've fixed a bunch of bugs since 2.x.

I'll upgrade it to the latest version, see if the issue still exists.

[2020-01-08 03:25] Eskibear commented on #288
duplicated with #285

FYI, for the moment you can install Java Extension Pack manually as a workaround.

[2020-01-08 03:25] #288 closed

[2020-01-08 12:43] Hi-jin2204 commented on #285
what an earth is this??!!!! i've never use github except download the file to learn code .... jeeze

[2020-01-08 13:00] Hi-jin2204 commented on #285
oh no.. what should i do.......... that's why all of sudden my computer went slow down

[2020-01-09 02:45] akaroml commented on #283
Thanks for reporting. @YoungGKR

I assume you are talking about this icon
![image](https://user-images.githubusercontent.com/16755094/72033262-c353fd00-32cc-11ea-9ce2-38fa585f0c6e.png)

This is the icon for Java files in the default theme (SETI). We'll channel this feedback to vscode team.

But you can alwasy customize the icon by using an icon extension like this one:
https://marketplace.visualst

[2020-01-09 02:45] #283 closed

[2020-01-09 03:00] akaroml commented on #286
Thanks for reporting @power-tile.

The syntax highlighting for Java files are now using the tmlanguage definitions from Atom. @Vigilans Please see if it's possible to fix it.

[2020-01-09 03:02] akaroml commented on #287
Thanks for reporting @duzhaoxi

Would you please provide the full picture which captures all of vscode UI?

From the current picture and description, we are not able to tell where the problem is.

[2020-01-09 03:22] jdneo opened #289 "[Engineer] Setup new QA process for releasing"
Background: https://github.com/redhat-developer/vscode-java/issues/1213

- [x] Make the test plan public so all parties can comment
- [x] Add integration tests by installing Java Extension Pack instead of just vscode-java

[2020-01-10 07:10] LynnLinR opened #290 "task Java Build status Crash"
Issue Type: <b>Bug</b>

task Java Build status
It runs all the time without any output or error.
The Java code didn't prompt, and the expansion function failed

Extension version: 0.8.1
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:57:51.166Z)
OS version: Darwin x64 19.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(

[2020-01-10 07:47] Eskibear commented on #285
we just shipped a new version v0.2.2 to fix this.

[2020-01-10 07:47] #285 closed

[2020-01-10 09:28] LynnLinR commented on #290
![image](https://user-images.githubusercontent.com/38148255/72137364-a8b17f00-33c5-11ea-8970-9f52e68c9fa6.png)

[2020-01-10 15:21] Dmartin42 commented on #273
Okay, do you have any more info for me?

[2020-01-10 21:18] edburns opened #291 "Add Support for Oracle WebLogic Server"
I would like to see something on par with what Eclipse does here.
<img width="597" alt="Screen Shot 2020-01-10 at 3 44 38 PM" src="https://user-images.githubusercontent.com/75821/72187113-d0ecae00-33c4-11ea-91aa-c92c7de1b8b5.png">

[2020-01-11 08:14] Hi-jin2204 commented on #285
Thank you! anw i formatted my laptop was too slow to do things :)

[2020-01-11 14:18] duzhaoxi commented on #287
Thank you , i think this is not a issue, i am not familiar with it.
Actually, i can open Explorer via Open View.

[2020-01-11 14:18] #287 closed

[2020-01-13 02:26] jdneo commented on #94
Close this since https://github.com/microsoft/vscode-java-dependency/pull/213 is merged. It will be available in the next version of `Java Dependency Viewer`.

[2020-01-13 02:26] #94 closed

[2020-01-14 09:32] eliasliasu opened #292 "Installer v0.2.2: spawn path-to-code.cmd ENOENT"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-01-14 09:36] eliasliasu commented on #292
I got the error this error response while installing the visual studio Java pack installer. The error showed up when i clicked install after my jdk and vscode was recognized by the setup

[2020-01-14 14:13] Eskibear commented on #292
Someone else also got the same error before. The installer could not install the extension pack for you, because it didn't find VS Code CLI `code.cmd`. (But in others' cases, `code.cmd` was there in the correct location.)

The workaround is that, you manually install the Java extension pack in your VS Code. The installer has configured the settings, and it should work automatically.

BTW, to help

[2020-01-14 16:45] Eskibear commented on #292
@eliasliasu
I just created a private build [HERE](https://vscjavaci.blob.core.windows.net/vscodejavainstaller/latest/VSCode-Java-Installer-Win-Online-0.2.2-execFile-20200114.1.exe) as suggested by https://github.com/sindresorhus/execa/issues/408#issuecomment-574218242

Can you give it a try? And let me know if it works, thanks.

Because it's not signed, you may have to click **More info** and **ru

[2020-01-14 16:54] Eskibear commented on #292
@IuryChagas @husseinrf @taerinlee @prasadpy
I find that you guys also had the same issue before, with your own machines. If possible, can you try [this private build](https://vscjavaci.blob.core.windows.net/vscodejavainstaller/latest/VSCode-Java-Installer-Win-Online-0.2.2-execFile-20200114.1.exe), and kindly let me know if it works?

Great appreciation.

[2020-01-15 02:55] Eskibear commented on #273
It's highly possible that your group policy deny you to access windows registry.

After you manually install the Java Extension Pack, does your VS Code work well with Java?

[2020-01-15 15:28] eliasliasu commented on #292
Using the private build returned the same error.
However you were absolutely right about the missing path, ,C:\Users\Tunde\AppData\Local\Programs\Microsoft VS Code\bin\code.cmd. I don't have this directory.
I suppose this happened while I was changing my user name from "Tunde" to "Elias Liasu".
I don't know why it's referencing C:\Users\Tunde\AppData\Local\Programs\Microsoft VS Code\bin\code.cmd w

[2020-01-17 16:51] diminutivesloop opened #293 "Imports from other packages in project cannot be resolved"
**Environment:**

- VS Code Version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0,
- Extension version: 0.8.1
- JDK Type & Version: Wildfy 10.1.0, Java 1.8.0_131
- OS Type & Version: Windows 10 (version 1809)

**Step to Reproduce:**
1. Clone the following project: https://github.com/AxonIQ/food-ordering-demo
2. Follow project instructions to install dependencies and build.
Note: I had to

[2020-01-18 05:55] kikianju opened #294 "vscode-java-installer v0.2.2 error"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-01-19 02:05] Eskibear commented on #294
Do you have access to Windows registry? Can you attach the log file? Thanks.
See https://github.com/microsoft/vscode-java-pack/issues/273#issuecomment-564101529

[2020-01-19 09:01] losermyluckwithyou007 opened #295 "vscode-java-installer v0.2.2 error"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-01-19 15:34] #295 closed

[2020-01-19 15:34] losermyluckwithyou007 commented on #295
solved

[2020-01-19 20:35] Adam4376 opened #296 "vscode-java-installer v0.2.2 error"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-01-19 22:05] #296 closed

[2020-01-20 01:59] Eskibear commented on #295
[2:28:55 PM] Install Visual Studio Code ... [Completed]

@losermyluckwithyou007 In your case, what was the reason that VS Code could not be detected after it was just installed?

[2020-01-21 06:57] akaroml commented on #290
Could you please share the logs with us?

To open all log files, use command `Java: Open all log files`.

[2020-01-21 07:10] LynnLinR commented on #290
[vscode_java_cannot_run.log](https://github.com/microsoft/vscode-java-pack/files/4089634/vscode_java_cannot_run.log)

[2020-01-21 07:11] LynnLinR commented on #290
[vscode_java_cannot_run.log](https://github.com/microsoft/vscode-java-pack/files/4089643/vscode_java_cannot_run.log)

[2020-01-21 07:48] akaroml commented on #290
Thanks for the logs. It seems like the language server failed to recover the workspace. I would suggest that you clean the workspace and start over again.

To clean the workspace, use command Java: Clean the Java language server workspace
Reload is needed after cleaning.

[2020-01-21 07:54] LynnLinR commented on #290
Thanks

[2020-01-21 07:55] #290 closed

[2020-01-21 20:55] psprk25 opened #298 "Installer v0.2.2 error: MSI exit code 1603"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-01-22 02:34] Eskibear commented on #298
According to [win32/msi/error-codes](https://docs.microsoft.com/en-us/windows/win32/msi/error-codes):

ERROR_INSTALL_FAILURE | 1603 | A fatal error occurred during installation.
-- | -- | --

You can try below workaround:
1. download and install a JDK (e.g. [AdoptOpenJDK](https://adoptopenjdk.net/) which is what the installer was using) by yourself, see if the error still occurs.
2. re-run the ins

[2020-01-24 01:12] anlinhtrung06 opened #299 "vscode-java-installer v0.2.2 error"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-01-24 17:48] OoLunar opened #300 "[Question] How to turn off the word wrap?"
Hello!
I recently installed the Java Extension Pack, and I noticed that my Java code starts to word wrap when there's still *plenty* of space left on my screen. Word wrap is disabled by default normally, and nothing wraps when the extension pack is disabled. How can I turn off word wrap and end my misery?

[2020-01-24 19:02] billtsol opened #301 "vscode-java-installer v0.2.2 error"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-01-24 19:02] #301 closed

[2020-01-27 06:39] akaroml commented on #293
Thanks for reporting this issue. Seems like the workspace is out of sync. Please try cleaning the workspace by:
1. Run command: `Java: Clean the Java Language Server workspace
2. Reload VS Code

Please let us know if the issue is resolved.

[2020-01-27 06:44] akaroml commented on #300
Thanks for reporting this issue. The Java Extension Pack does not change the word wrap setting.

However, please double check the word wrap setting by:
1. Open `Settings`
2. Search for `word wrap` using the search box, and the default value should be `off` like this:
![image](https://user-images.githubusercontent.com/16755094/73154791-7c129c80-4113-11ea-8d35-35e1868f82ce.png)

[2020-01-27 13:43] diminutivesloop commented on #293
I did both of those steps and the errors still appear.

[2020-01-27 18:50] OoLunar commented on #300
![image](https://user-images.githubusercontent.com/46751150/73203816-6ac19400-4103-11ea-824f-4527a2f18ff0.png)

I don't have any other Java extensions installed, and I still get double indented word wrapped code, as such:

![image](https://user-images.githubusercontent.com/46751150/73203923-a0ff1380-4103-11ea-8ca3-6d6bc4c5e7c2.png)

[2020-01-29 04:10] akaroml commented on #300
@oolunar did you check the VS Code settings? If you don't have any Java extension installed, then the formatting is fully done by VS Code. Please check the settings and share a screenshot.

[2020-01-29 04:13] akaroml commented on #300
@testforstephen @fbricon is there anything special that we do to wrap the code in the language server?

[2020-01-29 09:57] akaroml commented on #293
Could you check whether the unresolved types are defined in Kotlin files?

Currently, Kotlin is not supported. So you see those missing types.

[2020-01-29 14:22] diminutivesloop commented on #293
Ok yeah it looks like all the first party imports are from a single Kotlin file and if I reference code from other java files the extension doesn't show any errors.

[2020-01-29 18:02] jofultz commented on #278
What would be the effort in adding Lombok support to our extensions versus relying on the extension from Gabriel Brito?

[2020-01-29 18:31] jofultz opened #302 "Support for Host or Environment Based jave.home Setting"
## Suggestion

As a developer using working both remote and local projects I would like to set the java.home value based on the environment.

## Use Cases

This is particularly painful when using Windows locally where the java.home path might be something like "C:\\Program Files\\Java\\jdk1.8.0_231" and for remote development when one is working on Linux where the path is something like "/usr/lib/

[2020-01-30 07:40] akaroml commented on #302
The language server also looks at the settings of environment variables like the `JAVA_HOME` and `JDK_HOME`. But when you set a value for `java.home` in VS Code, those two are ignored. The `java.home` setting is discouraged for the remote scenario because of security issues.

You can check the settings using command - `Java: Configure Java Runtime`. The order of the entries are exactly the order o

[2020-01-30 07:46] akaroml commented on #278
We would like to work with the community to improve the Lombok experience. There is no plan to release a Lombok extension on our own at this point. It would be very helpful if you could share your expectations of the extension and help us accelerate the evaluation process. @jofultz

[2020-01-30 07:57] #293 closed

[2020-01-30 07:59] akaroml commented on #293
Thanks for confirming. The issue is closed.

[2020-01-30 18:52] jofultz commented on #302
Ostensibly, yes, that would be fine.  However, that is how I started and somewhere along the way I had to set it java.home in VSCode in order to get something to work.  I'll remove the java.home setting and see if I run into the issue again.

[2020-01-30 18:55] jofultz commented on #278
@akaroml, it works.  However, as noted by xscript, I think we need to improve the experience.  Presently it won't be an issue, because there is only 1 extension for it.  Not sure how it complicates things if we get other extensions for Lombok in the future.

[2020-01-31 06:58] jdneo commented on #289
@akaroml Where should we host the test plans? The options are:
- In an issue
- In a markdown file
- In Wiki

Personally I prefer we host the test plans in a markdown file in the repo, but exclude this file when package the extension.

[2020-01-31 18:33] kenvnus opened #303 "vscode-java-installer v0.2.2 error"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-02-02 02:52] #294 closed

[2020-02-03 12:10] sochooligan commented on #42
Please install plugin {Lombok Annotations Support for VS Code}

[2020-02-04 00:10] hades42 opened #304 "vscode-java-installer v0.2.2 error"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-02-04 02:42] alissonflutter opened #305 "vscode-java-installer v0.2.2 error"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-02-04 03:01] Eskibear commented on #305
Could you attach the .log file? You should be able to find it in folder `C:\Users\ aLissOn\AppData\Local\Temp\vscode-java-installer`. It might help to find out the reason.

[2020-02-04 03:03] Eskibear commented on #304
Could you attach the .log file? You should be able to find it in folder `C:\Users\ 45515409\AppData\Local\Temp\vscode-java-installer`. It might help to find out the reason.

[2020-02-04 03:04] Eskibear commented on #303
Could you attach the .log file? You should be able to find it in folder `C:\Users\ kenvn\AppData\Local\Temp\vscode-java-installer`. It might help to find out the reason.

[2020-02-04 03:07] Eskibear commented on #299
@anlinhtrung06 Your `PATH` env is broken, where all system paths have been removed. Can you retry after adding back at least `C:\Windows\system32;`and `C:\Windows;` ?

[2020-02-05 03:19] #298 closed

[2020-02-05 22:35] OoLunar commented on #300
It's been a little bit since this issue has been commented on... Any updates?

[2020-02-07 03:24] akaroml commented on #302
It's not recommended to specify `java.home` in settings.json ***at workspace level*** (and gets checked in to a repo). It's a potential security hole that could be exploited.

There's a change in the language server to address this problem. Please check this out for more info redhat-developer/vscode-java#1160

[2020-02-08 11:34] charstefanos opened #308 "vscode-java-installer v0.2.2 error"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-02-10 02:34] Eskibear commented on #308
From the log, I see that
* you have a JDK 10 installed by yourself.
* the installer didn't detect JDK 10 for some reason, and it installed AdoptOpenJDK 11 for you, but still could not detect it after installation.

The JDK detection is depending on [find-java-home](https://github.com/jsdevel/node-find-java-home). I wonder if it's the problem of the lib. Could you attach the detailed .log file? You

[2020-02-10 16:21] RohanIRathi opened #309 "vscode-java-installer v0.2.2 error: Java 8 or more recent is required to run"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-02-10 16:25] RohanIRathi commented on #309
Attached .log file for reference
[log.txt](https://github.com/microsoft/vscode-java-pack/files/4181907/log.txt)

[2020-02-11 09:07] Eskibear commented on #309
That's because the JDK installed cannot be detected. Similar with #308 .

The JDK detection is depending on find-java-home. I wonder if it's the problem of the lib. Could you attach the detailed `.log` file? You should be able to find it in folder C:\Users\ Rohan\AppData\Local\Temp\vscode-java-installer. It might help to find out the reason.

[2020-02-12 09:01] RohanIRathi commented on #309
I have attached the .log file. Although, it may not be useful as I have installed JDK version 11. Contents of the log file are:
`JDK downloaded.`
`Java 8 or more recent is required to run. Please download and install a recent JDK`
`base task`
`Java Home not found.`

[2020-02-12 12:33] Eskibear commented on #309
OK, I see. I don't have a Windows machine at hand now, let me take a look if the lib can identify latest AdoptOpenJDK 11 later.

[2020-02-13 19:21] ManoSinistra15 opened #310 "vscode-java-installer v0.2.2 error: MSI exit code 1603"
Went to use the vs code java installer and I keep getting an error and the download stops.

installer version: 0.2.2
env:
[code]
log:
[code]

[2020-02-13 19:27] ManoSinistra15 commented on #310
Update:

I downloaded the java SE development kit then it worked.

[2020-02-14 13:29] akaroml commented on #278
Our current focus is to make the Java language server even better. But we would love to support anyone who is interested in developing an extension to enhance Lombok experience (or other areas).

[2020-02-14 13:30] akaroml commented on #289
Wiki please. Thanks.

[2020-02-17 08:50] testforstephen commented on #300
YES, Language Support for Java(TM) by Red Hat extension will format your java code. You can disable it via user setting `"java.format.enabled": false`
![image](https://user-images.githubusercontent.com/14052197/74637325-c502c180-51a4-11ea-971e-41c08f995299.png)

In case you may want to learn how to customize the java formatter, please take a look at https://github.com/redhat-developer/vscode-java/

[2020-02-17 09:47] akaroml commented on #300
So the Java LS is doing something extra! I see the opportunity to improve. When users disabled word-wrapping, the Java LS should follow without further instructions from the users. @testforstephen what do you think?

[2020-02-17 10:03] testforstephen commented on #300
It seems only one formatter takes effect at each time. Because Java LS declares it supports formatting java language, so VS Code will dispatch all java formatting to Java LS.  But the Java LS has no knowledge about these VS Code setting, because VS Code doesn't contain the system word wrap setting in the formatting request, where only tab and space are carried.

[2020-02-17 10:05] akaroml commented on #300
hmmm. Requesting for formatting without providing settings seems problematic. Do you think vscode should provide those settings upon request?

[2020-02-17 20:36] rbygrave opened #312 "Question - Is there an extension point to add arguments to the java command line (like javaagent)"
I have an IntelliJ IDEA plugin that adds a `-javaagent` to the java command line for running tests and main code via the IDE.

Is there a similar extension point?

Thanks, Rob.

[2020-02-18 03:26] akaroml commented on #312
In VS Code, testing and debugging are handled by different extensions. And they have different settings to allow customizing the JVM. For example, the Debugger for Java extension has `vmArgs` exposed so you can manipulate how the JVM is launched when starting an application.

Hope that answers your question. It would be very helpful if you could share more about the use case.

[2020-02-18 03:29] testforstephen commented on #300
yeah, the FormattingOptions interface itself is extensible, just need the client to populate the value in the parameter.
[code]

[2020-02-18 03:33] akaroml commented on #300
Good to learn that. Is it open for contribution from extensions or only vscode can add more entries to this list?

[2020-02-18 03:37] testforstephen commented on #300
it's vscode responsible for adding more values to the request.

[2020-02-18 03:57] #299 closed

[2020-02-18 03:57] #303 closed

[2020-02-18 03:57] #304 closed

[2020-02-18 03:57] #305 closed

[2020-02-18 04:11] hkuadithya opened #313 "Java "var cannot be resolved to a type" - JDK 13.0"
Issue Type: <b>Bug</b>

VSCode Java extension seems to raise error while using `var` data type (type inference for local variables was introduced way back with Java 10). Running the project also seems to fail while using `var` datatype.

There's absolutely no problem with my Java environment. Compiling and running the same Java file using `javac` and `java` succeeds in command line. **This works f

[2020-02-18 04:44] akaroml commented on #313
Thanks for reaching out. The Java 13 syntax needs to be enabled explicitly. If you are using Maven, please follow the instructions:
https://sandny.com/2019/10/08/enable-the-preview-feature-in-java-13-with-maven/

[2020-02-18 04:58] hkuadithya commented on #313
@akaroml Hello. I'm **not** using Maven. I was just testing a simple Program in Java.
Besides, I didn't have to enable any preview features (`--enable-preview`) while running `javac` and `java`. The program had `var` datatypes.
[code]

Variable Type inference was introduced a long time ago in Java. I'm not sure why these errors are flaring up now.

Is there something setting we can change for non-

[2020-02-19 01:37] akaroml commented on #313
OK. Running without Maven should also work. `var` was introduced a while ago, so it should be supported.

The next step is to verify the JDK version. You can use the command: `Java: Configure Java Runtime` to show the actual JDK that is used by VS Code. 11+ should be your current JDK like this:

![image](https://user-images.githubusercontent.com/16755094/74793433-466c6800-52fb-11ea-84a5-40f42ce8b5

[2020-02-19 09:56] RahulBosamia opened #314 "In vscode whenever I open the java programs the error comes showing that the path is not pointing to the valid jdk. In cmd the javac command works correctly and shows that java has been installed in the pc.All the environments variables including JAVA_HOME and JDK_HOME has been set then also it shows the same error.All the extensions necessary for java are installed but this error of path always comes whenever I open my vscode."
**Environment:**

- VS Code Version:1.42.1
- Extension Version:
- JDK Type & Version: jdk-11.0.6.10-hotspot
- OS Type & Version: Windows_NT x64 10.0.18363

**Step to Reproduce:**

**Expected Behavior:**

**Actual Behavior:**

**Related Issues:**

[2020-02-19 18:27] hkuadithya commented on #313
@akaroml
It looks like you haven't read the description of this issue carefully enough.
I had already posted the screenshot of `Configure Java runtime` when I raised this Bug. Please check.

`java.home` and other has been configured to the path of `C:\Program Files\Java\jdk-13.0.2`.
I too work at Microsoft and I tried to provide as many details as possible.

It looks like your team may not have mu

[2020-02-19 18:41] hkuadithya commented on #313
@akaroml

I have assigned this bug to the RedHat team. Issue: https://github.com/redhat-developer/vscode-java/issues/1288

Closing this issue here.

[2020-02-19 18:41] #313 closed

[2020-02-19 21:57] OoLunar commented on #300
Ah! Thank y'all for confirming I wasn't losing my mind. I'll get right to fixing this, Much appreciated!

[2020-02-22 22:58] b007rankin opened #315 "vscode-java-installer v0.2.2 error"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-02-23 11:50] sonikvvv opened #316 "vscode-java-installer v0.2.2 error: Java Home not found"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-02-24 02:22] Eskibear commented on #314
By executing command `Java: Configure Java Runtime`, you will see how it tries finding your local JDK. Could you share the result?

[2020-02-24 02:23] Eskibear commented on #315
Can you check if the file `C:\Users\bob00\AppData\Local\Programs\Microsoft VS Code\bin\code.cmd` is there in your local disk?

[2020-02-24 02:28] Eskibear commented on #316
I suppose that you have already installed JDK 11 **by your own** (correct me if not).

The installer was trying to set `java.home` setting (optional) for you, but failed somehow. Actually your vscode should already work with Java now. Can you please check:
* Is it working well with Java?
* By executing command `Java: Configure Java Runtime`, is it showing the expected path to your JDK?

[2020-02-24 03:05] #308 closed

[2020-02-24 05:15] sonikvvv commented on #316
So actually I had the idk 11 but something went wrong and my java programs
didn't want to run. I got to the page configure in run time or something
else and the I saw next to the path that it's not active.

На пн, 24.02.2020 г., 4:28 Yan Zhang <notifications@github.com> написа:

[2020-02-24 05:36] Eskibear commented on #316
Would you please provide a screenshot when it's convenient for you? So that we might be able to figure out why your JDK is not recognized.

BTW, in your case, to make it work you can manually add below line in your settings.json (or the through settings UI)
[code]

[2020-02-24 08:58] akaroml commented on #300
Thanks, could you please help open an issue at VS Code side to request the word-wrap settings to be included in the `FormattingOptions`?

[2020-02-24 09:00] akaroml commented on #310
@eskibear could you take a look?

[2020-02-24 09:13] akaroml commented on #291
Hi Ed, we don't have a plan to enable the Java EE scenarios in VC Code. But we do want to encourage the community to do so. Just recently, MicroProfile team published its own extensions, and we included that on the Overview page of the extension pack. We are more than happy to help anyone on the technical aspect of building vscode extensions for Java.

[2020-02-24 13:49] Eskibear commented on #310
Because no JDK (instead of JRE) was detected, the installer executed AdoptOpenJDK's MSI installer to install the JDK, which is failed according to the log.

Currently we are not able to get logs from AdoptOpenJDK's installerm. Unexpected errors can occur by executing external programs, and we are not always able to analyze their logs.  I think the action to take would be:
- show more user-friendly

[2020-02-24 13:51] Eskibear commented on #292
@eliasliasu Is it working after you fix that?

[2020-02-24 14:08] eliasliasu commented on #292
Yes, it is.

[2020-02-24 15:53] Eskibear commented on #292
Thank you for the feedback, I'm closing it now.

[2020-02-24 15:53] #292 closed

[2020-02-25 09:57] Antogor opened #317 "vscode-java-installer v0.2.2 error"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-02-25 13:33] Eskibear commented on #317
Did you successfully complete installing AdoptOpenJDK which pops up during the installation?

[2020-02-25 21:14] walidox1991 opened #318 "vscode-java-installer v0.2.2 error: Java Home not found"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-02-26 08:48] TOKISAKIKRM opened #319 "vscode-java-installer v0.2.2 error: code.cmd ENOENT"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-02-26 09:49] akaroml commented on #310
We can report this to AdoptOpenJDK repo, right? 1603 seems specific.

[2020-02-26 13:00] Eskibear commented on #310
@akaroml Reported.

[2020-02-29 10:27] hanct opened #320 "VSCode does not validate data type for variable declaration?"
**Environment:**
- VS Code Version: 1.42.1
- Extension Version: 0.8.1
- JDK Type & Version: 1.8.0_77
- OS Type & Version: Windows

Declaration of variable with wrong data type does not display error in the editor.
Except for the 3rd line, the editor does not show wiggly line under the remaining lines.
Also the Problems tab in the vscode only display one error related to the 3rd line.
Is this a bug

[2020-02-29 10:59] RahulBosamia commented on #314
@Eskibear please tell the exact command and where to execute it like in cmd or vscode terminal.

[2020-02-29 12:17] Eskibear commented on #314
That’s the exact command. You can run it in command palette. The keyboard shortcut is  Ctrl-shift-p if you are in windows, cmd-shift-p for macOS.

[2020-02-29 12:31] RahulBosamia commented on #314
Here's the output

![Capture](https://user-images.githubusercontent.com/45514766/75607463-6848c480-5b1d-11ea-9da9-0f8b667d8310.JPG)

[2020-02-29 12:43] Eskibear commented on #314
The description is clear. Please change the `java.home` setting, remove "\bin".

[2020-02-29 12:44] Eskibear commented on #314
or you just remove the `java.home` setting, it fallbacks to read `JDK_HOME`, which is correct according to your screenshot.

[2020-02-29 14:51] Eskibear commented on #320
![image](https://user-images.githubusercontent.com/2351748/75609641-5f6be900-5b45-11ea-95ed-76be086267b5.png)

It works for me.

[2020-02-29 15:01] Eskibear commented on #320
Ok I managed to reproduce it somehow.  I drag a single .java file into VS Code window, without opening any folder, and it looks like below:
![image](https://user-images.githubusercontent.com/2351748/75609765-36982380-5b46-11ea-98b4-a96cf6ae5a0a.png)

Is that your case? I guess the extension cannot recognize your project structure, dould you describe the folder structure of your project, or upload

[2020-02-29 16:33] hanct commented on #320
Eskibear, thanks for the hint!

My java file is inside the workspace.  I manage to get the same error "Classpath is incomplete".
Any idea where can i configure vscode to set the classpath correctly.

Below is the location of the file:
D:\Projects\Source_Codes\DemoProjects\TestA\workspace\microservices\product-service\src\main\java\se\magnus\microservices\core\product\productservice\ProductServiceA

[2020-02-29 18:29] hanct commented on #320
I think my vscode workspace not set properly. Once set, i manage to get the error. Thanks

[2020-02-29 18:29] #320 closed

[2020-02-29 22:00] jtorne2 opened #321 "vscode-java-installer v0.2.2 error: Java Home not found"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-03-02 22:17] brandon-rowe opened #322 "vscode-java-installer v0.2.2 error"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-03-02 22:36] brandon-rowe commented on #322
Resolved by running program from a different folder instead of selecting it within the browser after download.

[2020-03-02 22:37] brandon-rowe commented on #322
Resolved by running program from a different folder instead of selecting it within the browser after download.

[2020-03-02 22:37] #322 closed

[2020-03-03 07:20] Eskibear commented on #322
Thanks for the information, it really helps us to understand what's going on. Probably it's because the newly updated JAVA_HOME was not visible to the running process (the installer). Or it simply inherited envs from the browser.

[2020-03-04 06:40] #302 closed

[2020-03-04 06:43] akaroml commented on #289
I'm closing this issue since everything is in place now. Thanks @jdneo

[2020-03-04 06:43] #289 closed

[2020-03-04 10:58] Eskibear commented on #321
@jtorne2 It's possible that the newly updated JAVA_HOME was not visible to the installer itself, see https://github.com/microsoft/vscode-java-pack/issues/322#issuecomment-593805090
But we are not sure about that. Could you re-run the installer, see if it can successfully configure java settings in the 2nd run?

[2020-03-05 11:14] tkshitiz opened #323 "vscode-java-installer v0.2.2 error: Java Home not found"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-03-05 11:47] Eskibear commented on #323
@tkshitiz Could you re-run it again and tell me if it works in the 2nd run?

[2020-03-07 21:28] gabriel-marchal opened #324 "vscode-java-installer v0.2.2 error: Java Home not found"
While attempting to download the components, the program ran into an error

installer version: 0.2.2
env:
[code]
log:
[code]

[2020-03-09 06:16] #316 closed

[2020-03-09 09:16] #312 closed

[2020-03-09 09:16] #315 closed

[2020-03-09 10:52] chuqing8086 opened #326 "message: Message: Internal error. Code: -32603"
When I try to rename the Java class, it show me "internal error"

{  message: "[Trace - 6:33:49 PM] Received response 'textDocument/rename " +    "- (132)' in 136ms. Request failed: Internal error. (-32603).",  level: 'info',  timestamp: '2020-03-09 18:33:49.270'}{  message: 'Error data: "java.util.concurrent.CompletionException: ' +    'org.eclipse.text.edits.MalformedTreeException: Overlapping t

[2020-03-10 03:16] akaroml commented on #326
This looks like a bug to me. @testforstephen could you please take a look?

[2020-03-11 02:04] akaroml commented on #310
Is there a link to the issue at AOJ side?

[2020-03-11 02:27] Eskibear commented on #310
https://github.com/AdoptOpenJDK/openjdk-installer/issues/196 this one, they just cannot provide any further info without log file. I'll add related parameters to enable the log.

[2020-03-11 10:33] #317 closed

[2020-03-11 18:40] RahulBosamia commented on #314
@akaroml If I remove the "\bin" from the path or I remove the java.home settings then it shows 138 errors in the workspace.
![Capture](https://user-images.githubusercontent.com/45514766/76451696-d03cbc00-63f5-11ea-8ae5-1829df65d96e.JPG)

[2020-03-11 18:44] RahulBosamia commented on #314
@Eskibear  If I remove the "\bin" from the path or I remove the java.home settings then it shows 138 errors in the workspace. If I dont change the settings then it shows no warnings and errors in the workspace except the invalid jdk pointing error.
![Capture](https://user-images.githubusercontent.com/45514766/76452008-6244c480-63f6-11ea-90c6-063fecee59e4.JPG)

[2020-03-11 18:52] VasuSharma97 opened #327 "cant make new package"
Issue Type: <b>Feature Request</b>

i cant make new package , or i dont know how to make new packages in java extension pack . please help

Extension version: 0.8.1
VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.17763

[2020-03-12 01:58] Eskibear commented on #314
Well that makes total sense. If you remove the "\bin", the extension works, so it can tell you the syntax errors... But if you don't remove it, the extension cannot work at all, thus it could not compile and tell you what's wrong with the source files...

please just remove the "\bin", and fix the syntax errors in your source files : )

[2020-03-12 02:05] Eskibear commented on #314
I'm closing it now.

[2020-03-12 02:05] #314 closed

[2020-03-12 05:11] 1Gokul opened #328 "vscode-java-installer v0.2.2 error: 1619 Broken MSI after retry"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-03-12 05:13] 1Gokul commented on #328
It downloaded JDK but failed while installing.

[2020-03-12 05:17] 1Gokul commented on #328
Also, It installed without any errors when I started the pack installer again.

[2020-03-12 08:58] Eskibear commented on #328
Looks like a broken MSI package was opened.

So in your second run,  was there any retry? If no,  I guess there might be something wrong with the retry, and I might revisit that.

[2020-03-12 09:35] 1Gokul commented on #328
No, there was no retry when I tried it the second time.

[2020-03-13 19:55] husseinkohy commented on #94
java.project.refe.. libs in mac os is not working. it is not a multiroot project, etc all java dependencies installed. thanks

[2020-03-14 03:21] jdneo commented on #94
@husseinkohy What kind of project are you working on?

Let's say, Can you see files like `.project`, '.classpath' in your project's root path?

[2020-03-14 14:59] husseinkohy commented on #94
thanks guys for responding. it is an https://ant.apache.org/ivy/ivyde/ project. yes .classpath and .projects are there, what is not resolving in .classpath is ref's like this.

<classpathentry kind="con" path="org.apache.ivyde.eclipse.cpcontainer.IVYDE_CONTAINER/?project=....

i could add the jar's individually as <classpathentry kind="lib" path="absolute path to a jar"....> but that would not be

[2020-03-15 03:16] jdneo commented on #94
I see. Just as you said, some of the classpathentries needs to be solved by the specific `IvyDE` plugin, while this plugin is not support VS Code right now. So I'm afraid you have to use the workaround you have mentioned right now.

[2020-03-15 19:24] amanneelkat opened #330 "vscode-java-installer v0.2.2 error: MSI exit code 1603"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-03-15 19:57] diliniIL opened #331 "vscode-java-installer v0.2.2 error: vscode installer exit code 1"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-03-16 01:25] Eskibear commented on #330
duplicate with #310  , something went wrong with the MSI, and we are going to turn on detailed logs for MSI.

[2020-03-16 01:32] Eskibear commented on #324
For some reason, the installer was not able to detect the JDK...
In your `PATH`, I find 2 entries related to Java:
1. C:\Program Files\AdoptOpenJDK\jdk-11.0.6.10-hotspot\bin
2. C:\Program Files (x86)\Common Files\Oracle\Java\javapath

Do you have both AdoptOpenJDK and Oracle's JDK installed on your machine? I guess it might be cause by the 2nd entry above, which actually points to a JRE. Can you r

[2020-03-16 01:41] Eskibear commented on #319
Can you check if file `C:\Users\jiaji\AppData\Local\Programs\Microsoft VS Code\bin\code.cmd` exists on your machine?

BTW the workaround is to install the java extension pack in vscode by your own.

[2020-03-16 01:50] Eskibear commented on #309
@RohanIRathi I just tried with AdoptOpenJDK 11.0.5 and it worked well for me. The log indicates that a JDK was detected, but was wronly recognized as a version below 8. The version is recognized based on output of `java -version`. Could you run `java -version` and paste the full output here? Thanks.

[2020-03-16 01:54] Eskibear commented on #331
It failed executing vscode installer. Could you manually download vscode installer [here](https://code.visualstudio.com/download) and see if you can successfully install it?

[2020-03-16 04:24] Eskibear commented on #259
![image](https://user-images.githubusercontent.com/2351748/76723067-fad59e80-6780-11ea-8718-56c50e3d7a17.png)

Verified, it has been fixed.

[2020-03-16 04:24] #259 closed

[2020-03-16 10:21] RohanIRathi commented on #309
Output of `java --version`:
`java --version`
`openjdk 11.0.6 2020-01-14`
`OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)`
`OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.6+10, mixed mode)`

[2020-03-16 12:07] Eskibear commented on #309
It helps a lot. The logic to determine version is not robust enough, it's almost the same as [here](https://github.com/redhat-developer/vscode-java/blob/abb5d6f1d8eba7385f979b7d6d4b1b83731711b6/src/requirements.ts#L94-L114)

It expects `openjdk version <version>` in the first line of the output...e.g. mine is
[code]

So the major version of you JDK distribution was recognized as 0, which was less

[2020-03-16 16:19] shanewaz-abbas opened #332 "Java 8 syntax highlighting"
Issue Type: <b>Bug</b>

Java files do not have any colors for them. Intellisense seems to be working, and I can run them. Just not sure what is the reason why it wouldn't show any colors. I am using Lombok extension as well if that makes a difference. Also I made changes to: .settings/org.eclipse.buildship.core.prefs to try to get rid of a lot of similar warnings but it has no effect at all. For e

[2020-03-18 11:11] #321 closed

[2020-03-18 12:20] smitBT opened #334 "vscode-java-installer v0.2.2 error: Java Home not found"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-03-18 20:42] #332 closed

[2020-03-19 02:10] Eskibear commented on #334
Could you attach file `%TEMP%\vscode-java-installer\.log`?

[2020-03-19 06:38] i25ffz opened #335 "After close java project, gradle process still running!"
Issue Type: <b>Bug</b>

1、Open a java project folder with gradle build support;
2、VS Code will auto build the project;
3、Close the java project/folder;
4、Check the java process, still running, don't stop while the project/foler is closed.

Extension version: 0.8.1
VS Code version: Code 1.43.1 (fe22a9645b44368865c0ba92e2fb881ff1afce94, 2020-03-18T07:01:20.184Z)
OS version: Windows_NT x64 10.0.18363

[2020-03-19 12:21] #323 closed

[2020-03-20 05:49] akaroml commented on #335
Thanks for reporting @i25ffz

@testforstephen could you take a look?

[2020-03-20 05:50] akaroml commented on #327
Thanks for reaching out. @jdneo could you help guide @VasuSharma97 through the process?

[2020-03-20 06:20] jdneo commented on #327
@VasuSharma97 You can create a package just by creating a folder.

![Kapture 2020-03-20 at 14 18 23](https://user-images.githubusercontent.com/6193897/77140869-ea416300-6ab5-11ea-89c4-1f8eacf8dfa5.gif)

[2020-03-20 18:12] leedong2897 opened #337 "vscode-java-installer v0.2.2 error"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-03-22 07:33] good6722616 opened #338 "vscode-java-installer v0.2.2 error: Java Home not found"
installer version: 0.2.2
env:
[code]
log:
[code]

[2020-03-22 09:12] justshot opened #339 ""java.home" does not work on macOS with one than one JDK installed"
Issue Type: <b>Bug</b>

Setup 'java.home' does not work in neither workspace's settings.json nor user's settings.json. I have two JDK installed on my laptop. In settings.json, I point 'java.home' to my JDK 11 folder. However, VS Code always use my JDK 8 for compile/build/run/debug. Only after I deleted JDK 8, VS Code begin to use my JDK 11.

I noticed that even I don't setup 'java.home', VS Code c

[2020-03-22 14:19] mp768 commented on #94
can you give a tutorial on how to set up through video, because I'm not entirely understanding it.

[2020-03-23 01:04] jdneo commented on #94
@mp768 What kind of project are you using?
- Maven/Gradle
- Eclipse (no pom.xml or build.gradle, but you can see .classpath/.project on the project root path)
- Standalone (no pom.xml, build.gradle, .classpath, .project)

[2020-03-23 01:56] Eskibear commented on #338
Could you attach file `%TEMP%\vscode-java-installer\.log`?

[2020-03-23 01:59] Eskibear commented on #337
Your username contains non-ascii chars, I guess that's the reason of failure.

The workaround is
* You open VS Code, and install extension "Java Extension Pack" by your own.

BTW You JAVA_HOME is wrong, and it should not contain "\bin"

[2020-03-23 04:19] Eskibear commented on #339
`java.home` overwrites others. Maybe you set the wrong value of `java.home`.  Can you check by opening `Command Palette -> Java: Configure Java Runtime`? You'll see how it determine the JDK version.

E.g.  My default is 13, by setting java.home I can use JDK 11.
![Screen Shot 2020-03-23 at 12 16 14 PM](https://user-images.githubusercontent.com/2351748/77280789-44cdff80-6d00-11ea-9adb-696c26597973.

[2020-03-23 06:34] testforstephen commented on #335
@i25ffz Do you mean the long-lived gradle daemon process? It's still running for reuse. This is by design.

[2020-03-23 06:47] testforstephen commented on #326
@chuqing8086 Cannot reproduce it locally. Could you mind sharing a sample project and the reproduce steps? thanks.

[2020-03-24 03:04] jdneo commented on #327
@VasuSharma97 Please feel free to let us know if this could address your issue or not. Thanks.

[2020-03-24 14:18] justshot commented on #339
From ''Java: configure Java runtime", the JDK used by VS Code is Java 11
(see the first picture). However, the actual JDK used during runtime is JDK
8, which is print out by this line of code:

Here is the output of the code

[image: image.png]

On Mon, 23 Mar 2020 at 12:19, Yan Zhang <notifications@github.com> wrote:

[2020-03-24 22:47] nanduu04 opened #341 "vscode-java-installer v0.2.3 error"
installer version: 0.2.3
env:
[code]
log:
[code]

[2020-03-25 04:26] Eskibear commented on #339
Runtime Jdk should be specified by Java debugger extension. @testforstephen has this feature been released? Could you point out the instruction?

[2020-03-25 04:29] Eskibear commented on #341
You manually set the wrong JAVA_HOME. Setting it back to C:\Program Files\Java\jdk1.8.0_181 should possibly work. Could you try it?

[2020-03-25 06:56] brunoborges commented on #152
@akaroml any update on this?

[2020-03-25 08:03] justshot commented on #339
Hi

Not only runtime JDK has the problem, compile time JDK also has the same
problem. I have compile error as I am using JDK 11 classes, e.g.,
HttpClient.

On Wed, 25 Mar 2020 at 12:26, Yan Zhang <notifications@github.com> wrote:

[2020-03-25 08:18] testforstephen commented on #339
@Eskibear Yes, it's released. The debugger will use the mapped JRE runtime to launch your application.

@justshot `java.home` is just used to start the Java extension itself, it doesn't means using it to run your application. If you want to use some specific JDK to compile and run your application, you need specify the Java version in your project config file such as pom.xml, build.gradle. For exa

[2020-03-25 14:57] danfenelon opened #342 "vscode-java-installer v0.2.3 error: MSI 1603"
installer version: 0.2.3
env:
[code]
log:
[code]

[2020-03-26 02:10] poze1988 opened #343 "vscode-java-installer v0.2.3 error"
installer version: 0.2.3
env:
[code]
log:
[code]

[2020-03-26 17:37] Eskibear commented on #342
could you attach log file in below path？

%temp%\AdoptOpenJDK-MSI.log

[2020-03-26 17:39] Eskibear commented on #343
Your JAVA_HOME was manually set as a wrong value, please remove “bin” and have a try.

[2020-03-26 23:41] justshot commented on #339
Hi Jinbo,

You are right. The runtime JDK of my application is configured in pom.xml
in my case.

Thanks for helping!

Do you think 'java.home' and 'java:configure Java runtime" in VS code is
misleading to developers?

On Wed, 25 Mar 2020 at 16:18, Jinbo Wang <notifications@github.com> wrote:

[2020-03-27 01:53] testforstephen commented on #339
Agree, it should also display the actual Java runtime your project is mapped to.

//@akaroml what do you think about?

[2020-03-27 07:58] i25ffz commented on #335
I closed vs-code, it still running.

[2020-03-27 09:27] justshot commented on #339
As a developer, what I care more is my own application's JDK setup. The JDK
used by the Java Extension Pack itself is not the key concern for
application development.

On Fri, 27 Mar 2020 at 09:53, Jinbo Wang <notifications@github.com> wrote:

[2020-03-28 06:59] itzzayushsaxena opened #345 "vscode-java-installer v0.2.3 error: VS Code not installed"
vscode-java-installer doesnot recognize vs code and show that vs code is not installed .. error occured here..

installer version: 0.2.3
env:
[code]
log:
[code]

[2020-03-29 15:20] #341 closed

[2020-03-30 01:57] #331 closed

[2020-03-30 01:57] #319 closed

[2020-03-30 01:57] #324 closed

[2020-03-30 02:18] Eskibear commented on #345
Can you find file `%TEMP%\vscode-java-installer\log.txt` and attach it here?

[2020-03-30 10:34] steve78b commented on #339
I had the same problem on Windows 10, using openJDK11

Fixed by changing pom.xml to include
        <maven.compiler.source>11</maven.compiler.source>
        <maven.compiler.target>11</maven.compiler.target>

[2020-03-30 16:19] maeni70 opened #346 "vscode-java-installer v0.2.3 error: Java Home not found"
I would expect that the installer handles all the necessary downloads and configurations, but see error log below. I could fix it myself by downloading SDK from Visual Studio Code and setting JDK_HOME environment variable manually. So, this issue here is just a "bug report"...

installer version: 0.2.3
env:
[code]
log:
[code]

[2020-03-30 17:32] xendren opened #347 "Extension claims to support Gradle but how do you build the project"
I am unable to locate any documentation on how to use the extension pack when I have an existing gradle project.  How am I supposed to build and execute gradle tasks?  I can execute from the terminal directly, but this isn't gradle support from the extension.

I have tried using the Gradle Tasks extension, but it doesn't appear to share settings with the Java extension, so I cannot get consistent

[2020-03-30 22:51] jeffrey-thiers opened #348 "vscode-java-installer v0.2.3 error"
installer version: 0.2.3
env:
[code]
log:
[code]

[2020-03-30 22:53] jeffrey-thiers commented on #348
I'm not really sure what is going wrong here.

[2020-03-31 02:42] Eskibear commented on #348
Can you find file `%TEMP%\vscode-java-installer\log.txt` and attach it here?

[2020-03-31 02:50] Eskibear commented on #346
Thank you for reporting to help improve the installer.

Java on VS Code requires a JDK (instead of JRE) to run. And `JDK_HOME` is not necessary if `JAVA_HOME` is set.
The problem is, failing to detect a valid JDK, it installed a JDK (AdoptOpenJDK 11) for you, but failed to detect that after installation.

Can you find file`%TEMP%\vscode-java-installer\log.txt` and attach it here? There might be mo

[2020-03-31 05:57] brunoborges commented on #94
Confirmed: not working on macOS. Tried with a "naked" project.

[2020-03-31 08:11] tevinmc opened #349 "vscode-java-installer v0.2.3 error: Java Home not found"
installer version: 0.2.3
env:
[code]
log:
[code]

[2020-03-31 10:37] developeryounis opened #350 "installer v0.2.3: installed vscode not detected as registry editing has been disabled"
installer version: 0.2.3
env:
[code]
log:
[code]

[2020-04-01 05:01] Eskibear commented on #349
Can you find file ` %TEMP%\vscode-java-installer\log.txt` and attach it here?

[2020-04-01 05:04] Eskibear commented on #350
I notice that you've installed vscode per machine, but the installer failed to detect that for some reason. Can you find file `%TEMP%\vscode-java-installer\log.txt` and attach it here?

[2020-04-01 08:42] akaroml commented on #347
Thank you for your feedback. Java Language Server provides Gradle support by automatically import and builds a project whenever it's opened. With that, you'll be able to do code navigation, editing, refactoring and debugging. Furthermore, you are also able the see all the packages and classes with the help of the Java Dependency Viewer extension.

However, visualizing and executing goals are not p

[2020-04-01 09:55] tevinmc commented on #349
I am sorry I should've closed this issue I ended up just setting up java manually.

[2020-04-01 09:55] #349 closed

[2020-04-01 15:31] developeryounis commented on #350
===Installer started at 1585649831765===
{
  "machineId": "247067a9d92ae17e0a22c03f917e91ef2b07d946a39142c5f598dd27f8b48927",
  "sessionId": "9d9d1396-d4ae-4534-87e6-5caf78b9a9e01585649830802"
}
Packed binaries:
{}
Looking for VS Code in x64 registry: HKCU\Software\Microsoft\Windows\CurrentVersion\Uninstall\{771FD6B0-FA20-440A-A002-3B3BAC16DC50}_is1
{
  "name": "f",
  "message": "QUERY command exi

[2020-04-01 15:32] developeryounis commented on #350
[log.txt](https://github.com/microsoft/vscode-java-pack/files/4416181/log.txt)
@Eskibear

[2020-04-01 15:35] developeryounis commented on #350
@Eskibear
I think the problem is Registry editing has been disabled

[2020-04-02 01:47] Eskibear commented on #350
Great finding. We should re-think the way to detect installed vscode. What I'm thinking now is that, we could fallback to check the default installation directory.

[2020-04-02 02:29] #334 closed

[2020-04-02 18:55] astroman133 opened #351 "installer v0.2.3 error: Java Home not found"
I get the following error installing the Visual Studio Code Java Pack Installer. This is a MS installer!

installer version: 0.2.3
env:
[code]
log:
[code]

[2020-04-03 00:16] Eskibear commented on #351
This installer depends on [node-find-java-home](https://github.com/jsdevel/node-find-java-home) to detect your installed JDK. Could you find and attach file `%TEMP%\vscode-java-installer\log.txt`?

[2020-04-03 00:27] astroman133 commented on #351
The requested log file is attached.

[log.txt](https://github.com/microsoft/vscode-java-pack/files/4424430/log.txt)

[2020-04-03 01:41] Eskibear commented on #351
Thanks for the log. It helps a lot. The command to check JDK version is broken for your machine, and I guess that would be the same for many other users who have the same error.

The log indicates some of your actions (correct me if wrong):
- You have JDK 14 installed before running this installer for the first time, but you didn't proceed to install it.
- The second time you run it, JDK 14 was no

[2020-04-03 02:19] astroman133 commented on #351
Your interpretation of the log seems correct. How to I fix it?
Thanks!

[2020-04-03 03:08] Eskibear commented on #351
I'm afraid there's no workaround for the moment, because [Language support for Java](https://github.com/redhat-developer/vscode-java) is using the same code to check java version.

This installer does below things for you:
- [**done**] install vscode if not installed
- [**done**] install jdk if you don't have one
- [**error**] detect and configure `java.home` in vscode's settings, to ensure [Langu

[2020-04-03 10:01] Eskibear commented on #318
0.2.4 has been released, could you have a try and let us know if it works? In case it still not working, please find and attach file `%temp%\vscode-java-installer\log.txt`

[2020-04-03 10:03] Eskibear commented on #330
0.2.4 has been released. please give it a try. And in case it's still not working, please find and attach file `%temp%\vscode-java-installer\log.txt` and `%temp%\AdoptOpenJDK-MSI.log`

[2020-04-03 10:06] Eskibear commented on #310
0.2.4 has been released. please give it a try. And in case it's still not working, please find and attach file `%temp%\vscode-java-installer\log.txt` and ` %temp%\AdoptOpenJDK-MSI.log`. With the detailed log we can help to create corresponding issues in https://github.com/AdoptOpenJDK/openjdk-installer/issues

[2020-04-03 10:08] Eskibear commented on #328
0.2.4 has been released with detailed MSI logs recorded. I'm closing it as you are not able to reproduce it in later runs.  But, if you are able to reproduce it in the future, please find and attach file `%temp%\vscode-java-installer\log.txt` and `%temp%\AdoptOpenJDK-MSI.log` here and re-open the issue, thanks.

[2020-04-03 10:08] #328 closed

[2020-04-03 10:14] Eskibear commented on #284
Possibly because you have no access to windows registry. Now 0.2.4 has been released, with detailed logs recorded. Please give it a try, and if it's still not working, find and attach file `%temp%\vscode-java-installer\log.txt`.

[2020-04-03 10:16] Eskibear commented on #257
looks similar with #328

BTW, our installer v0.2.4 has been released with detailed MSI logs recorded. I'm closing it as you are not able to reproduce it in later runs.  But, if you are able to reproduce it in the future, please find and attach file `%temp%\vscode-java-installer\log.txt` and `%temp%\AdoptOpenJDK-MSI.log` here and re-open the issue, thanks.

[2020-04-03 10:16] #257 closed

[2020-04-03 12:53] beruit opened #352 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-04-04 06:38] Eskibear commented on #352
This installer depends on node-find-java-home to detect your installed JDK. Could you find and attach file `%TEMP%\vscode-java-installer\log.txt`?

[2020-04-04 08:17] badsyntax commented on #347
Hi. As the author of the [gradle tasks](https://github.com/badsyntax/vscode-gradle) extension, I'm also happy to work with the authors of `vscode-java-pack` to provide better support, or to help add gradle tasks features to `vscode-java-pack`.

@xendren can you clarify exactly what you mean when you say:

Can you provide an example of this? Thanks.

[2020-04-04 11:19] alek-sys opened #353 "Test classes leak to main classpath in Gradle project"
**Environment:**

- VS Code Version:
[code]
- Extension Version:
[code]
- JDK Type & Version:
[code]
- OS Type & Version:
[code]

**Step to Reproduce:**
1. Open Sample project from here: https://github.com/alek-sys/vs-code-java
2. Run `main` method from VS Code

**Expected Behavior:**
Exception `java.lang.ClassNotFoundException: vs.code.issue.AppTest` since test classes should not be available in

[2020-04-06 02:07] #337 closed

[2020-04-06 02:07] #338 closed

[2020-04-06 07:09] #326 closed

[2020-04-06 07:25] AzaleaHu opened #354 "vscode-java-installer v0.2.4 error: Java Home not found"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-04-06 12:55] Eskibear commented on #354
This installer depends on `node-find-java-home` to detect your installed JDK. Could you find and attach file `%TEMP%\vscode-java-installer\log.txt`?