[2020-04-06 13:42] AzaleaHu commented on #354
Thank u ‘ problem solved!!

2020年4月6日(月) 21:56 Yan Zhang <notifications@github.com>:

[2020-04-06 17:05] Eskibear commented on #354
Could you describe what was the problem and how you fixed that? It would be helpful for other users having the same issue.

[2020-04-07 23:15] micheledellaciana1 commented on #94
Hi, I'm trying too to use referencedLibraries to include libraries, but it doesn't work... no effect at all and I work on windows 10.

I see also that using java dependency you can add external lib with the interface, (using the add button in the corner). I haven't the button, and folders are labeled with (Read-only).

By now the only way I can add external lib is to typing directly the classpath

[2020-04-08 01:27] jdneo commented on #94
@micheledellaciana1 I guess your project is an Eclipse project, which is so far not supported to manage libs in the dependency viewer.

Here, what we supported is the `non-project files/folders`, which means, there is no `.classpath` or `.project` in your project base path.

[2020-04-09 17:46] #342 closed

[2020-04-09 17:46] #343 closed

[2020-04-09 18:19] micheledellaciana1 commented on #94
ahhh Now I get it! Everything works fine! Many thanks! :))

[2020-04-10 17:06] xendren commented on #347
@badsyntax Thank you for the quick response.  We are trying to retool our Java team toward a more flexible and simplified toolset as we progress our CI/CD efforts.  We are coming from an Ant based build strategy, but we need more flexibility without having to write custom tags.  For all of the benefits that Maven provides, it is still too rigid when it comes to simple things like using a custom ar

[2020-04-10 17:08] xendren commented on #347
Yes.  The disconnect between some of those settings is one of the headaches.

[2020-04-11 10:23] 1Gokul commented on #328
@Eskibear Sorry for the late reply, but I will do it in case I encounter a similar problem.

[2020-04-11 10:50] badsyntax commented on #347
Thanks for the detailed response, this is great feedback.

To clarify, the [Gradle Tasks](https://marketplace.visualstudio.com/items?itemName=richardwillis.vscode-gradle) extension is not part of the Java bundle. It is an independent extension, and as @akaroml mentioned, does not use the language server provided by `vscode-java`, hence the inconsistencies.

Saying that, I have pushed a fix for thi

[2020-04-11 15:33] gdx945 opened #356 "Unable to view the parameter value in the method when debugging"
When debugging, I cannot view the parameter values in the methods in the referenced jar package. For example, in the "get" method of HashMap, when "getNode" is called, only arg0, arg1, and this are displayed in the variable box.
I don't know if it is caused by incorrect configuration.

[2020-04-12 12:33] 395053994 opened #358 "Serious error！ Warnings can be detected, but warnings cannot be disabled"
Warnings can be detected, but warnings cannot be disabled

**Environment:**

- VS Code Version: 1.44
- Extension Version: 0.59
- JDK Type & Version: 1.8
- OS Type & Version:   Windows

**Step to Reproduce:**

**Expected Behavior:**

**Actual Behavior:**
![image](https://user-images.githubusercontent.com/27546390/79068859-a0d2e500-7cfc-11ea-902d-d761552158a5.png)
![image](https://user-images.github

[2020-04-12 12:54] 395053994 opened #359 "The problem in the console has not been fixed, and this error has not been fixed for a long time. . . It's really frustrating!"
The problem in the console has not been fixed, and this error has not been fixed for a long time. . .
It's really frustrating!

**Environment:**

- VS Code Version: 1.44
- Extension Version:
- JDK Type & Version: 1.8
- OS Type & Version:  win10

The problem in the console has not been fixed, and this error has not been fixed for a long time. . .
It's really frustrating!
![fffffffffffffffffffffffff

[2020-04-13 02:02] 395053994 opened #360 "The use of vscode to write java code intellisense prompt speed is too slow. You need to wait for about 1 ~ 3 seconds before the prompt code segment appears. This problem has always existed and has not solved it. It is very frustrating. . ."
Process description:
The use of vscode to write java code intellisense prompt speed is too slow. You need to wait for about 1 ~ 3 seconds before the prompt code segment appears. It is not as fast and fast as Eclipse. This problem has always existed and has not been solved. It is very frustrating. . . .

**Environment:**

- VS Code Version: 1.44
- Extension Version: 0.59.1
- JDK Type & Version: 1.8

[2020-04-13 03:00] #345 closed

[2020-04-13 21:25] DAIVSONAZE opened #361 "installer v0.2.4 error: EBUSY on executing vscode installer"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-04-14 03:08] #346 closed

[2020-04-14 03:08] #348 closed

[2020-04-14 06:40] Eskibear commented on #361
Can you retry and see if you can stably reproduce it? And you can find log files in `%TEMP%\vscode-java-installer\log.txt`, please also attach it for further analysis, thanks.

[2020-04-16 17:57] arilau opened #362 "Java runtime configuration is not possible offline"
##### Environment
- Operating System: OS X, Linux, Windows (tested all)
- JDK version: jdk1.8.0_25, issue most likely not related to any specific JDK
- Visual Studio Code version: 1.44.1
- Java extension version: 0.60.0 ?

##### Steps To Reproduce
1. Disconnect computer from internet
2. Run command palette command "Java: Configure Java Runtime". Indicators just keep on spinning, java paths don't g

[2020-04-16 19:45] samsarka opened #363 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-04-17 01:34] Eskibear commented on #363
Thanks for the information. In your case, you can mannually install Java extension pack in vscode, then everything should work fine.

For such kind of unexpected error, I don't see any way to avoid. But there's still room to improve, we can guide you to install the extension pack by your own when error occurs.

[2020-04-17 10:34] #284 closed

[2020-04-17 10:34] #310 closed

[2020-04-17 10:34] #330 closed

[2020-04-17 10:34] #318 closed

[2020-04-17 15:02] yomack opened #364 "issuing bogus invalid 'character' problem on a COMMENT"
Issue Type: <b>Bug</b>

I entered some comments into some code I downloaded from github, because apparently the developer didn't think to include them and I got the 'invalid character constant' error from the 'u' in setFocus to the 'h' in push.

// 1. Creates a data structure called a 'Stack'
// 2. setFocus same as push to stack
// 3.FILO order (First In Last Out)

Extension version: 0.9.0
VS Code

[2020-04-17 15:19] yomack commented on #364
Strangely enough...this eventually went away.

[2020-04-17 15:19] #364 closed

[2020-04-17 15:19] yomack commented on #364
Strangely enough...this eventually went away.  Not sure why it popped up in the first place.  Very frustrating.

[2020-04-17 20:51] FarazDareshani opened #365 "Installer v0.2.4: Can not add index to parent of type property"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-04-18 06:45] #352 closed

[2020-04-19 04:21] labibhussain commented on #94
Is a .classpath file absolutely necessary?

I've been having issues with incorporating .jar files from an external library into my project on vscode. The project was standalone and was not made through a "create Java app" function, so my directory does not contain an .classpath files. However, I was able to add the necessary .jar files to a lib file as well as have the Java Dependency View recogni

[2020-04-19 18:48] Gh0stPandaHD opened #366 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.9.0`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.44.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\abiga\vscjava.vscode-java-pack-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-c

[2020-04-20 01:36] Eskibear commented on #365
The installer was attempting to add java.home setting into file`C:\Users\Dell\AppData\Roaming\Code\User\settings.json` but failed. Please take a look at the file, check if there's any grammar mistake in existing settings. And if possible please attach the file here, **remember to wipe any sensitive information**

[2020-04-20 01:57] jdneo opened #367 "Failed to compile in a standalone project"
Is a .classpath file absolutely necessary?

I've been having issues with incorporating .jar files from an external library into my project on vscode. The project was standalone and was not made through a "create Java app" function, so my directory does not contain an .classpath files. However, I was able to add the necessary .jar files to a lib file as well as have the Java Dependency View recogni

[2020-04-20 01:57] jdneo commented on #367
@labibhussain would you mind to share your project to us for diagnostic?

[2020-04-20 07:50] akaroml commented on #152
VS Code will work on this. Whenever the type hierarchy API is available, Java will be quick to pick up.

See microsoft/vscode#84100 microsoft/vscode#15533

[2020-04-20 07:55] akaroml commented on #347
@badsyntax thank you very much for the effort. We do want to enhance the Gradle experience in the future. Keep in touch!

@xendren I'm closing this issue since @badsyntax already provided a solution.

[2020-04-20 07:55] #347 closed

[2020-04-20 08:01] akaroml commented on #358
@395053994 thanks for reporting. You can suppress the warning using `@SuppressWarnings("unchecked")` annotation.

@jdneo this is the case that the suggested code action is misleading. Please help improve from UX perspective.

Also +@testforstephen

[2020-04-20 08:04] akaroml commented on #359
@395053994 The screenshots you provided indicate application error of type `SQLSyntaxErrorException`. You'll need to check your application code to find out the root cause and get rid of the exception. Is there any other request or suggestion you want to make?

[2020-04-20 08:06] akaroml commented on #360
@395053994 thanks for reporting and sorry about the experience.

@eskibear could you engage to see what is going on?

[2020-04-20 08:07] akaroml commented on #362
@arilau this point is very valid. We'll improve this. Thanks.

[2020-04-20 08:09] akaroml commented on #366
@Gh0stPandaHD could you share the contents of this file with us `C:\Users\abiga\vscjava.vscode-java-pack-unresponsive.cpuprofile.txt`?

We won't be able to identify the problem if that file is missing.

[2020-04-20 08:15] 395053994 commented on #358
I mean, can the interaction method using "@SuppressWarnings (" unchecked ")" be the same as the operation mode of eclipse. It should be noted that at present, manual input is required, so the code experience is too bad. Eclipse can select "@SuppressWarnings (" unchecked ")" through the pop-up menu to suppress the warning. This is the wish I want to express

[2020-04-20 08:19] 395053994 commented on #359
What I want to say is that there are a lot of blank lines in the text content of the console, and the problem that the mouse cursor cannot select the text content from right to left.

[2020-04-20 08:20] 395053994 commented on #359
This problem has not been resolved

[2020-04-20 08:23] 395053994 commented on #360
Except that sometimes the disk occupies 100%, there is no other situation

[2020-04-20 08:25] jdneo commented on #358
@395053994 This request is tracking by https://github.com/redhat-developer/vscode-java/issues/1273

[2020-04-20 09:29] Eskibear commented on #360
@395053994  Please turn on verbose logging, and attach the detailed log here. And if possible, please also attach your sample project.

[2020-04-20 22:39] #300 closed

[2020-04-21 03:07] 395053994 commented on #358
The Red Hat developers did not say they wanted to fix the problem. They said it was frustrating to ask us to enter it manually. . .

[2020-04-21 17:48] BrianZhang1 opened #369 "Installer v0.2.4: code.exe ENOENT"
When I try to run the installer, it doesn't work. It returns the error: The system cannot find the path specified.

I notice it tries to install or run some command here:
C:\Users\Brian\AppData\Local\Programs\Microsoft VS Code\bin\code.cmd --install-extension vscjava.vscode-java-pack
spawn C:\Users\Brian\AppData\Local\Programs\Microsoft VS Code\bin\code.cmd ENOENT
But when I enter the directory:
C

[2020-04-22 01:38] Eskibear commented on #369
Thanks for reporting and the investigation.
Installing Java extensions is the last step, to work it around you just need to install "Java Extension Pack" in VSCode by your own, and then it's all set.

What I'm interested in is why the folder name appended with an underscore. The path it's looking for was found in Windows registry. But from your `PATH` env, I find below entries:
[code]
The first on

[2020-04-23 15:31] Eskibear commented on #277
I'm closing it since it's no longer valid now.

[2020-04-23 15:31] #277 closed

[2020-04-23 15:33] Eskibear commented on #369
From the log, I can tell the error is because of missing `C:\\Users\\Brian\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code.cmd`.  Posisble root cause can be that you didn't check to install code.cmd during your previous installation of vscode, and the preference was stored into windows registry. We haven't coverred the case yet, but we are looking for alternative ways to install the extens

[2020-04-23 17:26] BrianZhang1 commented on #369
This mainly happens when I first open vscode. With only java files, the
first time I run one after I open vscode, it will take around 20 seconds.
It can be a simple java program like this one:
public class javaStatic
{
    public static void main(String[] args)
    {
        System.out.println(2 + "je;;p");
    }
}
but it still takes up to 25 seconds to compile it on the first run after I
open vsc

[2020-04-23 19:54] BrianZhang1 commented on #369
I just reinstalled vscode, and I can install the java pack now. Thanks!

On Thu, Apr 23, 2020 at 1:26 PM Ainbrisk <brian22ca@gmail.com> wrote:

[2020-04-24 17:45] bheklilr opened #370 "Quick fixes to add parameter to existing constructor and getters/setters"
## Suggestion

Currently it is possible to add a new field to a class, and activate a quick fix to generate constructors.  I have found, especially with springboot and `@Autowired` constructors, that usually what I want is to modify the existing constructor instead of creating a new one.  Additionally, I could see it being very useful to also have a a similar option to generate a getter or getter/

[2020-04-25 03:41] shynome opened #371 "Support Kotlin ?"
I want use kotlin in vscode, I love vscode but today I have to use JetBrains IDE

which day can we write kotlin in vscode like java?

[2020-04-26 01:31] Eskibear commented on #370
FYI, there is another code action, which helps you create corresponding field from a constructor. Hope it helps.

<img width="702" alt="Screen Shot 2020-04-26 at 9 29 09 AM" src="https://user-images.githubusercontent.com/2351748/80294925-8b4fc780-87a0-11ea-8038-3283972b09cc.png">

[2020-04-26 03:41] Keith-LL opened #373 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-04-26 03:59] Eskibear commented on #373
The value seems to be wrong. Reset your JAVA_HOME as `D:\Applications\JavaDevelopmentKit`, or simply remove it. See if that works.

[2020-04-27 00:46] trejkaz opened #374 "Imports where jar was included by Gradle project can't be resolved"
## Suggestion

Most of my projects are using Gradle to build and I notice that when I'm in these projects, I get a screen full of red and VSCode claims that it can't resolve the imports.

I can't tell whether this is just a complete lack of support for Gradle (since I can't see mention of Gradle on the front page) or whether Gradle support is present but lacking.

It would be real nice if it worke

[2020-04-27 01:51] testforstephen commented on #374
Your **build.gradle.kts** file is using Kotlin, and VS Code doesn't support it yet.

[2020-04-27 02:25] trejkaz commented on #374
That explains this one. The one at work is still using Groovy but I can't put it in as an example. :/

[2020-04-27 15:13] bheklilr commented on #370
Oh, that will do most of what I want.  Being able to generate getters and/or setters would also be nice, but on most projects these days I can at least use lombok, which saves quite a bit of time.

Thanks for the suggestion, I didn't know that existed, and couldn't find anything about it after several minutes of googling.

[2020-04-27 15:13] #370 closed

[2020-04-27 15:53] Eskibear commented on #370
Generating getter and setter is also supported. Entry: right click, source actions...

[2020-04-27 16:25] Daa-Destroyer opened #375 "Installer v0.2.4: MSI 1603"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-04-28 07:39] #361 closed

[2020-04-28 08:29] Eskibear commented on #375
Can you attach both `%temp%\AdoptOpenJDK-MSI.log` and `%TEMP%\vscode-java-installer\log.txt`?

[2020-04-28 19:37] avicado1000 opened #376 "Question: Referenced Libraries"
I reinstalled visual studio code multiple times because the referenced libraries node wouldn't show up. Is there a way to get it to show in the java dependency viewer?

![image](https://user-images.githubusercontent.com/25677760/80529857-fd650f80-894c-11ea-98aa-4ad6adf2dd0c.png)

[2020-04-29 13:24] DaviBarros opened #377 "Feature request"
I normally use vscode to develop java but your IDE has a problem. Generate jar file manually gets hard work. Eclipse, Netbeans and another IDES normally makes that very well, but the only extension in vscode doesn't works. In future releases my sugestion is that you makes a tool to generate jar file and this task will be very easy.

[2020-04-29 14:06] ghost opened #378 "Question - Referenced Libraries in Read-only status can't add jar"
Trying run a spring-project build by eclipse on vscode.
But Referenced Libraries is in Read-only status, when I trying to add external libraries into my project.
How to do change Referenced Libraries status and add external jars into this project?

![image](https://user-images.githubusercontent.com/9445477/80604568-760abf80-8a64-11ea-80cf-c783e8417ca1.png)

[2020-04-30 08:24] bruceyan303 opened #379 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-04-30 20:22] ohbus commented on #379
Try removing this above quoted location from your `PATH`
and add `%JAVA_HOME%\bin` to it.

[2020-04-30 20:26] ohbus commented on #375
Maybe you can add JAVA_HOME environment variable.

[2020-05-01 00:50] matthewhirai opened #380 "Java help"
Issue Type: <b>Bug</b>

Opened a java file with the Java Extension Pack and when it runs, an output is supposed to appear.  However, an error pops out saying "path" argument must be a type of string and no output appears

Extension version: 0.9.0
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summa

[2020-05-01 03:45] 395053994 opened #381 "When writing Java code, why is the response speed of vscode java code prompt not as fast and efficient as that of Eclipse? Always wait for 1 second before appearing. . ."
**Environment:**

- VS Code Version: 1.44
- Extension Version: 红帽Java server
- JDK Type & Version: Oracle 1.8
- OS Type & Version:

When writing Java code, why is the response speed of vscode java code prompt not as fast and efficient as that of Eclipse? Always wait for 1 second before appearing. . .

[2020-05-03 01:23] Eskibear commented on #375
Besides `JAVA_HOME`, the installer also looks for JDK in `PATH`. Actually in your case, the installer failed to detect an installed JDK distribution (although it seemed that you have one). This is the first issue.

So it delegated to install AdoptOpenJDK 11 (which is our default fallback), but failed for some reason. That's another problem.

[code]
I find above entries were strange. `C:\Program Fi

[2020-05-03 01:37] Eskibear commented on #379
It's not related to the `PATH`. Something went wrong when it's updateing setting `java.home` in your vscode user settings file.

You can check if there's syntax error in file `C:\Users\dell\AppData\Roaming\Code\User\settings.json`.

Or you just set the setting `java.home` in vscode by your own.

[2020-05-04 02:32] #367 closed

[2020-05-04 02:32] #365 closed

[2020-05-04 08:35] #366 closed

[2020-05-04 09:16] kiprop48 opened #382 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-06 03:53] testforstephen commented on #381
@Eskibear could you help take a look?

[2020-05-06 04:35] Eskibear commented on #381
dup with #360

[2020-05-06 04:35] #381 closed

[2020-05-06 04:38] Eskibear commented on #351
we've improved the way of JDK recognition, in both installer and upstream projects. It should be fixed.

[2020-05-06 04:38] #351 closed

[2020-05-06 04:40] Eskibear commented on #382
Can you attach file `%temp%\vscode-java-installer\log.txt`?

[2020-05-06 16:18] yangjuexi opened #385 "Auto create file header"
## Suggestion

i think vs-code should support auto create a file header

## Use Cases

when i work with my teammates,i need to mark my work.but i found it was not convenient enough to write a file header.Althouth there were many plugins,but they only support insert at a specify line.
I want to auto create a file header before a class declaration or after import declaration

## Examples
here is cod

[2020-05-06 20:06] jonathan-slack opened #386 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-07 01:03] Eskibear commented on #386
can you attach file `%temp%\vscode-java-installer\log.txt` ?

[2020-05-07 13:55] lhagwa opened #387 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-07 13:56] #387 closed

[2020-05-07 14:03] lhagwa opened #388 "installer v0.2.4: Java Home not found"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-07 21:15] zmedley opened #389 "Installer v0.2.4 error: MSI 1639"
The JDK downloads just fine, but it won't install for some reason.

installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-08 02:28] Eskibear commented on #388
Can you attach file `%temp\vscode-java-installer\log.txt%`?

[2020-05-08 02:37] Eskibear commented on #389
Exactly. It was calling AdoptOpenJDK's MSI installer, but for some reason failed. I'm not sure if it's because of the whitespace in your username...

My suggestions:
- Can you attach file `%temp%\AdoptOpenJDK-MSI.log`? So they can further analyze it.
- You can donwload and install [AdoptOpenJDK](https://adoptopenjdk.net/) by your own, see if it works? if it's successfully installed, you can re-run

[2020-05-09 02:11] Rosscoo opened #390 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-09 02:40] Eskibear commented on #390
Can you check if `D:\Python\Microsoft VS Code\bin\code.cmd` exists on you machine?

[2020-05-10 04:49] #373 closed

[2020-05-11 13:33] Mandraulic opened #392 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-11 16:26] Shabirmean commented on #312
The Ebean Enhancement plugin for other IDEs achieve 'enhancement' by adding a **_javaagent_** during the runtime.

To align with that I have implemented an [Ebean Enhancement plugin](https://marketplace.visualstudio.com/items?itemName=shabirmean.ebean-enhancement) that automatically sets the **_vmArgs_** in the launch configuration. In this case the user must select which launch configuration to u

[2020-05-12 03:50] 395053994 commented on #381
vscode java code hint is still slow and need to wait 0.5 seconds or 1 second,
There is still no Eclipse, IDEA IDE responsive and agile, which is very frustrating. The same is the Eclipse JDT engine, why is Eclipse so responsive and agile? You have not found the cause of the problem!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Jinbo Wang"<notifications@github.com&gt;;
发送时间:&nbs

[2020-05-12 04:33] Eskibear commented on #381
If you do want to help, please provide the verbose log and your sample project in the original issue #360 , as I mentioned in https://github.com/microsoft/vscode-java-pack/issues/360#issuecomment-616427264 .

Creating duplicate issues without providing any useful information won't help. If you have time and passion on it, please join us to read the code and find out ways to improve. Thanks in adva

[2020-05-12 04:39] Eskibear commented on #392
It looks the installed JDK was not detected. Could you
- re-run it see if the issue still exists?
- attach file `%temp%\vscode-java-installer\log.txt` and `%temp%\AdoptOpenJDK-MSI.log` here?

[2020-05-12 09:08] #375 closed

[2020-05-12 09:52] 395053994 commented on #381
friend! The problem definitely exists, and if there is time, I am definitely willing to contribute my own strength.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Yan Zhang"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月12日(星期二) 中午12:33
收件人:&nbsp;"microsoft/vscode-java-pack"<vscode-java-pack@noreply.github.com&gt;;
抄送:&nbsp;"青春！"<395053994@qq.com&gt;;"Author"<author@noreply.git

[2020-05-13 04:40] #362 closed

[2020-05-13 06:55] Lempickax opened #396 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-13 07:16] Eskibear commented on #396
It looks that you have an Oracle JRE installed (correct me if wrong), but a JDK is required. Then the installer managed to download and install AdoptOpenJDK but failed to detect it after installation.

Can you also please attach  `%temp%\vscode-java-installer\log.txt` and `%temp%\AdoptOpenJDK-MSI.log` for more information?

[2020-05-13 15:43] Lempickax commented on #396
It fixed itself after I restart. Anyway, thank you for your help!

[2020-05-13 15:43] #396 closed

[2020-05-14 04:21] SukhbirSinghKhalsa opened #397 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-14 06:06] Eskibear commented on #397
Looks that the installer managed to download and install AdoptOpenJDK but failed to detect it after installation.

- Can you re-run the installer, see if the issue still exists?
- Can you also please attach %temp%\vscode-java-installer\log.txt and %temp%\AdoptOpenJDK-MSI.log for more information?

[2020-05-14 13:22] ksh-r opened #398 "Font warnings popped up in terminal after update"
I am using 2 fonts in my project via CSS file. The code for font :
`@font-face {
    font-family: "Rafflesian Poem";
    src: url('fonts/RafflesianPoem.ttf') format('truetype');
}`

While running the application, I get the following warning
`May 14, 2020 6:40:02 PM com.sun.javafx.css.StyleManager loadStylesheetUnPrivileged
INFO: Could not load @font-face font [file:/Users/kesharwakharkar/Library/A

[2020-05-14 13:37] ksh-r commented on #398
Also, one more thing if I could get some help with.
Before the update, my Launch Configurations were
`{
            "type": "java",
            "name": "Launch JavaFx Project",
            "request": "launch",
            "vmArgs": "--module-path /Library/Java/Extensions/javafx-sdk-11.0.2/lib --add-modules javafx.controls,javafx.fxml",
            "mainClass": "app.App",
            "projectName":

[2020-05-14 13:40] Eskibear commented on #398
@ksh-r  It's strange as there's no behavior change in the latest release. Can you rollback to install `0.9.0`, see if it's exactly caused by the new release?   (Right click on the extension, choose "install another version...")

[2020-05-14 13:52] Eskibear commented on #398
You are talking about two behavior changes:
- **debug**. The feature is provided by the [debugger extension](https://github.com/microsoft/vscode-java-debug). @testforstephen can you take a look?
- **create new project**.  There's a behavior change in the [latest release of dependency viewer](https://github.com/microsoft/vscode-java-dependency/releases/tag/0.10.0). If you have further questions,  @

[2020-05-14 20:18] dupinder opened #399 "Add Lombok Annotations to the Java extension pack"
## Suggestion

I Love VSCode, so I want to use this for Java too. for that I added required plugins, extensions packs, and did everything what else VSCode suggested, but no success. After a long post related to
 `Java crashed 5 times in last 3 min`. I found a way out to run java in vscode. Install `Lombok Annotations`

* Link
https://marketplace.visualstudio.com/items?itemName=GabrielBB.vscode-lom

[2020-05-14 20:18] dupinder commented on #399
If someone please give me a idea, I can fix this issue :)

[2020-05-16 10:29] aisbergde opened #400 "Feature request: add instruction how to call the "Java Overview" where the JDK Version and JVM can be seen"
## Suggestion

Add some links on the "Java Overview" (containing Start, Documentation, Key Bindings ...)
to the alternative "Java Overview" window which was shown an startup and to some other configuration pages which I have seen on first install of the package.

Add some links to configuration to make it easier to start.

## Use Cases

When I installed JAVA support there was an additional "Java O

[2020-05-16 10:37] aisbergde commented on #400
I mean some instructions like this which I found when searching:

[2020-05-17 02:14] #379 closed

[2020-05-18 01:39] testforstephen commented on #398
@ksh-r Could you downgrade Java Debugger to an old version (e.g. 0.25.1) and try again?

Here is the step to install an older version:
![image](https://user-images.githubusercontent.com/14052197/82166450-0b260900-98eb-11ea-80cb-4ba875a05e70.png)

[2020-05-19 03:09] zmedley commented on #389
Mr. Zhang,
Thank you for your reply! When you ask me to attach the file %temp%\AdoptOpenJDK-MSI.log, which file are you referring to? Is it the file for the installer?
Thank you,
Zach Medley

    On Thursday, May 7, 2020, 10:38:13 PM EDT, Yan Zhang <notifications@github.com> wrote:

The JDK downloads just fine, but it won't install for some reason.

MSI Invalid Command Line Option - Error 1639. A

[2020-05-19 03:17] zmedley commented on #389
Mr. Zhang,
Also, I tried to download the AdoptOpenJDK file on my own using Visual Studio Code. However, when I ran the Configure Java Runtime program, it said that my path was not pointing to a JDK. This occurred even after I set JDK_Home and Java_Home to the same environmental variable. Do you know what I could be doing wrong here?
Thank you,
Zach Medley
    On Thursday, May 7, 2020, 10:38:13 PM

[2020-05-20 01:42] Eskibear commented on #389
If the error message is "not pointing to a JDK", it means file `%JAVA_HOME%\bin\javac.exe` doens't exists. Could you do the following things?
- take a screenshot of the "configure java runtime" page, and attach it here.
- double check and let me know if `bin\javac.exe` exists under your java home directory.

[2020-05-20 02:10] rootulp opened #401 "Java Test Runner prevents keyboard shorcuts from working"
Issue Type: <b>Bug</b>

1. Open a Java project
2. Run the following command: "Java: Run all tests"
3. Focus on the tab "Java Test Report"
4. (optional) drag and drop the "Java Test Report" tab into the normal file explorer tab along with tabs of code.
5. Navigate back and forth between tabs a few times (i.e. Cmd + 1, Cmd + 2)
6. Observe that after selecting the "Java Test Report" tab, VSCode becom

[2020-05-20 04:51] #382 closed

[2020-05-20 04:51] #360 closed

[2020-05-20 06:41] skyperx opened #402 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-20 06:42] #402 closed

[2020-05-20 11:39] Eskibear commented on #402
@skyperx The installer failed to set `java.home` in your user settings. Just FYI that one possible reason can be that potential syntax errors in your `C:\Users\<username>\AppData\Roaming\Code\User\settings.json` file. If you can have a check and let us know the result, that'd be great help.

[2020-05-20 14:36] aniketroy420 opened #403 "installer v0.2.4: Java Home not found"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-20 15:34] Eskibear commented on #403
For some reason, the installed AdoptOpenJDK was not detected in the configuration stage. Can you help to attach files `%TEMP%\vscode-java-installer\log.txt` and `%TEMP%\AdoptOpenJDK-MSI.log`? So that we might be able to figure out what happened.

[2020-05-21 02:02] #386 closed

[2020-05-21 06:51] Slywire opened #404 "Extension causes high cpu load"
[vscjava.vscode-java-pack-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-java-pack/files/4660956/vscjava.vscode-java-pack-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `vscode-java-pack`
- Extension Version: `0.9.1`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.45.1`

:warning: Make sure to **attach** this file from your *home*-direct

[2020-05-22 03:12] #388 closed

[2020-05-23 11:45] kkyeer opened #405 "Bug Exception stack missing link"
**Environment:**

- VS Code Version: 1.45.1
- Extension Version: 0.9.1
- JDK Type & Version:  Oracle jdk 1.8.0_251
- OS Type & Version:Windows10

**Step to Reproduce:**
spring boot web environment  ,in any controller,log exception stack to debug console

**Expected Behavior:**
all lines in the exception stack can be traced to source code.

**Actual Behavior:**
only a few lines can be identified to

[2020-05-23 14:50] robalais opened #406 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-23 20:41] #390 closed

[2020-05-23 22:23] rootulp opened #407 "Feature request: Ability to "Show test report" via keyboard shortcut and CMD + P"
## Suggestion

I would like the ability to open the **Java Test Report** window via keyboard shortcut or via the CMD + P menu

## Examples

<img width="195" alt="Screen Shot 2020-05-23 at 6 21 30 PM" src="https://user-images.githubusercontent.com/3699047/82741655-855af100-9d22-11ea-8408-63067306bb4c.png">
<img width="746" alt="Screen Shot 2020-05-23 at 6 21 42 PM" src="https://user-images.githubus

[2020-05-24 04:16] Eskibear commented on #406
The installer was trying to install extensions using vscode's CLI code.cmd, but failed to find it.
The workaround is, you open vscode, and install "Java Extension Pack" by yourself.

For this issue, can you check by yourself if file `C:\Users\roger\AppData\Local\Programs\Microsoft VS Code\bin\code.cmd` exists in your machine? And please let me know the result.

[2020-05-24 15:06] aniketroy420 commented on #403
On Wed, May 20, 2020 at 9:05 PM Yan Zhang <notifications@github.com> wrote:

===Installer started at 2020-05-20T14:33:02.748Z===
{
  "machineId": "de5494f71a68d2cf7a30b440759a0411fec64cb811630b943807fbf2d308aa03",
  "sessionId": "1f2e49c7-cbf1-422e-a345-f68c5112b5761589985181546"
}
Packed binaries:
{}
Looking for VS Code in x64 registry: HKCU\Software\Microsoft\Windows\CurrentVersion\Uninstall\{77

[2020-05-24 21:37] ZiKoRed opened #408 "installer v0.2.4: Java Home not found"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-25 01:51] Eskibear commented on #408
For some reason, the installed AdoptOpenJDK was not detected in the configuration stage. Can you help to attach below files?
- `%TEMP%\vscode-java-installer\log.txt`
- `%TEMP%\AdoptOpenJDK-MSI.log`

So that we might be able to figure out what happened.

[2020-05-25 05:18] Eskibear commented on #403
I'll look into the installer, trying to find out why it's not detected. Meanwhile, can you also provide file `%temp%\AdoptOpenJDK-MSI.log`, so we can hand it over to AdoptOpenJDK team, see if there's any issue there.

[2020-05-25 09:48] akaroml commented on #407
@rootulp Thanks for sharing the thoughts. This can be easily done because the functionality can be triggered by a command, to which you can assign a hotkey.
I'll invite @jdneo to provide detailed instructions.

[2020-05-25 09:58] akaroml commented on #404
@slywire thanks for reaching out.

@testforstephen could you take a look?

[2020-05-25 09:58] akaroml commented on #401
@rootulp thanks for reaching out.

@jdneo please take a look.

[2020-05-25 10:02] akaroml commented on #400
@aisbergde thanks for sharing your thoughts. This is actually a good idea. Getting started experience is something we want to continuously improve. We'll definitely take it into consideration.

Thanks again.

[2020-05-25 10:07] akaroml commented on #399
@dupinder thanks for reaching out to us.

From the description you provided, I guess you should be using Lombok in your project, otherwise, the Lombok extension should not be able to fix the crash problem.

To identify the root cause, I would suggest that you share the log files with us. You can find the logs by running command "Java: Open all log files".

Furthermore, your project definition (pom

[2020-05-25 10:09] akaroml commented on #385
Thanks for reaching out @yangjuexi

@testforstephen I guess we already support generating Javadoc at different levels. Could you provide some help here?

[2020-05-25 10:11] akaroml commented on #380
@mhirai34 thanks for reaching out.

@testforstephen could you take a look?

[2020-05-25 10:13] akaroml commented on #378
@shihmingchiu thanks for reaching out.

@jdneo could you help here?

[2020-05-25 10:14] akaroml commented on #376
Thanks for reaching out @avicado1000

@jdneo could you help?

[2020-05-25 10:16] akaroml commented on #374
Thanks for reaching out @trejkaz

Closing this one as Kotlin support is out of scope.

[2020-05-25 10:16] #374 closed

[2020-05-25 10:18] akaroml commented on #371
Thanks for sharing your thoughts @shynome

Kotlin is not supported and our focus is still Java in the near future. This issue won't be addressed soon but we'll record it in our back log. Thanks.

[2020-05-25 10:18] #371 closed

[2020-05-25 10:18] akaroml commented on #359
@testforstephen could you please take a further look?

[2020-05-25 10:19] akaroml commented on #353
Thanks for reaching out @alek-sys

@jdneo please take a look.

[2020-05-25 10:52] jdneo commented on #376
@avicado1000 How did you get this project? What if you trigger the command `Java: Create Java Project`?

[2020-05-25 10:54] jdneo commented on #378
@shihmingchiu Eclipse project is not supported to manage dependencies through the referenced libraries node.

@akaroml I'll change the label to `enhancement` since this issue is a feature request.

[2020-05-26 01:49] testforstephen commented on #353
@alek-sys We already fixed this issue recently in [vscjava.vscode-java-debug@0.26.0](https://github.com/microsoft/vscode-java-debug/blob/master/CHANGELOG.md#fixed), could you try again?

[2020-05-26 01:54] yangjuexi commented on #385
Thanks for all .I mean I want to add some author information before the declaration of class,like @author ,@since and so on.Maybe there was some configuration I haven't found? I don't want to type the information every time i create a file.Is there any shortcuts? I try some extensions ,but the experience was not very good.Thanks again

[2020-05-26 02:04] testforstephen commented on #359
From the screenshot you pasted, i didn't see any blank line, please provide a full picture which contains extra blank lines.

Do you mean cannot select the entire debug console text (aka. [Multi page selection in debug console](https://github.com/microsoft/vscode/issues/2163))? That's a https://github.com/microsoft/vscode/issues/2163 issue, out of scope of the Java extension.

[2020-05-26 02:17] testforstephen commented on #380
@mhirai34 you're mentioning the debugging feature is not working, could you mind share a screenshot about the error? thanks.

[2020-05-26 02:36] testforstephen commented on #385
This looks like some kind of comment template, the Java extension didn't provide the support yet, should be a new feature request.

@yangjuexi As a workaround, i would suggest you to have a look at user defined snippet https://code.visualstudio.com/docs/editor/userdefinedsnippets#_create-your-own-snippets. With it, you can define your comment template into a snippet, and apply the snippet to your

[2020-05-26 03:24] akaroml commented on #282
@liipski thanks for reaching out.

Looks like a LS issue. @testforstephen, could you please take a look?

[2020-05-26 03:30] akaroml commented on #339
Thank you all for sharing your thoughts. We are revisiting the JDK related experience. There are two JDKs related to this problem.
1. The JDK to start the Java language server
2. The JDK that the current project is targeting
Those two can be the same or different. We'll improve the acquisition guide to provide consolidated view of both settings.

[2020-05-26 03:31] testforstephen commented on #404
Below is the cpu profile.
![image](https://user-images.githubusercontent.com/14052197/82857545-e1e92680-9f43-11ea-8e6a-b1e8741d8acf.png)

The first 50% time (2.8s) is happening at **file:///c:/Users/hendrikvn/AppData/Local/Programs/Microsoft%20VS%20Code/resources/app/extensions/github-authentication/dist/extension.js**

The second 50% time (2.8s) is happening at
**file:///c:/Users/hendrikvn/AppDat

[2020-05-26 05:09] #392 closed

[2020-05-26 05:44] trejkaz commented on #374
The one Groovy project I use doesn't work either, but of course that's work stuff so I can't provide an example. :/

[2020-05-26 10:10] alek-sys commented on #353
@testforstephen yep, all worked as expected with `vscode-java-debug@0.26.0`. Thanks!

[2020-05-26 10:10] #353 closed

[2020-05-26 12:11] yangjuexi commented on #385
oh，I almost forgot this.This do solve my question.Thanks for all of you.

[2020-05-26 12:11] #385 closed

[2020-05-26 13:40] 395053994 commented on #359
当Java将异常信息发送到控制台时，将有许多空白行

无法通过从左向右滑动鼠标来选择文件复制

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Jinbo Wang"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月26日(星期二) 上午10:04
收件人： &nbsp;“ microsoft / vscode-java-pack” <vscode-java-pack@noreply.github.com&gt;;
抄送： &nbsp;“青春！” <395053994@qq.com&gt;;“提及” <mention@noreply.github.com&gt;;
主题： &nbsp;回复：[microsoft / vscode-java-pack]控制台中的问题

[2020-05-26 19:20] vdonade opened #409 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-26 22:21] WillJDunn opened #410 "After opening a Java file another file from a different project with same name becomes current file"
After creating two new projects using "Java: Create New Project", opening the default "App.java" of the second project and running it from the CodeLens options results in the "App.java" from the first project being run. The first project shows as the "current file" in the explorer (it is in yellow text) even though the second project was the one opened from Explorer. I have attached a GIF demonstr

[2020-05-27 01:25] Eskibear commented on #409
Our installer search Windows Registry for the installation record. Looks that you already have vscode installed, but the installer failed to detect that. Thus it tried downloading vscode and installing it. But the vscode installer also failed for some reason.

Can you attach file `%TEMP%\vscode-java-installer\log.txt`?

[2020-05-27 05:20] GauravGupta0216 opened #411 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-05-27 06:10] Eskibear commented on #411
For some reason, the installed AdoptOpenJDK was not detected in the configuration stage. Can you help to attach below files?
- `%TEMP%\vscode-java-installer\log.txt`
- `%TEMP%\AdoptOpenJDK-MSI.log`

So that we might be able to figure out what happened.

[2020-05-27 07:06] testforstephen commented on #359
我在本地并不能重现这个问题，请提供sample code来帮助重现此问题？

debug console上的选中/复制功能是vscode平台提供的，建议issue开到https://github.com/microsoft/vscode/issues。

[2020-05-27 13:46] dupinder commented on #399
@akaroml I think i need to uninstall Lombok and then again try to run java project in VS that might give me logs to share with you

[2020-05-27 16:50] 395053994 commented on #359
Very simple, you write a Java class, intentionally let it throw a multi-line exception to the console output, and then operate according to my meaning to see how the situation is, it must output a multi-line exception information to the console, not the terminal. If you have no problem, please give me a screenshot, thank you!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Jinbo W

[2020-05-28 02:12] 395053994 commented on #359
Please forward this question to the vscode platform, because I can't find it, thank you!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Jinbo Wang"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月27日(星期三) 下午3:06
收件人:&nbsp;"microsoft/vscode-java-pack"<vscode-java-pack@noreply.github.com&gt;;
抄送:&nbsp;"青春！"<395053994@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re:

[2020-05-28 09:38] aohanhe opened #412 "gradle subproject ext variable error"
after update newest version , variable at my root project
![image](https://user-images.githubusercontent.com/23033236/83125165-b748ca80-a109-11ea-9614-9a2cff2f7416.png)
can‘t recognition at subproject .
![image](https://user-images.githubusercontent.com/23033236/83125277-e9f2c300-a109-11ea-8a8e-fa58cd83baff.png)

![image](https://user-images.githubusercontent.com/23033236/83125328-f70fb200-a109-11

[2020-05-29 05:28] akaroml commented on #412
@aohanhe thanks for reaching out. One workaround I can suggest is to clean up the workspace by running the command "Java: Clean the Java language server workspace".

It looks like a Gradle thing. @testforstephen could you take a look and move this issue to vscode-java if applicable?

[2020-05-29 05:32] akaroml commented on #359
If the target of this debug session is terminal, then all the output goes there. That's why there is nothing in the debug console. If you want use debug console instead, you can modify the debug setting and set `java.debug.settings.console` to `internalConsole`.

[2020-05-29 05:36] akaroml commented on #410
@willjdunn Thank you so much for the detailed instructions.

@testforstephen could you take a look and help @WillJDunn with this?

[2020-05-29 08:20] testforstephen commented on #410
As you see, the command "**Java: Create New Project**" just scaffold a folder for you, it doesn't contain any project tag there. And as a convention, only when you open this folder as a VS Code root, then the extension will treat it as a project. The reason is the Java extension will initialize one invisible project for each workspace root by default.

But if you put the generated result in a subf

[2020-05-29 08:26] testforstephen commented on #412
Hi @aohanhe, Could you try to downgrade **Language Support for Java(TM) by Red Hat** extension to 0.61.0 to see whether it works? If so, then it should be a regression of [vscode-java](https://github.com/redhat-developer/vscode-java/issues) extension.

Below is the way to install an older version.
![image](https://user-images.githubusercontent.com/14052197/83238496-16b9df80-a1c9-11ea-88a3-ceabd7d1

[2020-06-01 02:59] akaroml commented on #410
Thanks for the analysis @testforstephen. Now it looks more like a project experience thing. @jdneo can we put this in the big picture and it's yet another use case.

[2020-06-01 03:04] #398 closed

[2020-06-02 10:00] phudson opened #413 "Question: How to stop the debugger loading source files from the target/class folder"
I have a Maven project, constructed by someone else (I am not a maven ninja). It appears that the build copies the java source files into target/classes,

All works well, except that when I set a breakpoint in the debugger, when the breakpoint is reached, VSCode loads the copy that's in target/classes/... and not the original that's in src/main/...

Intellisense/doc lookups etc  doesn't work prope

[2020-06-03 01:48] #389 closed

[2020-06-03 07:48] yiwereaminu opened #414 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-06-03 10:36] jasminakostadinovic opened #415 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-06-03 11:10] Eskibear commented on #415
For some reason, the installed AdoptOpenJDK was not detected in the configuration stage. Can you help to attach below files?
- `%TEMP%\vscode-java-installer\log.txt`
- `%TEMP%\AdoptOpenJDK-MSI.log`

So that we might be able to figure out what happened.

[2020-06-03 11:13] Eskibear commented on #414
First of all, learning from JAVA_HOME, you have a JRE installed (instead of JDK which is required). So it attempted to download and install a JDK for you.
For some reason, AdoptOpenJDK was failed to installed.
- `%TEMP%\vscode-java-installer\log.txt`
- `%TEMP%\AdoptOpenJDK-MSI.log` (especialy this one, we'll send it to AdoptOpenJDK for more details)

So that we might be able to figure out what hap

[2020-06-03 11:15] jasminakostadinovic commented on #415
сре, 3. јун 2020. у 13:11 Yan Zhang <notifications@github.com> је
написао/ла:

===Installer started at 2020-06-03T10:31:50.678Z===
{
  "machineId": "63ece9358688062157e4246a3dfc841ecb0d61068e58eec362cb903014506b59",
  "sessionId": "6f47981d-937c-4371-991d-1af0fed285141591180310361"
}
Packed binaries:
{}
Looking for VS Code in x64 registry: HKCU\Software\Microsoft\Windows\CurrentVersion\Uninstall\{

[2020-06-03 15:32] Eskibear commented on #415
I don't see anything wrong from the log. So can you check below:
- if the JDK has been successfully installed?
  - if not, attach file `%temp%\AdoptOpenJDK-MSI.log`and we'll hand it over to AdoptOpenJDK team.
  - if yes, please try to re-run the installer, does it work now?

[2020-06-03 17:44] Diegocoghlan opened #416 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-06-04 02:35] Eskibear commented on #416
For some reason, the installation of AdoptOpenJDK was failing. Can you help to attach below files? (drag the files in, instead of pasting)
- `%TEMP%\vscode-java-installer\log.txt`
- `%TEMP%\AdoptOpenJDK-MSI.log`. **(especially this one)**

So that we might be able to figure out what happened.

#### Workaround
You can manually download a JDK distribution (e.g. [Adopt](https://adoptopenjdk.net/)) an

[2020-06-05 05:13] #397 closed

[2020-06-05 05:13] #354 closed

[2020-06-05 10:37] Arto358 commented on #42
I just tested all your tips but it didn't work for me
I have: command 'java.execute.workspaceCommand' not found
and source: Debugger for java (extension)
if you can help me please

[2020-06-07 04:33] #406 closed

[2020-06-08 02:04] #408 closed

[2020-06-08 14:23] vsasvipul0605 opened #417 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-06-08 16:35] Eskibear commented on #417
You have above path in you %PATH%, so I assume you have an Oracle JRE installed, instead of JDK. (correct me if wrong)
Failing to detect an installed JDK, the installer attempted to download & installer AdoptOpenJDK for you. However, as revealed in the log, it seems you don't have permission to install AdoptOpenJDK via MSI:

You may install a JDK by yourself (or set %JAVA_HOME% pointing to a valid

[2020-06-09 10:14] tiredoak opened #418 "Removing used imports without saving"
Came here from [#675](https://github.com/redhat-developer/vscode-java/issues/675)

Video [here](https://drive.google.com/file/d/1jyoPwjXoXFapCSHu_4Tp_tUYfCRu9CBG/view?usp=sharing). I'm typing and using an import which is added but then quickly removed - I'm not saving the file either.

[2020-06-09 15:40] Imnotfive opened #419 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-06-10 01:31] #409 closed

[2020-06-10 05:15] Eskibear commented on #419
The installer failed to set java.home in your user settings. Just FYI that one possible reason can be that potential syntax errors in your `C:\Users\<username>\AppData\Roaming\Code\User\settings.json` file. Can you share the file?

[2020-06-10 06:31] #411 closed

[2020-06-10 09:22] ngergo0831 opened #420 "IntelliCode for Java cannot be activated."
So after the 2004 version windows update, Code won't be able to load IntelliCode. I tried disable-enable the extension, uninstall and install again, removed registry files, cleared cache and temp folder, but none of them worked. In the picture below, there's the error message.
![Annotation 2020-06-10 111325](https://user-images.githubusercontent.com/46540798/84249835-8f933280-ab0b-11ea-8050-96b9aa

[2020-06-10 11:48] Eskibear commented on #420
IntelliCode for Java failed the activation, probably because Java language server failed to start.
Can you follow the message to check below output channel, and share the detailed error logs?
- Language support for Java
- VS IntelliCode

`View` -> `Output` -> Select above channels to view the log.

[2020-06-10 11:59] ngergo0831 commented on #420
VS IntelliCode:
`Error while activating Java: {"code":"MODULE_NOT_FOUND","requireStack":["c:\\Program Files\\Microsoft VS Code\\resources\\app\\out\\vs\\loader.js","c:\\Program Files\\Microsoft VS Code\\resources\\app\\out\\bootstrap-amd.js","c:\\Program Files\\Microsoft VS Code\\resources\\app\\out\\bootstrap-fork.js"]}. If vscode-java failed to activate, try these troubleshooting steps: https://

[2020-06-11 00:58] Eskibear commented on #420
Thank you for digging it out. It looks extension `redhat.java` failed to be activated for some reason, and that's why you don't get any other language features except syntax highlighting (which is provided by vscode itself). In your case, even if you disable IntelliCode, the completion still won't work.

That's out of what IntelliCode can help. Can you help to create an issue with above findings i

[2020-06-13 14:52] JAYKALIA007 opened #422 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-06-14 05:05] akaroml commented on #413
@testforstephen @Eskibear  you might be able to share some suggestions here.

[2020-06-14 05:07] akaroml commented on #420
@ngergo0831 it looks like a recovered case according to your comments in the marketplace. Could you please share a bit more on how this was fixed?

[2020-06-14 05:10] akaroml commented on #418
@tiredoak thanks for reaching out.

It seems like the case that the newly added import statement is removed before saving the file.

@testforstephen could you please help take care of this issue in vscode-java repo?

[2020-06-14 05:45] testforstephen commented on #413
Duplicated with https://github.com/microsoft/vscode-java-debug/issues/823#issuecomment-642656810. The user said the pom.xml has some issue, and after he fixed it, it worked now.

[2020-06-14 05:45] #413 closed

[2020-06-14 08:18] phudson commented on #413
Thank you. Sorry for the noise.

[2020-06-14 17:07] Eskibear commented on #422
For some reason, the installed AdoptOpenJDK was not detected in the configuration stage. Can you help to attach files `%TEMP%\vscode-java-installer\log.txt` and `%TEMP%\AdoptOpenJDK-MSI.log`? So that we might be able to figure out what happened.

[2020-06-15 03:40] #412 closed

[2020-06-15 07:39] mtahagocer opened #423 "Installer v0.2.4 error: Java Home not found."
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-06-15 09:36] Eskibear commented on #423
For some reason, the installed AdoptOpenJDK was not detected in the configuration stage. Can you help to attach files `%TEMP%\vscode-java-installer\log.txt` and `%TEMP%\AdoptOpenJDK-MSI.log`? So that we might be able to figure out what happened.

[2020-06-17 07:37] MrNocTV opened #424 "Enable Java Extension Pack in VSCode causing Axon Ivy Designer (Eclipse based) to build fail."
**Environment:**
- VS Code Version: 1.46.0
- Extension Version: v0.9.1
- JDK Type & Version: 1.8.0_241
- OS Type & Version: Windows
- Axon Ivy Designer Version: 6.3.0
- Axon Ivy Engine Version: 6.3.0

**Step to Reproduce:**
+ Open your project on Axon Ivy Designer and import an existing project.
+ Open VSCode, open the same project with Java Extension Pack enabled.
+ Clean project on Axon Ivy Desg

[2020-06-17 16:14] #415 closed

[2020-06-18 03:17] #414 closed

[2020-06-18 03:17] #416 closed

[2020-06-18 17:01] NehaDShakya opened #425 "Installer v0.3.0 error"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-06-18 17:05] mtahagocer commented on #423
Thanks !

[2020-06-18 17:05] #423 closed

[2020-06-18 17:47] Eskibear commented on #425
It helped to configure all the settings, but failed to install the java extension pack. I guess the extension was currupt due to networking or whatever.

Can you re-run the installer, see if it works?
Or you can manually install it by [this link](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack) or inside vscode.

please let me know the result.

[2020-06-20 18:52] 007Salih2020 opened #426 "Installer v0.3.0 error:Java Home not found."
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-06-22 02:06] Eskibear commented on #426
Installed JDK failed to be detected. Can you attach `%TEMP%\vscode-java-installer\log.txt`?

[2020-06-22 02:28] akaroml commented on #424
@mrnoctv thanks for reaching out. To troubleshoot this, please help us reproduce this issue. Is there any material you can share, like a sample project?

@testforstephen please help follow up.

[2020-06-22 02:40] testforstephen commented on #418
@tiredoak Could you share your user setting and the Java extensions you installed in VS Code?

[2020-06-22 02:48] testforstephen commented on #424
Do you open a same **Java** project in VS Code? If so, you could disable the auto build in VS Code via user setting `"java.autobuild.enabled": false`.

[2020-06-22 17:18] #417 closed

[2020-06-23 02:36] roozbeh397 opened #427 "Installer v0.3.0 error"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-06-23 03:15] Eskibear commented on #427
It indicated that you had a self-signed cert, thus for security reason the vscode CLI failed to download and install the extension pack for you.

Can you try installing Java extension pack by your own? The installer has already configured all required settings, it should work out-of-box now. Let me know if that works.

[2020-06-23 08:57] daniel-evans007 opened #428 "Installer v0.3.0 error"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-06-23 11:57] deepakgsbv7186 opened #429 "Installer v0.3.0 error"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-06-23 12:04] rishibajaj opened #430 "Installer v0.3.0 error"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-06-23 14:05] rishibajaj opened #431 "Installer v0.3.0 error"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.
[log.txt](https://github.com/microsoft/vscode-java-pack/files/4819885/log.txt)

[2020-06-23 16:54] Eskibear commented on #430
dup #431

[2020-06-23 16:54] #430 closed

[2020-06-23 16:56] Eskibear commented on #431
Thanks for reporting. Looks it's networking issue (DNS). Since it's the last step to install the extension pack, can you try installing [Java Extension Pack](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack) manually by your own? Let me know if it works.

[2020-06-23 16:57] Eskibear commented on #429
Thanks for reporting. Looks it's networking issue (ECONNRESET). Since it's the last step to install the extension pack, can you simple re-run the installer, or try installing [Java Extension Pack](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack) manually by your own? Let me know if it works.

[2020-06-23 16:58] Eskibear commented on #428
Thanks for reporting. Looks it's networking issue (ECONNRESET). Since it's the last step to install the extension pack, can you simple re-run the installer, or try installing [Java Extension Pack](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack) manually by your own? Let me know if it works.

[2020-06-23 17:00] daniel-evans007 commented on #428
Okay, thank you for responding. But I've reinstalled it and it works fine.
Thank you for your time.

On Tue, Jun 23, 2020, 10:28 PM Yan Zhang <notifications@github.com> wrote:

[2020-06-23 17:17] #428 closed

[2020-06-23 20:19] Pufund opened #432 "Installer v0.3.0 error: Corrupt ZIP"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-06-23 20:20] Pufund commented on #432
[log.txt](https://github.com/microsoft/vscode-java-pack/files/4821723/log.txt)

[2020-06-24 01:31] Eskibear commented on #432
Thanks for reporting. Looks it's networking issue (currputed ZIP file). Since it's the last step to install the extension pack, can you simply re-run the installer, or try installing [Java Extension Pack](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack) manually by your own? Let me know if it works.

[2020-06-24 01:51] Rohith-Pusarla opened #433 "Installer v0.3.0 error: vscode not detected after installation"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-06-24 02:30] V-coding-gamedev opened #434 "Installer v0.3.0 error"
Would you please help me to solve this problem please ? Thanks

version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-06-24 02:37] Eskibear commented on #433
Looks you have already installed JDK 13 from Oracle. The installer searched Windows Registry for installed JDKs, but somehow failed to detect one.  Can you attach **%TEMP%\vscode-java-installer\log.txt** for more details?

[2020-06-24 02:45] Eskibear commented on #434
The installer was modifying your user settings, setting `java.home` to `C:\Program Files\Java\jdk-13.0.2`, but failed. Can you check if there's syntax error in your settings.json?

Actually, according to your environment variables, if you install Java Extension Pack by your own, it should work out-of-box without any extra settings.

[2020-06-24 02:50] V-coding-gamedev commented on #434
So how can I solve this issue ?

[2020-06-24 03:11] Eskibear commented on #434
To get it working, you can install [Java Extension Pack](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack) by your own.

BTW can you also attach file **%USERPROFILE%\AppData\Roaming\Code\User\settings.json** for diagnosis?

[2020-06-24 05:54] #419 closed

[2020-06-24 07:39] deepakgsbv7186 commented on #429
You catch the exact problem that's happening with PC.
Thanks for helping me out...

[2020-06-24 07:39] #429 closed

[2020-06-24 08:50] ayush855-cloud opened #435 "Installer v0.3.0 error"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-06-24 08:54] Eskibear commented on #435
It seems the AdoptOpenJDK installer failed. Can you attach files **%TEMP%\vscode-java-installer\log.txt** and **%temp%\AdoptOpenJDK-MSI.log**  (especially this one, and we can forward to AdoptOpenJDK team for further analysis).

[2020-06-24 15:35] Pufund commented on #432
this problem occured when I install Java Extension Pack manually. Tried 3-4 times and its installed. Thanks , solved.

[2020-06-24 15:35] #432 closed

[2020-06-24 23:40] robsonheinke opened #436 "Installer v0.3.0 error: Java Home not found"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-06-25 02:16] Eskibear commented on #436
[20:39:56] Install JDK ... [Completed]

The log indicated that it only took 2 seconds to install the JDK. I'm wondering if it's because the JDK was not successfully installed. Can you share below files?
*  %TEMP%\vscode-java-installer\log.txt
*  %TEMP%\AdoptOpenJDK-MSI.log  (especially this one)

[2020-06-26 08:55] MrNocTV commented on #424
Hi @akaroml unfortunately this is my company project I cant share the source code.
Hi @testforstephen right after you install Java Extension Pack, you are asked to ignore some of the files. If you check the check box or leave it empty, the issue still remains.

I observe that these files are changed when Java Extension Pack compiles the project:

- .settings/org.eclipse.core.resources.prefs
- .set

[2020-06-26 15:32] SilvaRubens opened #437 "Installer v0.3.0 error: MSI 1603"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-06-27 01:10] Eskibear commented on #437
The AdoptOpenJDK installer failed with [exit code 1603](https://support.microsoft.com/en-us/help/834484/you-receive-an-error-1603-a-fatal-error-occurred-during-installation). Can you attach below log files?
- %TEMP%\vscode-java-installer\log.txt
- %temp%\AdoptOpenJDK-MSI.log  (especially this one, which we can forward to AdoptOpenJDK team for further diagnosis)

[2020-06-28 03:49] yonpyon opened #438 "Installer v0.3.0 error"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-06-28 05:40] Eskibear commented on #438
Looks it's networking issue (currputed ZIP file). Since it's the last step to install the extension pack, can you simply re-run the installer, or try installing [Java Extension Pack ](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack)manually by your own? Let me know if it works.
See #432

[2020-06-28 10:37] leo1515416043 opened #439 "Project jdk version always be JavaSE-1.7"
### view
![image](https://user-images.githubusercontent.com/48787027/85945125-2c5c2980-b96e-11ea-84f2-cbdd6a9fee2a.png)

### settings.json
![image](https://user-images.githubusercontent.com/48787027/85945059-be176700-b96d-11ea-9ca1-563371454df7.png)

![image](https://user-images.githubusercontent.com/48787027/85945149-54e42380-b96e-11ea-8b4c-71a8fd9191dc.png)

### Question
* this project always be

[2020-06-28 15:00] Fimbulg opened #440 "Installer v0.3.0 error： Java Home not found"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-06-28 15:52] Eskibear commented on #440
Similar with https://github.com/microsoft/vscode-java-pack/issues/436#issuecomment-649172517

Can you share below files?

- %TEMP%\vscode-java-installer\log.txt
- %TEMP%\AdoptOpenJDK-MSI.log (especially this one)

[2020-06-29 01:59] testforstephen commented on #424
I'm not familiar with Axon Ivy Designer. The Java extension actually is leveraging a headless eclipse JDT platform in the background, and it will automatically import your Java imports so as to generate these settings metadata. Could you please share us the metadata before and after? It's better to pack them (.settings, .classpath, .project) to zip file.

[2020-06-29 02:02] jdneo commented on #439
@leo1515416043

The `Java Development Kit` configuration page is used to configure the JVM used to launch the Java language server.

The setting `java.configuration.runtimes` is used to map the installation path to the different version of JDKs. And Java Language Server will pick up the best match JDK according to your project's configuration. (defined in `pom.xml`/`build.gradle`)

[2020-07-01 02:58] leo1515416043 commented on #439
In my mac, I don't install JavaSE-1.7, only one java8 JDK.

[2020-07-01 02:59] jdneo commented on #439
`JavaSE-1.7` is your project's language level (or you can call it source level), it's not your JDK's version

[2020-07-01 03:07] akaroml commented on #424
I just think of a workaround for this. You can set the Java extension to run in lightweight mode to avoid generating those files (equals not importing your Java projects automatically).

To do so, go to User Settings and search for `java.server.launchMode` and set it to `LightWeight`. Then you can delete those files and reload vscode.

Please have a try and see if it solves the problem.

[2020-07-01 03:20] #439 closed

[2020-07-01 05:09] Eskibear commented on #422
This issue has been closed automatically because it needs more information and has not had recent activity. Please reach out if you have or find the answers we need so that we can investigate further.

[2020-07-01 05:09] #422 closed

[2020-07-01 05:58] Eskibear commented on #369
I'm closing it, as we've already removed the hard dependency on `code.cmd`.

[2020-07-01 05:58] #369 closed

[2020-07-01 16:13] aspcrazy opened #441 "Installer v0.3.0 error: connect ECONNREFUSED 127.0.0.1:5000"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-07-01 17:40] aspcrazy opened #442 "Installer v0.3.0 error"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-07-01 17:54] Brutarrols opened #443 "Installer v0.3.0 error: read ECONNRESET"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-07-01 23:12] Eskibear commented on #442
dup with #441

[2020-07-01 23:12] #442 closed

[2020-07-01 23:14] Eskibear commented on #443
Looks like networking issue. Please check you networking status. Since it's the last step to install the extension pack, can you simply re-run the installer, or try installing [Java Extension Pack ](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack)manually by your own? Let me know if it works.

[2020-07-01 23:15] Eskibear commented on #441
Please check your networking status (proxy?). Since it's the last step to install the extension pack, can you simply re-run the installer, or try installing [Java Extension Pack ](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack)manually by your own? Let me know if it works.

[2020-07-02 00:59] Brutarrols commented on #443
Sorry, false alarm it's my internet conection. all it's ok now. thanks.  c:

[2020-07-02 00:59] #443 closed

[2020-07-02 02:39] aspcrazy opened #444 "Installer v0.3.0 error"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-07-02 06:34] Eskibear commented on #444
dup with #441 , can you follow the suggetion to provide further information in #441 ?

[2020-07-02 06:34] #444 closed

[2020-07-02 09:49] raphaelwo1827 opened #445 "Installer v0.3.0 error"
version: 0.3.0
env:
[code]
log:
[code]

[2020-07-02 11:09] PermanAtayev opened #446 "Installer v0.3.0 error"
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-07-02 12:56] Ayivaak99 opened #447 "Installer v0.3.0 error: Java Home not found."
version: 0.3.0
env:
[code]
log:
[code]
Please attach **%TEMP%\vscode-java-installer\log.txt** for more details.

[2020-07-02 13:22] Eskibear commented on #446
Looks it's networking issue (if you are behind a proxy?). Since it's the last step to install the extension pack, can you simply re-run the installer, or try installing [Java Extension Pack ](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack)manually by your own? Let me know if it works.

[2020-07-02 13:25] Eskibear commented on #445
AdoptOpenJDK requires admin privilege to install. Did it pop up a diaglog asking you to enter the password?

[2020-07-02 13:26] Eskibear commented on #447
Similar with https://github.com/microsoft/vscode-java-pack/issues/436#issuecomment-649172517

Can you share below files?

- %TEMP%\vscode-java-installer\log.txt
- %TEMP%\AdoptOpenJDK-MSI.log (especially this one)

[2020-07-02 15:08] Ayivaak99 commented on #447
I solved the issue!

Thanks for contacting me though.

On Thu, Jul 2, 2020 at 6:56 PM Yan Zhang <notifications@github.com> wrote:

[2020-07-03 06:40] #447 closed

[2020-07-04 09:23] PermanAtayev commented on #446
yes, I turned off proxy and re-run it, and it worked. Thank you.

[2020-07-04 09:23] #446 closed

[2020-07-05 13:23] stevaon opened #448 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2020-07-06 01:37] Eskibear commented on #448
please download the latest installer [here](https://aka.ms/vscode-java-installer-win).

[2020-07-06 01:37] #448 closed

[2020-07-06 09:03] MrNocTV commented on #424
Sorry for the late response, I've been too busy with the current project, I will test it and inform you when I can @akaroml

[2020-07-09 16:33] phudson opened #449 "Run test/Debug test do not appear in multi-root workspaces"
Issue Type: <b>Bug</b>

I have a set of maven projects as subfolders of the workspace folder. There are Junit tests, lablelled with @Test.
In VSCode, the Run Test | Debug Test appears below the @Test, and work fine.

If I add another maven project as a second root to the workspace, the Run Test|Debug Test does not appear (on tests in the original maven projects where it worked before)

If I remove

[2020-07-09 18:06] VickyWinner commented on #418
I get the same behavior.  when I save the file, it removes the whole import block.

[2020-07-12 11:02] Vlastimil157 opened #450 "vscode-java-installer error"

[2020-07-12 11:03] Vlastimil157 opened #451 "vscode-java-installer error"

[2020-07-14 05:28] dupinder commented on #399
I did it, Uninstall lombok and created one java file and boom

`!SESSION 2020-07-08 14:19:37.520 -----------------------------------------------
eclipse.buildId=unknown
java.version=11.0.2
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Command-line arguments:  -data c:\Users\DupinderDhiman\AppData\Roaming\Code\User\workspaceStorage\4e625fc2a7de9452fc

[2020-07-14 08:01] Eskibear commented on #450
please open issue **with detailed description** in https://github.com/microsoft/vscode-java-installer

[2020-07-14 08:01] #450 closed

[2020-07-14 08:01] Eskibear commented on #451
please open issue **with detailed description** in https://github.com/microsoft/vscode-java-installer

[2020-07-14 08:01] #451 closed

[2020-07-14 13:56] stimad commented on #271
This can be really annoying. Can we expect that this will be resolved in near future?

[2020-07-14 14:16] testforstephen commented on #271
@Power-tile @stimad Could you share a sample project to help reproduce this problem?

[2020-07-14 14:35] Power-tile commented on #271
Yes I still have the sample project but the error message changed when I reopened vscode. More information:
```PackageInterface``` code:
![image](https://user-images.githubusercontent.com/44731563/87438443-1e6eff80-c622-11ea-9098-886793b8e867.png)
New error message:
![image](https://user-images.githubusercontent.com/44731563/87438500-3181cf80-c622-11ea-823f-1da2cb580ebd.png)
Do you need the entire

[2020-07-14 14:45] testforstephen commented on #271
yes, a reproducible project definitely helps a lot.

[2020-07-14 15:08] stimad commented on #271
I cannot unfortunately because I don't have permission for that.

[2020-07-14 15:12] testforstephen commented on #271
@stimad you can remove the sensitive files, and just keep the minimum file that can reproduce the issue.

[2020-07-14 15:36] Power-tile commented on #271
Update: the old message showed up again:
![image](https://user-images.githubusercontent.com/44731563/87444226-16ff2480-c629-11ea-9f72-268e24d73b63.png)

Sample project link: [https://github.com/Power-tile/shared-projects/tree/spring-java-language-check-bug](https://github.com/Power-tile/shared-projects/tree/spring-java-language-check-bug)

P.S. The "cannot be resolved to variable" message may show

[2020-07-14 16:39] stimad commented on #271
I'll try it, but it is not constant problem in my case. If I restart vscode everything works nice. Sometimes it appears, sometimes not. I don't know if that is the case with @Power-tile.

[2020-07-15 02:02] testforstephen commented on #271
[code]

@Power-tile In your sample code, you use `package` as a variable name, which is not allowed because `package` is a Java keyword. When i tried to use a different name for this variable, all errors disappeared. Your issue is not a bug.

@stimad Please share your user case.

[2020-07-15 02:41] xuerui911 opened #452 "When rewriting the map() method in the Mapper class of apache.hadoop.mapreduce, the method body becomes "null" after pressing the tab key"
Issue Type: <b>Bug</b>

Add dependency in pom.xml for maven project:
<groupId>org.apache.hadoop</groupId>
<artifactId>hadoop-client</artifactId>
<version>3.1.3</version>
My custom class is the WCMapper class, inherited from the Mapper class (org.apache.hadoop.mapreduce.Mapper) and defines generics:
public class WCMapper extends Mapper<LongWritable,Text,Text,IntWritable>{
}
The plugin will automati

[2020-07-15 03:08] Power-tile commented on #271
That's stupid... Thanks @testforstephen and sorry for inconveniences

[2020-07-15 04:30] testforstephen commented on #452
![overidemethod](https://user-images.githubusercontent.com/14052197/87503390-a8f14680-c696-11ea-8b83-7364afd55a6b.gif)

Cannot reproduce it. Could you share a sample project and your user settings for reproducing the issue?

[2020-07-15 07:03] stimad commented on #271
I will, when be 100% sure how to reproduce problem. Thanks.

[2020-07-15 08:02] akaroml commented on #399
@testforstephen could you please take a look? It looks like a non-project file issue.

[2020-07-15 10:14] xuerui911 commented on #452
在 2020-07-15 12:30:25，"Jinbo Wang" <notifications@github.com> 写道：

Cannot reproduce it. Could you share a sample project and your user settings for reproducing the issue?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-07-15 10:58] xuerui911 commented on #452
I directly responded to the email, there are two animations and a code compression package attachment. I am a beginner and I don’t know how to use GitHub. I'm not sure if you received the gifs and the compression package.

[2020-07-15 11:16] testforstephen commented on #452
I didn't see any attachment in the issue comment. GitHub doesn't support sending attachment via email response.

You could login to the github website, and drag and drop your gif/zip file to the comment section. GitHub will automatically handle the upload and host the attachments to the issue.

[2020-07-15 11:51] xuerui911 commented on #452
[MapReduceDemo.zip](https://github.com/microsoft/vscode-java-pack/files/4924938/MapReduceDemo.zip)
![IDEA](https://user-images.githubusercontent.com/46309554/87541820-7fefa680-c6d4-11ea-8c49-dc1e5c53812d.gif)
![VSC](https://user-images.githubusercontent.com/46309554/87541825-82520080-c6d4-11ea-9260-d6f7a2f00d40.gif)

thanks!

[2020-07-15 12:52] testforstephen commented on #452
Thanks for the sample project. I can reproduce it. It's a bug of https://github.com/redhat-developer/vscode-java/issues, will transfer to there.

[2020-07-15 13:06] testforstephen commented on #452
Dig it again, the WCMapper.java you provided contains two compilation errors.
- It misses the package declaration `package wordcount;` in the header.
- It imports a wrong Text file in the importer. The correct one should be `import org.apache.hadoop.io.Text`.

Current:
[code]

After correct it:
[code]

And try map auto completion, it generates the override method well. So the issue is the Java ext

[2020-07-15 13:07] testforstephen commented on #452
@xuerui911 Please correct the code and try again.

[2020-07-15 13:20] xuerui911 commented on #452
Sorry, deleting the package statement is my low-level mistake.
Sorry again, I didn't see that many parent classes have Text class.
I used to use IDEA before. It imports the parent class and import the corresponding generic class when declaring this class. I didn't pay attention to this.
However, it can be a point of improvement for the intellisense plugin.Hope VSCODE can be as smart as IDEA as soo

[2020-07-16 02:40] testforstephen commented on #452
There are two improvements from here:
- Should not prompt `org.apache.hadoop.fs.shell.Display.Text` as import suggestion of Text, because Display is not public class, and not visible to the class WCMapper.java.
- After correcting the compilation errors, and the generated override method is not good enough.

Current one:
[code]

A better one should be:
[code]

[2020-07-16 07:06] xuerui911 commented on #452
@testforstephen
Obviously you are right, thank you for your contribution.
Can you directly turn this issue from bug to product improvement suggestion and end it?
What should I do next, should I close this issue?

[2020-07-16 07:37] testforstephen commented on #452
Need transfer the issue to https://github.com/redhat-developer/vscode-java/issues because it needs fix there.

[2020-07-16 08:03] testforstephen commented on #452
Tracked by https://github.com/redhat-developer/vscode-java/issues/1526

[2020-07-16 08:03] #452 closed

[2020-07-17 05:13] testforstephen commented on #399
@dupinder When you uninstalled vscode-lombok, actually it wasn't really removed from Java language server. See the user settings `"java.jdt.ls.vmargs"`, and it still contains a part `-javaagent:"c:\Users\DupinderDhiman.vscode\extensions\gabrielbb.vscode-lombok-1.0.1\server\lombok.jar"`.  This is mentioned at https://github.com/redhat-developer/vscode-java/issues/743#issuecomment-446738302, you nee

[2020-07-17 10:45] dupinder commented on #399
OKay I will try what @testforstephen is asking to do, and will update :) Thankyou

[2020-07-22 21:20] bhall1224 opened #454 "JDK 11 is required, JDK 8 in use for current project"
**Environment:**

- VS Code Version:1.47.2
- Extension Version:0.65.0
- JDK Type & Version:jdk1.8.201
- OS Type & Version: Windows 10

**Step to Reproduce:**
Open any Java project with older JDK
**Expected Behavior:**
According to extension documentation any JDK 5 to 14 is supported
**Actual Behavior:**
Error message saying JDK 11 is required
**Related Issues:**
![Capture1](https://user-images.git

[2020-07-22 21:26] bhall1224 commented on #454
I was using the Java Language Support extension as part of the Java Extension Pack recommended by VS Code.
I have JAVA_HOME and JDK_HOME env variables set in my system path.   Can you please advise on how to resolve this?  JDK 8 is required for several projects on which I'm working.
Thanks.

[2020-07-23 00:39] Eskibear commented on #454
Install both JDK8 and JDK11+ on your machine, and configure `java.configuration.runtimes` to compile your projects with JDK8.

please refer to: https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#do-i-need-to-migrate-my-projects-to-java-11

[2020-07-23 11:23] ThinBuffalo opened #455 "I downloaded jdk11 but it was recognized as jdk8"
<img width="221" alt="批注 2020-07-23 190657" src="https://user-images.githubusercontent.com/68691074/88280324-2ad91380-cd18-11ea-9f7c-baabd2e50369.png">
<img width="291" alt="批注 2020-07-23 191810" src="https://user-images.githubusercontent.com/68691074/88281016-82c44a00-cd19-11ea-890c-28f7c904ca8b.png">

**Environment:**

- VS Code Version:1.48
- Extension Version:0.65.0
- JDK Type & Version:jdk11.

[2020-07-23 13:50] bhall1224 commented on #454
Awesome.  I will try that.  Thank you.

[2020-07-23 15:15] bhall1224 commented on #454
I installed JDK 14 and set it to JAVA_HOME, and added the path to JDK 1.8 in my user settings.json like this:
"JavaSE-1.8" : "C:\\Program Files\\Java\\jdk.1.8.201"

And also adding \\bin to the end of that and now my project fails to compile with JDK8 as that is the runtime it's expecting.   Also if I set "java.home" in my user settings.json to this path I get the "JDK 11 required" error again.

I

[2020-07-23 15:30] bhall1224 commented on #454
So I set JAVA_HOME back to jdk 8 and set java.home setting to jdk 14 in my user settings and that resolves the issue.

[2020-07-24 02:22] jdneo commented on #455
As you can see, it's just the language level that is JavaSE-8. But the installation path is correct, point to 11.

That means your project configuration is using JDK8 as the language level. the java language server will still use jdk11 to compile your project.

[2020-07-24 05:36] ThinBuffalo commented on #455
Thank you. But it affected my debugging results

[2020-07-24 05:37] ThinBuffalo commented on #455
Thank you. But that affected my debugging results.

[2020-07-24 05:37] ThinBuffalo commented on #455
Thank you. But that affected my debugging results

[2020-07-24 05:57] jdneo commented on #455
The project's language level is defined by your project's configuration file. (i.e. pom.xml, build.gradle) The Java language server will honor that configuration.

So I would suggest you to check how to set language level in pom.xml/build.gradle.

[2020-07-24 06:03] ThinBuffalo commented on #455
Thanks.I'll try.

[2020-07-24 06:04] ThinBuffalo commented on #455
Thanks.I'll try.

[2020-07-28 08:25] Eskibear commented on #309
please comment in https://github.com/AdoptOpenJDK/openjdk-build/issues/1610 for more details.

[2020-07-28 08:25] #309 closed

[2020-07-28 08:25] #273 closed

[2020-07-28 08:32] Eskibear commented on #363
done. Now there would be a link to manual installation.

[2020-07-28 09:01] akaroml commented on #454
Glad that you have the issue resolved.

[2020-07-28 09:01] #454 closed

[2020-07-28 09:03] akaroml commented on #455
@thinbuffalo Please let us know whether you could get past this.

[2020-07-28 17:58] mcandre opened #458 "Bug: Keybinding conflict with popular Settings Sync plugin"
This Java extension hijacks `Shift+Alt+U`, which the more general Settings Sync plugin, uses to backup text editor settings.

As a workaround, I am disabling this Java hotkey. Another (far more annoying) workaround is to launch the in-VSCode page for the Settings Sync plugin, at which point the Java hotkey temporarily unbinds and the normal `Shift+Alt+U` Settings Sync keybinding is able to success

[2020-07-29 04:37] Eskibear commented on #435
Close as no further details provided. Please follow up in https://github.com/microsoft/vscode-java-installer/issues when you have detailed logs.

[2020-07-29 04:37] #435 closed

[2020-07-29 09:23] akaroml commented on #458
Could you please point me to the actual command that `Shift+Alt+U` triggers?

As far as I know, the Java Extension Pack does not contribute hotkeys.

[2020-07-31 14:57] ThinBuffalo commented on #455
Sorry. I lost my extension folder. I started VS code with parameters.

[2020-08-03 14:42] hernanfarruggia opened #463 "Debugging Java 8 app"
I got a Java 8 Application open in VSCode, but when I try to debug it, it asks me for Java 11, and my app is not compatible... Is there a way to debug using java 8? I've been looking at the docs and reviewing the change log to see If I can downgrade to a specific version working with Java 8 but couldn't find anything useful...

[2020-08-05 07:22] dixitk13 commented on #339
I have a similar issue or seems similar to me. Just installed the latest JDK-14. Somehow the extension is compiling with 14.x and running with 10.x.

[code]

My runtime/paths seems to be correct i.e. 14.x:
[code]

![image](https://user-images.githubusercontent.com/8632659/89383414-48f82980-d6b1-11ea-8a51-a9260666e7dd.png)

Also tried setting a default runtime in settings like so:
[code]

[2020-08-06 13:24] fengxiaohu opened #464 "Bug: Cannnot Work With Jar Files directly In WSL"
**Environment:**

- VS Code Version: 1.47.3
- Extension Version: 0.9.1
- JDK Type & Version:
openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment (build 11.0.7+10-post-Ubuntu-2ubuntu218.04)
OpenJDK 64-Bit Server VM (build 11.0.7+10-post-Ubuntu-2ubuntu218.04, mixed mode, sharing)
- OS Type & Version:  Windows_NT x64 10.0.18362
Windows for LInux Version : Ubuntu 18.04
**Step to Reproduce:

[2020-08-07 00:17] fengxiaohu commented on #464
Sorry,I succeed adding my jar files.In windwos or LInux or Mac OS Desktop,there is an Interractive window.But in WSL,can not add Files through file resources manager.
Before I add the jar files,it did not give me any feedback.
Hope to give some feedback after I add some jar files,such as hint message"you already add xxx"

[2020-08-12 09:12] akaroml commented on #463
@hernanfarruggia thanks for reaching out. You can still work with Java 8 applications.

@testforstephen could you please help @hernanfarruggia to get through?

[2020-08-12 09:13] akaroml commented on #464
Thanks for the feedback @fengxiaohu
@testforstephen could you take a look at this?

[2020-08-12 09:44] testforstephen commented on #463
Just briefly recap the solution from redhat-developer/vscode-java#1543

This requirement is just asking you to install JDK 11 to run vscode-java extension itself, because it's also a Java program.

If you want to run your program at JDK 8, you can install both JDK 8 and JDK 11 in your machine, and configure them in the user settings below.
[code]

[2020-08-13 14:07] AbitEncrypted opened #466 "Enabling java.autobuild.enabled causes the spring.profiles.active to be set to the default profile irrespective of the profile used for the maven build"
Issue Type: <b>Bug</b>

1. Create a Sprint.Boot application
2. Create two profiles in the pom.xml -
[code]
3. Create an application.properties file for the Spring.Boot application and add the following -
spring.profiles.active=@activatedProperties@
4. Set "java.autobuild.enabled": true in settings.json
5. Execute a maven build from within the VS Code environment -
mvn clean package -Puat
6. Note t

[2020-08-14 19:30] Tiberriver256 commented on #463
The java.configuration.runtimes does not appear to work when attempting to debug in attach mode. It seems to fall back to using jdk11 no matter what. Any suggestions?

[2020-08-16 01:04] robertmarkbram opened #467 "Bug with running Java class when I have a space in my username"
**Environment:**

- VSCode Version: 1.48.0
- Extension Version: v.0.10.0
- JDK Type & Version: jdk-14.0.1
- OS Type & Version: Windows 10

**Step to Reproduce:**

Create java/maven app - my username has a space in the name.

When opening a Java file to run and pressing "F5" I get a terminal that fails due to the space in my username.

**Expected Behavior:**

It should be able to run the Java class

[2020-08-17 08:21] testforstephen commented on #463
What's your project's language level? This setting is used to map a customized Java runtime for your project's language level.

[2020-08-17 08:30] testforstephen commented on #467
Are you using git bash as terminal? This is a known issue at https://github.com/microsoft/vscode-java-debug/issues/678

[2020-08-17 08:33] robertmarkbram commented on #467
Oh, so I can change the terminal to powershell or cmd? Can I do that automatically for a project? It would be ugly, but I suppose a work-around. Although frankly I am just using IntelliJ instead.. leave VS Code for other text file editing.

[2020-08-17 08:57] testforstephen commented on #467
Yes, you can save the setting to `.vscode/settings.json` in your workspace, and only applies to current project.
[code]

Also, if your application doesn't need IO input, then you may try to add `"java.debug.settings.console": "internalConsole"` to your setting. With this setting, the debugger will run the application in memory, and print the output to the DEBUG CONSOLE view.

Sorry to hear that.

[2020-08-17 13:17] Tiberriver256 commented on #463
1.8

[2020-08-18 05:04] testforstephen commented on #463
Could you hover at the icon below and share what it displays?
![image](https://user-images.githubusercontent.com/14052197/90472455-2525f080-e153-11ea-984e-93f5146bbb67.png)

[2020-08-18 11:22] #455 closed

[2020-08-18 11:22] #458 closed

[2020-08-18 11:22] #271 closed

[2020-08-18 11:22] #418 closed

[2020-08-18 11:22] #424 closed

[2020-08-18 11:22] #438 closed

[2020-08-18 11:22] #445 closed

[2020-08-18 11:22] #441 closed

[2020-08-18 11:22] #403 closed

[2020-08-18 11:22] #376 closed

[2020-08-18 11:22] #440 closed

[2020-08-18 11:22] #437 closed

[2020-08-18 11:22] #436 closed

[2020-08-18 11:23] #433 closed

[2020-08-18 11:23] #434 closed

[2020-08-18 11:23] #431 closed

[2020-08-18 11:23] #427 closed

[2020-08-18 11:23] #426 closed

[2020-08-18 11:23] #425 closed

[2020-08-18 11:23] #420 closed

[2020-08-18 11:23] #327 closed

[2020-08-18 12:15] Tiberriver256 commented on #463
![image](https://user-images.githubusercontent.com/6989492/90511781-01e74b00-e12b-11ea-9d20-7ba252eb7887.png)

[2020-08-18 12:22] testforstephen commented on #463
OK, the screenshot you provided reflects the java.configuration.runtimes take effect in your machine.

Could you explain a bit more about this? What's current behavior and what you expect.

[2020-08-18 13:58] Tiberriver256 commented on #463
My launch.json is configured:

[code]

I get a warning saying:

[code]

The debugger version is 11 and the debuggee is 1.8

[2020-08-18 14:08] testforstephen commented on #463
oh, the debugger prints the wrong info here, it's a bug of debugger. As long as the language level part displays the runtime correctly, there will be no problem.

[2020-08-18 15:35] dongyang2333 opened #468 "vscode-Maven-installer"
I downloaded java extension pack and created java project using maven, but I could not test project. vscode said maven executable could not find in path

[2020-08-18 23:27] BoykoAlex opened #469 "Preference setting not to show any **Help First View** page"
First activation of the Java Extension Pack leads to Java Overview page opened.
We'd like not to open it on the first startup at all. However there is no such option... It's either `gettingStarted`, `auto` or `overview`. Can we have `none`?
I could provide a PR but seems like it is an easy thing to fix anyway. (Let me know if you'd prefer a PR for this)

[2020-08-19 01:49] Eskibear commented on #468
VSCode Maven extension doesn't include the Maven binaries.

You need to have a[ Maven distribution ](https://maven.apache.org/download.cgi) on your machine or a [Maven Wrapper](https://github.com/takari/maven-wrapper) with your project

[2020-08-20 00:49] akaroml commented on #469
Thanks for reaching out. @BoykoAlex
We would love to incorporate this idea into the pack. Please go ahead with a PR.

[2020-08-20 01:09] akaroml commented on #468
Thanks for reaching out @dongyang2333

Given the broadness of Java ecosystem, I see this an opportunity for us to provide the options in the installer, to help users install extra components like Maven, Gradle, etc...

This could be part of the next step of the installer. @yaojinyang

[2020-08-20 01:11] #467 closed

[2020-08-20 01:12] akaroml commented on #466
Thanks for reaching out, @AbitEncrypted
@Eskibear please help take a look.

[2020-08-20 03:28] Eskibear commented on #466
root cause: java extension's auto build mechanism overwrites the whole `target` folder.

`mvn clean package -Puat` does compile, but then java extension "auto build" the project with default profile (per pom.xml), the target folder was immediately overwritten.

[2020-08-27 19:40] fabiomarinho opened #474 "Can't remote debug debug Legacy System (JDK 7) anymore"
Issue Type: <b>Bug</b>

The Debugger warns: "The debugger and the debuggee are running in different versions of JVMs. You could see wrong source mapping results."

And that really happen. Cant use it anymore.

Extension version: 0.10.0
VS Code version: Code 1.48.0 (db40434f562994116e5b21c24015a2e40b2504e6, 2020-08-13T07:40:55.768Z)
OS version: Linux x64 4.15.0-1093-oem

<details>
<summary>System I

[2020-08-27 20:37] eliezeravihail opened #475 "Bug"
**Environment:**

- VS Code Version:
Version: 1.48.1 (user setup)
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362
- Extension Version:
0.10.0
- JDK Type & Version:
14.0.2
- OS Type & Version:
 Windows

**Step to Reproduce:**

**Expected Behavior:**
![image](https://user-images.githubusercontent.com/48094022/91491558-e8799800-e8bc-11ea-9

[2020-08-28 01:22] testforstephen commented on #474
Don't worry, this is just a warning, you can ignore it and continue debugging your application. We're considering improving the message because it's not accurate in some case.

[2020-08-28 01:50] Eskibear commented on #475
The file is not correctly compiled, thus semantic highlighting is wrong because of the inconsistency. I notice in the screenshot above there's problems reported (the red squiggly lines). Can you share the details of the diagnoistic problems? If it's stably reproducible, please also share the sample project.

[2020-08-28 14:03] eliezeravihail commented on #475
hi
Thanks for the response
I was unable to recover the bug, the same file itself now I saved it
elsewhere, and the glitch disappeared.
Maybe there was a bug in the file.
good day!
גיטהאב <https://github.com/eliezeravihail> , לינקדאין
<https://www.linkedin.com/in/%D7%90%D7%9C%D7%99%D7%A2%D7%96%D7%A8-%D7%90%D7%91%D7%99%D7%97%D7%99%D7%9C-20b72b64/>

‫בתאריך יום ו׳, 28 באוג׳ 2020 ב-4:50 מאת ‪Yan Zhang

[2020-08-28 22:53] cnmoise opened #476 "No option to disable Configure Java Runtime window from appearing when opening .java file"
**Environment:**

- VS Code Version: 1.48.2
- Extension Version: 0.28.0
- JDK Type & Version: Java(TM) SE Runtime Environment (build 13.0.2+8)
- OS Type & Version:

**Step to Reproduce:**
1. Use SSH extension to connect to remote host
2. Open a .java file

**Actual Behavior:**

When opening a Java project for the first time, it is typical for a pop-up page to appear informing the user if they have

[2020-08-30 05:28] #475 closed

[2020-08-31 06:06] akaroml commented on #339
@testforstephen could you please take a look?

[2020-08-31 06:40] testforstephen commented on #339
@dixitk13
Could you share your project's actual language level. You can open a Java file, hover at the icon below and share what it displays?
![image](https://user-images.githubusercontent.com/14052197/90472455-2525f080-e153-11ea-984e-93f5146bbb67.png)

[2020-08-31 22:16] pcantrell commented on #351
I have multiple students still getting this error, apparently for this reason, as of this week. Will investigate and try to reproduce.

[2020-08-31 22:34] epozzi opened #477 "Code navigation stop working in seconds"
Issue Type: <b>Bug</b>

Since the VS code start to show the message to update to java11 the code navigation stop working. Now i update it and the code navigation work for seconds, but then stop to work. I think is something in the VS Code start that is disabling this tool, but i can't say what because i don't know how to analize it.

Hope you can help me.

Thank you so mutch.

Extension version: 0

[2020-09-01 01:50] testforstephen commented on #464
@jdneo since you have WSL environment, could you check whether the scenario of adding referenced library feature break there?

[2020-09-01 02:05] Eskibear commented on #351
@pcantrell Thanks for reporting, and we are aware that some people are getting the same error (but for different reasons). It would be very helpful if you find a way to reproduce it, and provide detailed logs.
Please track this issue in https://github.com/microsoft/vscode-java-installer/issues/53 .

[2020-09-01 02:05] pcantrell commented on #351
Confirmed that this is occurring for some students in the class I’m teaching:

- This extension fails to detect AdoptOpenJDK, installed at `C:\Program Files\AdoptOpenJDK\jdk-14.0.2.12-hotspot` or similar,
- `java.home` is not set in the VS Code `settings.json`, and
- setting `java.home` manually fixes the problem.

**However,** when I do a clean install on a clean Windows VM, the VS Code extension

[2020-09-01 02:06] jdneo commented on #477
Is there any error message in the language server log? (See: https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs)

[2020-09-01 02:12] Eskibear commented on #351
Good finding, and it's imilar with what the log reveals in https://github.com/microsoft/vscode-java-installer/issues/53#issuecomment-683832774

We do pass `INSTALLDIR=C:\Users\<username>\AppData\Local\Programs\AdoptOpenJDK` to the MSI installer, but somehow  it's installed at `C:\Program Files\AdoptOpenJDK\jdk-14.0.2.12-hotspot`. I guess that is a clue.

BTW, detailed logs can be found at `%TEMP%\

[2020-09-01 02:41] jdneo commented on #464
Works in WSL

![image](https://user-images.githubusercontent.com/6193897/91788602-308f1680-ec3f-11ea-8a66-11c4de0789fd.png)

@fengxiaohu there are two places you can check if the jar added successfully or not in WSL.

1. Check if the jar appears under the node `Referenced Libraries` in the `Project Explorer`
2. Check if the pattern in the setting `"java.project.referencedLibraries"` is correct or

[2020-09-01 02:41] #464 closed

[2020-09-01 02:47] fengxiaohu commented on #464
@jdneo ,OK,it did works.To help others,can you add it into csvode doucement
https://github.com/microsoft/vscode-java-pack/blob/master/release-notes/v0.9.0.md#work-with-jar-files-directly

[2020-09-01 05:06] #463 closed

[2020-09-02 05:44] dixitk13 commented on #339
Looks like it still points to `jdk-10.0.1`. I tried commenting from `settings.json` > `java.configuration.runtimes` but still the same error.
<img width="1298" alt="Screen Shot 2020-09-01 at 10 42 16 PM" src="https://user-images.githubusercontent.com/8632659/91936343-7c27db80-eca4-11ea-8c7d-62fb6767d94b.png">

[2020-09-02 06:28] testforstephen commented on #339
@dixitk13 I guess your project doesn't use any build tool, right? You may try to clean the workspace via "**F1 -> Java: Clean the Java language server workspace**".

[2020-09-02 06:41] dixitk13 commented on #339
Nope, this particular project doesn't have any build tool ATM. Cleaning the workspace didn't help 😞

[2020-09-02 06:48] testforstephen commented on #339
@dixitk13 What's your Java extension version? Such as Debugger and Language Support for Java.

![image](https://user-images.githubusercontent.com/14052197/91941161-55f94e80-ed2b-11ea-8a1d-51566751149d.png)

[2020-09-02 06:58] dixitk13 commented on #339
![image](https://user-images.githubusercontent.com/8632659/91941894-d9288f00-ecae-11ea-8abd-20699d843497.png)

and vscode version:
[code]

[2020-09-02 07:19] testforstephen commented on #339
Yes, all are the latest version.

Looks like the language server used JDK 14 to compile your project, but the project runtime it resolved still points to JDK 10. This is a little weird. Would you mind sharing a sample project for us to reproduce it?

Current workaround is commenting out the below part from the `java.configuration.runtimes` to unblock you first.
[code]

[2020-09-08 03:35] akaroml commented on #476
Thanks for reaching out @cnmoise
So you are using the remote capability to work with the java files that exist on a remote host. In this case, the Java language server will run from the remote side, so you see this pop-up page if the extension could not find a Java runtime to launch the language server on the remote host.

Please help me understand more about your workload. When working with .java

[2020-09-08 13:43] kristinochka opened #480 "Java Overview Webview does not open up"
**Environment:**

- VS Code Version:
[code]
- Extension Version: 0.10.0
- JDK Type & Version:
[code]

**Step to Reproduce:**
Press Command + Shift + P
Find > Java: Overview option and click on it
"Activating extensions starts spinning  in the bottom left corner."

**Expected Behavior:**
Overview webview opens up

**Actual Behavior:**
Nothing happens

I did try this on a Windows machine and it work

[2020-09-09 00:49] cnmoise commented on #476
The runtime isn't installed on my remote host but supplied from another host so it will never be detected.

I just would like the ability to store a setting in the extension that tells it to not display the setup Java page. I would like it to be a GUI element in the setup page that disables it from appearing again in the editor.

[2020-09-10 06:26] molly-w opened #481 "Feature request"
## Suggestion

VS Code may be able to provide a  function that let user customize templates

## Use Cases

Here is a case in stackoverflow: [how to change template](https://stackoverflow.com/questions/63716613/visual-studio-code-java-extension-pack-starting-template-vscode)
when people need to develop heavy projects repeatly, it's necessary to customize their own template projects for convenient d

[2020-09-13 10:59] RanggaFT92 commented on #476
what this problem? can help me?
![ksdjfdjfw](https://user-images.githubusercontent.com/71208041/93016364-d0a75100-f5ea-11ea-80ff-34d6dca9ff2a.JPG)

[2020-09-14 02:02] testforstephen commented on #476
@RanggaFT92 Java extension requires you to install JDK 11 to run the extension itself. I assume your project is running at Java 8, then you need install both JDK 11 and JDK 8. And configure jdk 11 to "java.home" user setting, and jdk 8 to "java.configuration.runtimes", below is the sample user setting. Learn more about [JDK 11 requirement](https://devblogs.microsoft.com/java/about-upgrading-to-jav

[2020-09-22 04:17] #477 closed

[2020-09-24 18:54] kaspersoerensen commented on #480
I have a similar issue, this is with OpenJDK 11.0.8 though. I used Homebrew to install openJDK@11 (11.0.8) after the openJDK was moved to the homebrew core repo [Pull Request with details](https://github.com/Homebrew/homebrew-cask-versions/pull/8149). Installing OpenJDK with the [AdaptOpenJDK](https://github.com/AdoptOpenJDK/homebrew-openjdk) works for me.

[2020-09-25 01:34] Eskibear commented on #480
@kristinochka This is [current way](https://github.com/microsoft/vscode-java-pack/blob/fc14ebd3b1ebd900d057b46c3faa7bc0a7250cee/src/java-runtime/index.ts#L96-L98) of checking JDK version.  For some reason, this line in your `java -version` output misses "version" before "14.0.1". See similar issue here: https://github.com/redhat-developer/vscode-java/issues/1331

I'm not sure if it's related to th

[2020-09-25 06:20] kaspersoerensen commented on #480
@Eskibear I did the following:

`brew install openjdk@11` that outputs:

[code]

so I followed the step to symlink. As I am using jEnv to control java-versions, I did not export the path:
[code]

Then:
[code]

[2020-09-25 06:31] kaspersoerensen commented on #480
Some kind of update. I just redid the steps again, and now it works as expected. I have removed the AdoptOpenJDK and installed the OpenJDK as described in the post above.
Strange thing is that the same issue occurred on other machines that I was helping set up. This is not of much help unfortunately.

[2020-09-29 16:33] RodrigoHamuy commented on #276
Any news on this?

[2020-10-01 04:52] vinodkumarpatlolla opened #484 "vscode-java-installer v0.2.4 error"
installer version: 0.2.4
env:
[code]
log:
[code]

[2020-10-04 01:36] Eskibear commented on #484
v0.2.4 is out-of-date, please use the latest version here: https://aka.ms/vscode-java-installer-win
If there's any error, the installer will guide you to open a new issue.

BTW,

I find your `JAVA_HOME` is wrong, and you should remove `\bin` from the end of it.

[2020-10-04 01:36] #484 closed

[2020-10-08 13:47] GaZaTu opened #485 "Bug: Error reporting not synchronized with editor"
**Environment:**

- VS Code Version: 1.49.2
- Extension Version: 0.10.0
- JDK Type & Version: openjdk1.8 | openjdk11 | openjdk14
- OS Type & Version: Linux openSUSE Leap 42.2

**Step to Reproduce:**

I actually have no idea, it just started to be like this since one of the previous updates.
I don't update too often so i don't know which update in specific.

**Expected Behavior:**

- Error reportin

[2020-10-09 06:02] testforstephen commented on #485
It looks a little weird from the screencast. Both the **PROBLEMS** view and **Breadcrumb** shows an absolute path for the file TextDocumentTest.java. Looks like it doesn't belong to your current workspace.

Because if it's a file inside your workspace, VS Code will show a relative path for it, see the following.

![image](https://user-images.githubusercontent.com/14052197/95548105-f6cbdf80-0a36-11

[2020-10-09 06:39] GaZaTu commented on #485
I did that before and did it again just now but the issue is still there.

I just created an empty Maven project with just a main() method in it and there it worked correctly until i closed VSCode and opened the project again.

[2020-10-09 06:58] testforstephen commented on #485
Looks something wrong in your VS Code. Did you observe the exception in other languages such as javascript?

Also, could you update your VS Code (1.50.0) and all Java extensions to the latest version?

[2020-10-09 07:13] GaZaTu commented on #485
I couldn't reproduce this issue with any javascript or typescript code.

Updated VSCode to 1.50.0, java extensions were up to date already, disabled all non java extensions, cleaned java ls workspace again.

I'm still having this issue.

[2020-10-09 08:01] testforstephen commented on #485
Install another extension version.
![image](https://user-images.githubusercontent.com/14052197/95558291-980f6180-0a48-11eb-8e6b-e2f434915610.png)

[2020-10-09 08:17] GaZaTu commented on #485
OK, turns out i'm stupid.
The path I used to open my projects contains a symlink. That's why it didn't work.
If i open the project without using a symlink everything works as expected.
Sorry for the inconvenience and thx for helping.

[2020-10-09 08:17] #485 closed

[2020-10-09 08:41] testforstephen commented on #485
Thanks to let me know. I was also suspicious at first that it was because of the symbolic link. But when i try to create a symbolic link in macOS via `ln -s sourceProject linkProject` and open `linkProject` in VS Code, it works well.

Could you mind sharing your symlinks in your project? Want to know whether it's more complex than i used.

[2020-10-09 09:11] GaZaTu commented on #485
In my home directory (which is on a different drive, a network drive to be more specific) is a symlink which points to "/opt/home/iuk23113" in my example. When i open a project inside of VSCode or Dolphin (open with VSCode) using a path with this symlink, this issue comes up.

[2020-10-10 07:10] tinuvthomas opened #486 "Performance issue on Java(Gradle build) project workspace synchronization"
Issue Type: <b>Performance Issue</b>

Facing slowness on Gradle Java project workspace synchronization. Can you provide performance tuning techniques for the same.

Below the staus captured during synch process

_Version:          Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:29:41.983Z)
OS Version:       Windows_NT x64 10.0.18362
CPUs:             AMD PRO A10-9700 R7, 10 CO

[2020-10-20 11:39] reators opened #487 "No outline and context-jump on macos Catalina"
Issue Type: <b>Bug</b>

I installed Java Extension Pack, but it doesn't seem to work
- Outline view doesn't show anything for java files
- Jumping to method definition (cmd + click) doesn't work

Maybe I'm missing a setting. Does anyone have a hint?
Thanks in advance.

Extension version: 0.10.0
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T14:53:05.704Z)
OS ver

[2020-10-22 18:37] dfdumaresq opened #488 "Error: Could not find or load main class QuickStart"
Issue Type: <b>Bug</b>

Launch fails the QuickStart example after following Java Getting Started.

The console shows:
 /Library/Java/JavaVirtualMachines/jdk1.8.0_131.jdk/Contents/Home/bin/java -agentlib:jdwp=transport=dt_socket,server=n,suspend=y,address=localhost:63466 -Dfile.encoding=UTF-8 -cp /var/folders/qd/1h500p390x1122wqbrl02cw00000gr/T/cp_a79kie5xw1i0heaqznlq6sjs4.jar ca.epbc.ui.QuickStart

[2020-10-22 20:54] dfdumaresq commented on #488
!ENTRY org.eclipse.jdt.ls.core 4 2 2020-10-22 13:51:56.958
!MESSAGE Problems occurred when invoking code from plug-in: "org.eclipse.jdt.ls.core".
!STACK 0
java.lang.NullPointerException
	at com.microsoft.jdtls.ext.core.model.PackageNode.createNodeForProject(PackageNode.java:152)
	at com.microsoft.jdtls.ext.core.PackageCommand.resolvePath(PackageCommand.java:206)
	at com.microsoft.jdtls.ext.core.Co

[2020-10-23 01:13] testforstephen commented on #488
The cp_*.jar is a temp file, and will be deleted when the debugging ends. That's why you cannot ls it from terminal after debugging.

Could you share a sample project for us to reproduce?

[2020-10-23 18:28] dfdumaresq commented on #488
I finally got this working. What I needed to do was sort out which JDK version was being used.
1. set java.configuration.runtimes in settings as
`  {
    "name": "JavaSE-14",
    "path": "/Library/Java/JavaVirtualMachines/adoptopenjdk-14.jdk/Contents/Home",
    "default": true
  }`
2. set JAVA_HOME and JDK_HOME (maybe not necessary) in env.

[2020-10-23 18:28] #488 closed

[2020-10-26 05:20] hakanai opened #489 "Highlight missing variables"
## Suggestion

At a minimum, I would like to see missing variables highlighted with some kind of red underline to indicate the problem, as demonstrated by IntelliJ IDEA.

## Use Cases

I'm writing Java code in VSCode, which does not yet have working code completion. I'm likely therefore to make mistakes in naming variables, which the editor could pick up on.

## Examples

[code]

Current behaviour

[2020-10-27 05:18] testforstephen commented on #487
Could you share the logs?

**F1 -> Java: Open Java language server log file**

[2020-10-27 08:44] testforstephen commented on #486
You could use the normal Java Profiler to tune the performance, since both the backend of Java extension and gradle daemon tool are running on JVM.

[2020-10-27 09:20] testforstephen commented on #489
If you're running the Java extension in lightweight mode, then it only reports syntax errors.
If it's on standard mode, there should report all errors in your code.

You could check it on the status bar icon.
👍 is standard mode.
![image](https://user-images.githubusercontent.com/14052197/97281274-418f8900-1878-11eb-92ab-3eca3729b34d.png)
🚀 is lightweight mode.

[2020-10-27 14:05] reators commented on #487
Hi,
I tried it as suggested, but got at the lower right corner of VS code an error message:
`Command 'Java: Open Java language server log file' resulted in an error (command 'java.open.serverLog' not found)`.

[2020-10-27 19:33] trejkaz commented on #489
I have neither of those.

![image](https://user-images.githubusercontent.com/43236/97352964-830b4d00-18e7-11eb-9217-f95420b4ae74.png)

[2020-10-28 00:54] testforstephen commented on #489
Could you share all Java extensions you installed?

[2020-10-28 02:57] trejkaz commented on #489
Is there a good way to do that? A screenshot won't fit them all in.

[2020-10-30 05:22] testforstephen commented on #489
Do you mean it works after you installed Java extensions?

[2020-10-30 05:25] trejkaz commented on #489
No, I mean I was able to fit the screenshot in.

[2020-10-30 05:26] trejkaz commented on #489
If there are more I should install, I'm trying to figure out which ones will do it. I thought the vscode-java-pack was supposed to pull everything else in.

[2020-10-30 05:28] testforstephen commented on #487
It indicates the Java extension fails to start.

Did you see anything in the output window and VS Code console?

Output window:
![image](https://user-images.githubusercontent.com/14052197/97663047-83f0da00-1ab3-11eb-986d-58b053287621.png)

Console:
**F1 -> Developer: Toggle Developer Tools**

[2020-10-30 05:33] testforstephen commented on #489
That's the correct extension list we provided. Could you share the logs?

Java logs:
**F1- > Java: Open Java language server log file**

Output window:
![image](https://user-images.githubusercontent.com/14052197/97663047-83f0da00-1ab3-11eb-986d-58b053287621.png)

Console:
**F1 -> Developer: Toggle Developer Tools**

[2020-10-30 07:07] trejkaz commented on #489
Okay, I now have new information.

I created a new window, pasted the same code, but _this_ time, I got an error popup telling me to check the output window for details.

The error is:

[code]

I have various Java installs though, including Java 11:

![image](https://user-images.githubusercontent.com/43236/97670577-a518f100-1ada-11eb-8f6b-dedf9eb2dc50.png)

Is it possible there is an issue with ho

[2020-10-30 08:05] testforstephen commented on #489
yes, this looks like duplicated with https://github.com/redhat-developer/vscode-java/issues/1621.

Click `Ctrl + ,` to open user setting, find `java.home` setting and add your jdk 11 home path such as `C:\\Program Files\\Java\\jdk-11.0.3` to that setting.
![image](https://user-images.githubusercontent.com/14052197/97675046-86f6c500-1ac9-11eb-9344-608bfcfc6e6a.png)

[2020-10-30 08:09] trejkaz commented on #489
It can't detect the JDKs available on the system and pick the right one by itself? It doesn't seem that hard.

[2020-10-30 08:12] trejkaz commented on #489
Okay, now I have the thumbs up.

Still no error highlighting on the missing variable.

![image](https://user-images.githubusercontent.com/43236/97675636-c6caa600-1ae3-11eb-9170-54d837149da8.png)

[2020-10-30 08:14] testforstephen commented on #489
Untitled file won't get the feature, you need save your file to a .java.

[2020-10-30 08:14] trejkaz commented on #489
Simple reproduction:

* Ctrl-Shift-N to open a new Window
* Paste in the code:

    public class Greeter {
        public void sayHiTo(String targetId) {
            System.out.println("Hello, " + target + '!');
        }
    }

Result:

![image](https://user-images.githubusercontent.com/43236/97676017-19a45d80-1ae4-11eb-9a14-988ce76970fa.png)

I stand by my original claim that the editor simply d

[2020-10-30 08:15] trejkaz commented on #489
Why should that make a difference? The editor has recognised it as Java code. See the screenshot.

[2020-10-30 08:17] trejkaz commented on #489
Saved the file as `Greeter.java`.

New result:

![image](https://user-images.githubusercontent.com/43236/97676253-7b64c780-1ae4-11eb-8669-f3e408eaa813.png)

Still, `target` is not highlighted as a missing variable.

[2020-10-30 08:25] testforstephen commented on #489
Since you just open a non-project Java file in VS Code, it will only show syntax errors by default. Regarding to the reason, there is a long story about the design, if you're interested, you could read here https://github.com/redhat-developer/vscode-java/issues/1270.

Currently you could turn on all compilation errors manually by yourself, see the screenshot below.

![image](https://user-images.gi

[2020-10-30 10:57] reators commented on #487
The OUTPUT window is empty.

The Console-log shows in separate window:
<details>
   <summary>Console log </summary>

[code]
</details>

[2020-10-30 13:13] trejkaz commented on #489
You're showing a different class file to mine. Show me what it does for you when you paste in the sample I gave.

[2020-10-30 13:44] trejkaz commented on #489
For comparison, here's the experience in IntelliJ IDEA:

https://streamable.com/fxhdsu

[2020-10-31 06:45] Eskibear commented on #489
@trejkaz If you simply open a .java file **outside** current workspace, only syntax error will be reported. See my screenshot to understand current behaviors.

1. unsaved java file
2. .java file from current workspace (folder name is "empty"): works well
3. .java file outside current workspace: only syntax error reported

![Screen Shot 2020-10-31 at 2 40 27 PM](https://user-images.githubuserconten

[2020-10-31 10:21] trejkaz commented on #489
OK, so a lot of hoops to jump through to get basic behaviour working, but OK, it eventually does work.

I think it could have been a lot simpler than it was, looking back at all the things I had to try to get it working, compared to the video of doing the same thing in IDEA, where it just works first try.

[2020-10-31 10:26] trejkaz commented on #489
Here's one inside a project, for example.

I add a new reference to `gargs` which does not exist, and it is not highlighted.

![image](https://user-images.githubusercontent.com/43236/97776839-c9023280-1bbf-11eb-8d7a-21e38a07a760.png)

[2020-10-31 10:28] trejkaz commented on #489
I think that really what this ticket is about is that the missing variable detection just doesn't work very well and should just be improved overall.

[2020-10-31 10:32] trejkaz commented on #489
Additionally there seem to be some warnings here which are incorrect. There's a warning saying the cast to `String` is unnecessary from Sonarlint, but clearly it's necessary becauyse `arguments.get()[0]` is an `Object`.

[2020-10-31 17:30] Eskibear commented on #489
It's more than an issue of "missing varible detection". The issue is about project recognition. The root cause is that your project was not correctly recognize by language server, thus it could not provide any further intellisense. Well, I have to say, this ticket could have been clearer if you provided the sample project instead of pasting screenshots with limited information 🤷.  Anyway, from the

[2020-11-02 03:34] testforstephen commented on #487
This indicates your java home is not a valid jdk directory. Could you check it?

[2020-11-02 07:33] trejkaz commented on #489
I use Kotlin in my Gradle projects because I like type safety.

So yeah, that's definitely the issue with dozenal-mod3, but also with red-rocket, and with a couple of other recent projects of mine, basically everything created since Kotlin became the recommended language for Gradle build scripts. For that I just have to wait for tools to catch up and support Kotlin, which might be a while by the l

[2020-11-02 07:39] trejkaz commented on #489
Or here's Storage Drawers:

https://github.com/jaquadro/StorageDrawers

![image](https://user-images.githubusercontent.com/43236/97841848-b9f3bf80-1d3a-11eb-948c-6303a167e130.png)

[2020-11-02 07:48] trejkaz commented on #489
Or here's Botania.

https://github.com/Vazkii/Botania

![image](https://user-images.githubusercontent.com/43236/97842529-d80def80-1d3b-11eb-9f92-75309da1628d.png)

I think that's a bit of variety across three different developers' codebases. All Minecraft-related but that does happen to be what I've been working on a lot lately.

[2020-11-02 08:29] trejkaz commented on #489
Okay, I finally found one project where the feature does work as intended. https://github.com/redhat-developer/intellij-rsp

I have to confess that I went searching through that repository only because I thought it would be _hilarious_ if I also reproduced it first try on one of your own projects. But nope, the red underline works fine there, and so now I've seen it working as intended for the fir

[2020-11-02 08:32] reators commented on #487
Yes, you're right, JAVA_HOME was not defined.
After defining it in .zshrc with
[code]
everything works like a charme!
Thanks for the hint.
The story can be closed.

[2020-11-03 02:43] waiting9527 opened #494 "VS Code Java Installer Error"
installer version: 0.1.3
env:
[code]
log:
[code]

[2020-11-03 04:27] Eskibear commented on #494
Get the latest version from https://aka.ms/vscode-java-installer-win and give it a try. Let me know if it works.

[2020-11-09 08:27] trejkaz opened #496 "Missing comma is not highlighted as a syntax error"
**Environment:**

- VS Code Version: 1.50.1
- Extension Version: 0.10.0
- JDK Type & Version: system default is 11.0.7
- OS Type & Version: Windows 10

**Step to Reproduce:**

* New Window
* Paste the following code:

[code]
* Change the syntax to Java, wait for the thumbs up

**Expected Behavior:**

There is a missing comma on line 10, so I expected a red underline.

**Actual Behavior:**

There i

[2020-11-09 08:35] trejkaz commented on #496
I would also say, there are quite a few things that it doesn't pick up on while in syntax-only mode, here's another screenshot where I've removed a variety of necessary characters from the file:

![image](https://user-images.githubusercontent.com/43236/98517896-bd4ef400-22c2-11eb-831a-09476e748817.png)

[2020-11-09 08:50] testforstephen commented on #496
Untitled file is not supported in Java extension. You have to save it as a Java file.

See more discussion at https://github.com/redhat-developer/vscode-java/issues/1623#issuecomment-694226737

[2020-11-09 08:50] #496 closed

[2020-11-09 09:39] trejkaz commented on #496
Ugh. Of course, it was originally happening in a saved file, I just reproduced it in an unsaved file because that's simpler.

[2020-11-09 09:47] trejkaz commented on #496
OK, the same file saved as Test.java works.
Also, the file that doesn't work in the work project works if I copy it out to a new window and save to a new file.
So it's like syntax errors are broken but only in the work project, which will be really hard to track down.

[2020-11-11 06:24] hakanai opened #497 ""Could not initialize class org.codehaus.groovy.runtime.InvokerHelper" when opening Java project via SSH remote"
**Environment:**

- VS Code Version: 1.51.0
- Extension Version: 0.10.0
- JDK Type & Version: AdoptOpenJDK 11.0.6+10
- OS Type & Version: Local is Windows 10, remote is macOS 10.15

**Step to Reproduce:**

* New window
* Remote-SSH: Connect to Host... and connect to remote host with the code on it
* File: Open Folder... and open the remote project folder
* Wait for VSCode to try and scan the proje

[2020-11-11 06:28] trejkaz commented on #489
I did some investigation over on the work project which is also using Groovy, and reported that error in issue #497.

[2020-11-14 01:20] SapienceDev opened #498 ""Failure to detect existing Java components" on macOS Big Sur"
**Environment:**

- VS Code Version: 1.51.1
- Extension Version: v0.10.0
- JDK Type & Version: result of `java --version`
[code]

- OS Type & Version: macOS Big Sur (11.0.1)

**Step to Reproduce:**
Open any Java file with the extension enabled.

**Expected Behavior:** The extension should detect imports and java.lang elements. Prior to macOS Big Sur, the extension functioned properly and detected

[2020-11-15 12:26] jenslaufer commented on #498
+1

[2020-11-15 15:41] SapienceDev commented on #498
Turns out the issue was just because `"java.home"` in my VSC settings wasn't set correctly. Setting the property solved the issue.

[2020-11-15 15:41] #498 closed

[2020-11-16 03:03] aicochow opened #499 "Question:Referenced Libraries doesn't show"
**Referenced Libraries** doesn't show

![image](https://user-images.githubusercontent.com/12031804/99208423-b4e74380-2803-11eb-81d8-d8d39c69b0fc.png)

[2020-11-16 05:06] jdneo commented on #499
@aicochow Currently the `Referenced Libraries` is only supported in the project without build tools.

You can thumb up this issue if you need this feature: https://github.com/microsoft/vscode-java-dependency/issues/218

[2020-11-16 05:06] #499 closed

[2020-11-17 04:55] #494 closed

[2020-11-17 09:33] molly-w opened #500 "How to make braces go to next line when creating class"
## Suggestion

Is there any settings to make braces turn to the next line when creating a class?

## Use Cases

I searched the setting with the keyword `java `and `brace `but found nothing , and i've tried the setting
[code]
It didn't work for java.

## Examples

When I create a class
**The fact:**
public class demo{

}
**What I want:**
public class demo
{

}

[2020-11-17 12:34] reators commented on #487
Hi @testforstephen,
after an update of VS Code (to Oct-release) the outline refuses again to show up :/
JAVA_HOME is still defined, Output-window empty, and console log shows now:

<details>
   <summary>Console log</summary>

[code]
</details>

What can I do?
Can the issue be reopened?

[2020-11-18 02:09] testforstephen commented on #487
Could you also share the logs below?

- F1 -> Java: Open Java language server log file

[2020-11-18 04:17] testforstephen commented on #500
Sorry we don't have settings to allow you to customize this preference. You have to open a feature request at https://github.com/redhat-developer/vscode-java/issues

[2020-11-18 04:25] testforstephen commented on #497
Could you share the Java tooling logs?

**F1 -> Java: Open Java language server log file**

[2020-11-18 06:19] CodingPatrick opened #501 "Bug"
**Environment:**

- VS Code Version: 10.10+
- Extension Version: Java Extension Pack v0.10.0
- JDK Type & Version: java 15.0.1
- OS Type & Version:  Mac Big Sur

**Step to Reproduce:**

Ever since I updated my Mac to Big Sur, I cannot use the Java Extension Pack on Visual Studio Code.

When I open my java file, the Java Development Kit does not even recognize my classes. When I run it manually in

[2020-11-18 07:08] testforstephen commented on #501
thanks for reporting this issue. This is duplicated with https://github.com/redhat-developer/vscode-java/issues/1700#issuecomment-729478810

[2020-11-18 07:08] #501 closed

[2020-11-18 09:15] molly-w commented on #500
Ok, thanks for your reply.

[2020-11-18 09:25] reators commented on #487
Sure.
Here we are:

<details>
   <summary>Java language server log file</summary>

[code]
</details>

- Output window:

<img width="1127" alt="grafik" src="https://user-images.githubusercontent.com/17491139/99511134-29e38600-2988-11eb-92f3-a53f7af26bf8.png">

[2020-11-18 14:55] 0dinD commented on #489
@trejkaz I've investigated the Minecraft projects you linked, and found both StorageDrawers and Botania to work, given that you wait for the extension to **import the project**. Without importing the projects, the Java language server can't provide the full feature set such as intellisense or highlighting missing variables. One thing I noted was that it took a while (maybe a minute or so) **after*

[2020-11-18 15:12] 0dinD commented on #270
Semantic highlighting has been provided by the Java language support extension for quite some time now, and with with the improvements I made in eclipse/eclipse.jdt.ls#1501 consistent highlighting of types has also been achieved. Shouldn't those boxes be checked now? Or is there something specific missing from the semantic highlighting? I have a couple of smaller improvements in mind that I might

[2020-11-18 16:34] Eskibear commented on #270
I think we can close this issue, as  "Consistent highlighting of types" is coverred by semantic highlighting.  As for syntax highlighting, PR has been created into upstream repo for a long time (just no one reviews).

[2020-11-19 08:38] ramakrishnr opened #504 "Getting this error after updating to Big Sur. The type java.lang.Object cannot be resolved. It is indirectly referenced from required .class filesJava(16777540)"
Getting this error after updating to Big Sur. The type java.lang.Object cannot be resolved. It is indirectly referenced from required .class filesJava(16777540)

[2020-11-19 08:55] Eskibear commented on #504
see https://github.com/redhat-developer/vscode-java/issues/1700#issuecomment-729478810

[2020-11-19 09:08] ramakrishnr commented on #504
Thank you VERY MUCH Yan Zhang. You have helped to safe my day.
Really appreciate your kindness.

On 19 Nov 2020, at 16:55, Yan Zhang <notifications@github.com<mailto:notifications@github.com>> wrote:

see redhat-developer/vscode-java#1700 (comment)<https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fredhat-developer%2Fvscode-java%2Fissues%2F1700%23issuecomment-729478810&

[2020-11-19 09:12] #504 closed

[2020-11-20 01:23] rockxsj opened #506 "[Bug]when you go to the define of a class, you will get NPE error"
**Environment:**

- VS Code Version: 1.51.1
- Extension Version:  v0.10.0
- JDK Type & Version: jdk-11.0.9+11

版本: 1.51.1 (user setup)
提交: e5a624b788d92b8d34d1392e4c4d9789406efe8f
日期: 2020-11-10T23:34:32.027Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

**Step to Reproduce:**
just click go to the define of any jdk buildin class.
**

[2020-11-20 01:29] testforstephen commented on #506
thanks for reporting the issue. I see the NPE is threw by the decompiler extension. Which Java decompiler extension do you install?

[2020-11-20 01:38] rockxsj commented on #506
Thanks for reply! The decompiler extension is `dgileadi.java-decompiler`, and version is v0.0.2

[2020-11-20 01:41] testforstephen commented on #506
this issue should be duplicated with https://github.com/dgileadi/vscode-java-decompiler/issues/8, i would suggest to move the issue to there for further discussion.

[2020-11-20 05:30] trejkaz commented on #497
[java.log](https://github.com/microsoft/vscode-java-pack/files/5571425/java.log)

[2020-11-20 06:13] trejkaz commented on #497
Because the topmost exception was a `NoClassDefFoundError` I tried deleting logs and reopening to see if I would get an `ExceptionInInitializerError` with a cause attached, but nope, the very first exception logged is a `NoClassDefFoundError`, so the first occurrence must have been eaten by some code somewhere.

[2020-11-20 06:18] yclnycl opened #507 "i could debug springboot in vscode, but this start up is slow"
hello, when I used vsocde and Java Extension Pack to debug springboot, I found that the debug mode started very slowly for 500 seconds, but the run was fast for about 30 seconds. I don't know if it is a bug, so come to consult.
debug screenshot
![image](https://user-images.githubusercontent.com/25178232/99765986-2cd2a800-2b3b-11eb-9a8e-f5e86131633f.png)
run screenshot
![image](https://user-images.

[2020-11-23 13:17] testforstephen commented on #507
Thanks for reporting the issue.

I have tried https://github.com/spring-projects/spring-petclinic, debug doesn't have performance issue, it is started as the same performance as run.

Would you mind sharing a sample project to help us reproduce the issue?

[2020-11-24 06:24] netzhouxinghong opened #511 "It is not possible to start multiple junit tests or multiple Java applications under the same package, and the prompt is waiting..."
Issue Type: <b>Bug</b>

It is not possible to start multiple junit tests or multiple Java applications under the same package, and the prompt is waiting...

Extension version: 0.11.0
VS Code version: Code - Insiders 1.52.0-insider (6026ab576dc6a4fbb8e255241a364816f42464c5, 2020-11-23T05:56:29.761Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|-

[2020-11-24 08:26] xkw1643469771 opened #512 "code style error"
Issue Type: <b>Bug</b>

var test = """
        "
        """;
        System.out.println(test);
        System.out.println("123123");

Extension version: 0.11.0
VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU

[2020-11-25 01:39] mozhuanzuojing opened #513 "java hot reload"
## Suggestion

one feature can hot load class when it changed！

## Use Cases

## Examples
Probably like jrebal plugin！
Modify the java method signature, the class in the jvm cache can be reloaded after compilation;
Modify the java member variables, the class in the jvm cache can be reloaded after compilation;
Add java method, the class in the jvm cache can be reloaded after compilation;
Reduce the

[2020-11-27 00:30] gerrywp commented on #94
你好，请问怎么引用本地的.class字节码文件夹呢？这里只能添加.jar包，并不能添加一个包含.class文件的包的目录噢！

[2020-11-27 01:41] jdneo commented on #94
@gerrywp It's only supporting jar file right now, please feel free to create [new feature requests here](https://github.com/microsoft/vscode-java-dependency/issues) if you want more support

[2020-11-28 20:18] JoseRamonProfesor opened #515 ""Source Action\Generate Getters and Setters" doesn't work and open a new tab with the getters and setters"
Issue Type: <b>Bug</b>

   I'm trying to "Generate getters and setters" from "Source Action" in a Java file (like I used to do) and it doesn't work since 2 days ago.  When I try to generate getters and setters a new tab is open.
   For example, if I have a single file TestApp.java (without a project), I add a new attribute and when I generate getters and setters a new tab is visible, but I still c

[2020-11-29 08:05] testforstephen commented on #515
Did you use symlink for this folder? Also you could have a try "**F1 -> Java: Clean the Java language server workspace**"?

[2020-11-29 18:50] JoseRamonProfesor commented on #515
Hi Jinbo,
Thanks a lot!! That folder was not a symlink folder, but in the desktop I
had a symlink to the parent of that folder and I was opening the folder
from the desktop route. I have opened the folder from $HOME without any
symlink in the path and it works fine.
I must be independent, but if I get a solution it's perfectly fine for me.
Thank you.
Regards,

El dom, 29 nov 2020 a las 9:06, Jinbo

[2020-12-02 05:02] #486 closed

[2020-12-04 03:32] akaroml commented on #511
@jdneo could you help answer this question?

[2020-12-04 03:34] akaroml commented on #512
@xkw1643469771 could you share more details? From the descriptions, we are not able to have a clear understanding of the actual problem.

[2020-12-04 03:44] xkw1643469771 commented on #512
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "microsoft/vscode-java-pack"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年12月4日(星期五) 中午11:34
收件人:&nbsp;"microsoft/vscode-java-pack"<vscode

[2020-12-04 04:26] jdneo commented on #511
@netzhouxinghong Could you explain more about `not possible to start multiple junit tests or multiple Java applications`? A gif for illustration will be great!

[2020-12-04 04:51] akaroml commented on #513
@mozhuanzuojing this is already supported. Please check this document on how to use it:
https://code.visualstudio.com/docs/java/java-debugging#_hot-code-replacement

[2020-12-04 04:51] #513 closed

[2020-12-04 04:53] akaroml commented on #506
@testforstephen is there a conclusion here?

[2020-12-04 04:54] akaroml commented on #500
@CsCherrYY this is a formatting related request. Please consider that in your work.

[2020-12-04 04:54] #500 closed

[2020-12-04 04:58] netzhouxinghong commented on #511
Create a maven multi-module project, create multiple different springboot junit test programs in one of the packages, vscode can only run one of them, and cannot run multiple junit test programs at the same time, the lower right corner of vacode prompts: you need to wait for the currently started program to run to completion After that, the next junit program can be started. This problem does not

[2020-12-04 05:07] CsCherrYY commented on #500
Sure.

[2020-12-04 05:21] akaroml commented on #497
@testforstephen please help take a further look.

[2020-12-04 05:22] akaroml commented on #489
@Eskibear @testforstephen do we have a conclusion now?

[2020-12-04 05:23] akaroml commented on #487
@testforstephen please help follow up.

[2020-12-04 05:24] akaroml commented on #480
@Eskibear do we have a conclusion now?

[2020-12-04 05:27] akaroml commented on #474
@fabiomarinho please check out this blog post for details on how you can work with a mixed setting of Java 11 plus other Java versions.

https://devblogs.microsoft.com/java/about-upgrading-to-java-11-for-vs-code-for-java/

You can also use the `Java: Configure Java Runtime` command in VS Code to change your JDK settings.

[2020-12-04 05:27] #474 closed

[2020-12-04 06:07] #469 closed

[2020-12-04 06:29] netzhouxinghong commented on #511
This problem has always been there before, and the current version 0.72 does not know whether this problem still exists. You need to test it internally according to the above description to confirm the problem.
之前一直都有此问题，现在的0.72版本不知道是否还存在此问题需要你们内部先按照上面的描述测试一下进行问题的确认

[2020-12-04 06:46] jdneo commented on #511
I see, transfer to the test runner repo

[2020-12-04 07:07] Eskibear commented on #480
@kaspersoerensen  Now we have a new "Configure Java Runtime" page helping you set up the environment. Command palette -> `Java: Configure Java Runtime`. You can give it a try and let me know if it works.

[2020-12-04 09:01] testforstephen commented on #497
Your remote server is using JDK 14 to run the Java tooling (Gradle 5.2.1), but seems Gradle 6.3 starts to support Java 14. Not sure whether this is related, you could try the user setting `java.import.gradle.java.home` to specify a Java runtime for the Gradle tooling.

[2020-12-04 09:19] testforstephen commented on #506
This is the issue from the decomplier extension, the language features not work in the decompiled code at the moment. Need improve the decompiler extension to make it better integrated with the Java tooling.

[2020-12-04 09:39] testforstephen commented on #487
@reators, I didn't get much clue from the existing logs, could you share a minimum sample project to help us reproduce the issue?

[2020-12-04 16:40] hakanai commented on #489
Yeah, I originally had filed this because I thought I was requesting a new feature, but now it's clear that the feature exists, so I might as well close the ticket. Some day I hope to actually see this on one of my projects, but that's being sorted out elsewhere.

[2020-12-04 16:40] #489 closed

[2020-12-04 16:45] hakanai opened #519 "Support for Kotlin DSL build scripts"
## Suggestion

I like type safety, so I prefer to use Kotlin over Groovy for new projects.

It would be nice if this were supported, as the usefulness of VSCode will degrade over time as more and more projects switch over.

## Use Cases

I don't want to go back to the dark ages where I couldn't rely on static typing.

## Examples

[2020-12-04 20:11] meganrogge opened #520 "Welcome experience feedback / suggestion"
Please see:

https://github.com/microsoft/vscode/issues/111902#issue-757291466

[2020-12-07 02:25] #270 closed

[2020-12-07 02:33] Eskibear commented on #520
Agree.

The notification is triggered by [Java extension](https://github.com/redhat-developer/vscode-java/blob/84ee7c9851dd0470e80fcae1ed8df5699b1897f1/src/requirements.ts#L139).

[2020-12-07 03:21] testforstephen commented on #519
This is a duplicated feature request with https://github.com/redhat-developer/vscode-java/issues/632. But it finally depends on buildship component to provide the support, see https://github.com/eclipse/buildship/issues/222.

[2020-12-09 09:53] testforstephen opened #521 ""Cannot read property 'onDidClasspathUpdate' of undefined" error when opening Java runtime guide"
When opening the new Java runtime guide, the operation will throw error such as `Cannot read property 'onDidClasspathUpdate' of undefined`.

[2020-12-10 02:55] rsrini7 opened #522 "Bug Compilation errors in Gradle Integration Testing"
**Environment:**

- VS Code Version: 1.51.1
- Extension Version: 0.12.0
- JDK Type & Version: >=8
- OS Type & Version:

**Step to Reproduce:**
Clone and open with code https://github.com/Jet-C/spring-demo

**Expected Behavior:**
No compilation issue in "Integration" folder.
Tested with Intellij idea and no errors reported.

**Actual Behavior:**
Compilation issue in "Integration" folder.

**Related

[2020-12-11 08:58] reators commented on #487
Hi @testforstephen,

if I use VS code for a Java-only-project there are no problems.
The problem occurs in a FitNesse project where there is one part for the test execution scripts and another part for the java code.
[HSAC FitNesse Fixtures](https://github.com/fhoeben/hsac-fitnesse-fixtures) can be used as a sample project to reproduce the error.

[2020-12-12 10:17] CasparNuel opened #524 "Bug"
**Environment:**

- VS Code Version: 1.51.0
- Extension Version:
    For the extension pack: v0.12.0
    For the Java Project Manager Extension: v0.15.0
- JDK Type & Version: JRE System Library [JDK-15]
- OS Type & Version: Windows 10 Home, up-to-date

**Step to Reproduce:**
Not sure, continue reading for a more detailed explanation.
I have typed the explanation in full here: https://stackoverflow

[2020-12-15 01:35] #521 closed

[2020-12-16 12:24] testforstephen commented on #506
@rockxsj As we know, the extension `cweijan.vscode-office` will cause this error, see https://github.com/redhat-developer/vscode-java/issues/1741#issuecomment-746128965.

[2020-12-18 08:03] jdneo commented on #524
@CasparNuel Would you mind to share a sample project to us for diagnostic?

[2020-12-19 04:52] jaye-z opened #528 "Help: The Language Support for Java server crashed 5 times in the last 3 mins. The server will not be restarted."
Using VS Code on Codio.

Ran into this problem multiple times. Tried reloading, reconnecting, etc. but none of these worked. Would appreciate any help on how to fix this. Thanks.

![image](https://user-images.githubusercontent.com/22444518/102681015-c79ac280-418b-11eb-8f92-2cbf4e2a0861.png)

[2020-12-19 08:43] CasparNuel commented on #524
@jdneo [This is the exact repo that has this problem](https://github.com/CasparNuel/JavaPlayground), if you need any other local files, just let me know.

[2020-12-21 06:15] jdneo commented on #528
Have you tried the troubleshooting guide here: https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting?

Meanwhile, if you don't mind, you can share a project to us for this issue

[2020-12-21 08:23] MrTinyK opened #529 "Bug"
**Environment:**

- VS Code Version: 1.52.1
- Extension Version: v0.12.1
- JDK Type & Version: openjdk-11
- OS Type & Version: linux

**Step to Reproduce:**
open a maven java project with vscode.The project comtains some lambda expression.
**Expected Behavior:**
build project without compile error
**Actual Behavior:**
failed to build with an error:
The type [MyType] from the descriptor computed fo

[2020-12-21 08:25] DougTea opened #530 "The type X from the descriptor computed for the target context is not visible here"
**Environment:**

- VS Code Version: 1.52.1
- Extension Version: v0.12.1
- JDK Type & Version: openjdk-11
- OS Type & Version: linux

**Step to Reproduce:**
open a maven java project with vscode.The project comtains some lambda expression.
**Expected Behavior:**
build project without compile error
**Actual Behavior:**
Project is failed to build with all lambda expression come with an error:
The ty

[2020-12-22 02:32] #529 closed

[2020-12-22 02:34] MrTinyK commented on #529
duplicated bug export

[2020-12-23 04:53] akaroml commented on #519
Close as duplicated. Let's continue the discussion in redhat-developer/vscode-java#632

[2020-12-23 04:53] #519 closed

[2020-12-23 04:58] akaroml commented on #520
@eskibear Time to consider separating the Runtime Configuration Guide and publish it as an extension. So both Red Hat and us can use it.

[2020-12-23 04:59] akaroml commented on #522
Thanks for reaching out @rsrini7
@testforstephen please take a look.

[2020-12-23 06:04] akaroml commented on #528
I would suggest that you try cleaning the workspace by running command `Java: Clean Java Language Server Workspace`

[2020-12-23 06:05] akaroml commented on #530
Thanks for reaching out @MrTinyK

Could you please provide a sample project to help us reproduce this issue?

[2020-12-25 11:03] bluewood-truth opened #531 "Java Scanner input problem with non-English character"
**Environment:**

- VS Code Version: 1.52.1.0
- Extension Version: 0.12.1
- JDK Type & Version: jdk-11.0.9
- OS Type & Version: Windows10 20H2

**Step to Reproduce:**
1. Create new java project in vscode.
2. Copy and paste below code and run.
[code]
3. Input **사과 apple りんご**.

**Expected Behavior:**
[code]

**Actual Behavior:**
[code]

I checked that working normally in Eclipse IDE. And it also wo

[2020-12-29 03:06] hakanai commented on #497
It appears that a recent update to VSCode has stopped this one happening for us.

That got me to the next error, which was about circular references, which is apparently a known issue with a known workaround. So we applied that workaround.

That got me to the next error, which is "Multiple projects in the build are located in the same directory", which is buildship#877 with no known workaround as

[2020-12-29 03:06] #497 closed

[2020-12-29 04:24] DougTea commented on #530
https://github.com/DougTea/test
link above is a sample project that can reproduce this issue.Line 16 in App.java come with a problem:The type HttpSecurity from the descriptor computed for the target context is not visible here.
@akaroml

[2021-01-04 02:29] Eskibear commented on #531
It can be inconsistency of encoding (code page) used in your terminal. When you input the string, it was not encoded with the same encoding.

1. What's your integrated terminal in vscode?  CMD/PowerShell/PWSH?
2. Get more diagnostic information, refer to https://github.com/microsoft/vscode/issues/71917#issuecomment-727020352

[2021-01-04 05:06] testforstephen commented on #530
@DougTea i tried the sample project in macOS, there are no compilation errors.

![image](https://user-images.githubusercontent.com/14052197/103502802-619d8300-4e8d-11eb-8ca6-f3c0513092ef.png)

Could you share the server logs?

**F1 -> Java: Open Java Language Server Log File**

[2021-01-04 06:13] DougTea commented on #530
When I reopen this project,the problem I have seen before is gone.
After several trial，I found that if I change the lambda expression,the problem will go back.Specifically,rename "authorization".
![image](https://user-images.githubusercontent.com/16688151/103505995-aaa60500-4e96-11eb-979a-042579444c2e.png)

And the lsp log file got this error:

`!ENTRY org.eclipse.jdt.ls.core 1 0 2021-01-04 14:12:

[2021-01-04 06:35] testforstephen commented on #522
@rsrini7 you're using some custom configuration scope `integration` in your build.gradle, and the gradle tooling **buildship** used by vscode java extension doesn't recognize it by default. You have to add the following section in your build.gradle file. Learn more from [FAQ at buildship](https://github.com/eclipse/buildship/blob/f97e183a45e93251176f95d7dbd8310cca56e5ae/docs/user/Faq.md#q-how-can-

[2021-01-04 07:41] testforstephen commented on #530
I can reproduce it too. This seems related with the generic type because your original configure parameter used a generic type <HttpSecurity>. Declare the parameter type explicitly in the lambda can fix the error.

[code]

[2021-01-05 15:38] bfrenchrit opened #532 ".class Files location"
When creating a new Java Project with no build tools, where are the compiled .class files located?  Is there a way to change where they are kept, e.g. "build" folder under the project location?

[2021-01-06 07:01] #528 closed

[2021-01-07 03:27] jdneo commented on #532
Related with this one: https://github.com/microsoft/vscode-java-dependency/issues/281

Just FYI, we are working on providing a configuration experience for the project structure. Please stay in tune.

[2021-01-07 03:27] #532 closed

[2021-01-12 07:19] bluewood-truth commented on #531
I've solved it thanks to you. I changed the vcode encoding settings to be the same as my CMD, and it worked!
- I changed java launch encoding to "EUC-KR". (edit Project\\.vscode\\launch.json)
- I changed active console code page to "949". (edit C:\\Users\\UserName\\.vscode\\extensions\\vscjava.vscode-java-debug-0.30.0\\scripts\\launcher.bat)

[2021-01-12 07:19] #531 closed

[2021-01-21 06:57] bersbersbers opened #537 "Introduction of unwanted changes to launch.json"
Installation/use of https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack reformats the `launch.json` file when adding its launch configs, thereby removing trailing commas (no big deal) and comments (BIG DEAL). I cannot say for sure when it happened, but it was around installation and short running/debugging a hello-world-example in Java. If people don't have their latest ch

[2021-02-02 17:39] mikeyloboto opened #538 "Bug"
**Environment:**

- VS Code Version: 1.52.1
- Extension Version: v0.12.1
- JDK Type & Version: Oracle JDK 15
- OS Type & Version: Win 10 20H2

Code formatting does not work correctly if class or variable names consist of egyptian hieroglyphs

**Step to Reproduce:**
Create a new class with the name consisting of egyptian hieroglyphs
Instantiate a new object of that class using "new" keyword
Format

[2021-02-02 19:29] kristinochka commented on #480
@Eskibear I now have Java extension pack v0.12.1 and the "Configure Java Runtime" page is working!

[2021-02-03 04:31] #480 closed

[2021-02-04 13:28] TheKweq opened #539 "Java compiler no longer highlighting errors"
Issue Type: <b>Bug</b>

Hi,

Error reporting suddenly stopped working for Java.
No intelliSense and "Quick fix" doesn't work.

Extension version: 0.12.1
VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16:30:02.420Z)
OS version: Darwin x64 20.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4980HQ CPU @ 2.80GHz (8 x

[2021-02-05 02:42] testforstephen commented on #539
Could you please provide the elaborate details to reproduce the problem? It's better to provide a sample project to help reproduce the issue.

[2021-02-05 08:13] TheKweq commented on #539
The problem was with my pom profiles. I had two profiles which had executions like copy-resources, zip, etc. When I added an empty profile without any executions and set it as default VS Code Java plugin started working again. I guess that's an user error.

[2021-02-05 08:13] #539 closed

[2021-02-07 18:39] KnackForJavac commented on #107
wheeeeeee

[2021-02-08 07:29] Eskibear opened #540 "New UX of welcome view"
Todo Items:

- [x] Implement a welcome page + tour page. In welcome page, provide shortcuts in group. In tour page, take a tour of main features. (PR #535)
- [x] only pop up tour page when open in first time. (PR #544)
- [x] switch to welcome page automatically after finishing the tour. (PR #541 )
- [x] assign proper screenshots in the tour page. (PR #546)

[2021-02-15 01:36] HuskyNator commented on #94
What about adding it to projects that use maven? Those don't show a "Reference Libraries" section 😞

[2021-02-16 04:09] jdneo commented on #94
@HuskyNator we recommend to directly update the pom file, since that is the source of the truth of what the project build process. (otherwise, the build result in VS Code might be different from that in CI/CD).

BTW, we do have the [same request here](https://github.com/microsoft/vscode-java-dependency/issues/218). Please feel free to upvote it. If more and more people are requesting for it. We wi

[2021-02-21 16:16] ghost opened #542 "Language support for Chinese(Simplified)"
As a Chinese Java beginner, it's a struggle for me to learn Java with interface in a foreign language. It would be great if you can provide an interface in Chinese (Simplified). Maybe it's not that difficult for the team.

[2021-02-22 05:00] jugup opened #543 "Getting errror Running the contributed command: 'java.execute.workspaceCommand' failed. while opening a main folder which contains a sub folder of java mvn project"
- VS Code Version: 1.53.2 (user setup)
- Extension Version: v0.12.1
- JDK Type & Version: openjdk 15.0.2 2021-01-19
                                    OpenJDK Runtime Environment AdoptOpenJDK (build 15.0.2+7)
                                    OpenJDK 64-Bit Server VM AdoptOpenJDK (build 15.0.2+7, mixed mode, sharing)
- OS Type & Version:  Windows 10

**Step to Reproduce:**  Try to open a folder

[2021-02-23 01:42] jdneo commented on #543
Is there any errors in the server log file?

https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs

[2021-02-23 08:37] jugup commented on #543
I can see two entry with similar entry:

`!ENTRY org.eclipse.jdt.ls.core 1 0 2021-02-23 14:03:27.845
!MESSAGE >> New configuration: {java={home=C:\Program Files\AdoptOpenJDK\jdk-15.0.2.7-hotspot, jdt={ls={vmargs=-XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xmx1G -Xms100m}}, errors={incompleteClasspath={severity=warning}}, configuration={

[2021-02-23 09:08] jdneo commented on #543
Nothing suspicious in the logs. I tried to open a folder which contains maven project in its sub-folder. No such error observed. It would be helpful if a sample folder can be provided.

A gif/video will be helpful too.

[2021-02-23 22:07] heybechill commented on #280
I had this issue after following similar steps. The language support extension has a command `Java: Force Java Compilation` that seems to refresh the state after selecting a `Full` recompile.

[2021-02-25 06:58] Eskibear commented on #540
Telemetry

- [ ] telemetry for actions (external links, button, tab-switching...)

When there's no open folder:
- [ ] Proper guide in Java Project Explorer, instead of an error message. @jdneo
- [ ] Proper guide/infor in Testing view. @jdneo

visibility of welcome view (@Eskibear )
- [ ] Hide in Codespaces by default.
- [ ] Controlled by A/B testing

[2021-02-25 08:41] human02 opened #547 "Bug - Java System Library Bug when using Spring Boot Initializer"
**Environment:**

- VS Code Version: Version: 1.53.2
- Extension Version: v0.12.1
- JDK Type & Version: java version "15.0.2" 2021-01-19
                                      Java(TM) SE Runtime Environment (build 15.0.2+7-27)
                                      Java HotSpot(TM) 64-Bit Server VM (build 15.0.2+7-27, mixed mode, sharing)
- OS Type & Version: Mac OS Big Sur version 11.1

**Step to

[2021-02-25 15:48] pbassut commented on #155
I think I have the same "class-path issue". Any idea how to solve it @testforstephen ?
The code runs just fine if I close VSCode and run from the CLI.
If I open VScode the build gives me endless errors

[2021-03-01 02:25] Eskibear commented on #547
@aaravchandra02  Did you pick `11` (which is the default option) when specifying java version? You can check your pom.xml now, see if `java.version` is 11 or 15.

![image](https://user-images.githubusercontent.com/2351748/109444350-07c5cd80-7a78-11eb-90a4-f976e8874c96.png)

@CsCherrYY BTW the options are hardcoded for the moment (so I cannot pick Java 15), can you take a look to use the value from

[2021-03-01 13:58] kking124 opened #551 "'java.execute.workspaceCommand' failed"
I've been trying to get the java pack working in vscode version 1.53.0 for several days now.

To simplify things, I'm running a project that just outputs Hello World!

[code]

command line output is successful when run manually:
[code]

but VSCode gives me a cryptic: `Running the contributed command: 'java.execute.workspaceCommand' failed.`

my launch.json is as follows:
[code]

settings.json:
[co

[2021-03-04 02:25] molly-w opened #555 "Can't show complete java result in Terminal unless resize it"
**Environment:**

- VS Code Version: 1.53.2(user setup)
- Extension Version: Java Extension Pack(v0.12.1)
- JDK Type & Version: openjdk version "11.0.8"
- OS Type & Version: Windows10

**Step to Reproduce:**

hello.txt:
`Hello How are you?`

App.java:
[code]
**Expected Behavior:**
It should be as the same as the results in external Terminal:
![image](https://user-images.githubusercontent.com/63043

[2021-03-05 07:14] pl07 opened #556 "UI issue when not maximize window"
**Environment:**

- VS Code Version: 1.54.1
- Extension Version: 0.12.1
- JDK Type & Version: 11.0.7
- OS Type & Version: Windows

**Actual Behavior:**
The words are messed when not maximize window
![image](https://user-images.githubusercontent.com/46642771/110080138-08869880-7dc5-11eb-93a5-ceff0e3571d9.png)

[2021-03-05 12:19] #556 closed

[2021-03-08 08:07] peterxucn commented on #551
I met the same problem. And I changed the `java.home` in settings.json from:

[code]

to:

[code]

After that, it's solved.

My development environment is:

[code]

[2021-03-08 16:15] kking124 commented on #551
Thanks!

Worked on the following environment as well:

[code]

[2021-03-08 16:15] #551 closed

[2021-03-09 01:12] cartley opened #564 "Status bar not showing selected JDK when editing .java file"
What does it mean when my Java project shows it is in Java mode but does not display the active JDK? This is a maven project. It builds fine, using 1.8 JDK as specified in my pom. My other Java projects show the current JDK in the status bar where I drew the arrow, but not this one. I've looked at logs and frequently Clean the Java Language Server Workspace. Any troubleshooting advice?

![image](h

[2021-03-09 02:53] jdneo commented on #564
@cartley Thanks for reporting the issue.

Basically, the runtime status bar item will be shown when you are editing a .java file.

Would you mind to share a sample project to us for investigation?

[2021-03-09 15:39] cartley commented on #564
First attempts to reproduce in a small project are not useful. I.e., it works in most of my projects and in simple test case. May be related to maven parent/child structure of my problem project, Will try that next.

[2021-03-10 01:47] #540 closed

[2021-03-10 05:24] CsCherrYY commented on #547
Since https://github.com/microsoft/vscode-spring-initializr/commit/7d8cf2e892cb84dccc3ac2134bc3b6db340dfa17, the Spring Initializr Java Support will generate QuickPick options from fetched metadata. The options in steps such as `Specify Java version` will be the same as those in the given serviceUrl, like `https://start.spring.io/`. This will be fixed in the next release.

[2021-03-11 06:52] ogre2 opened #566 "Bug"
**Environment:**

- VS Code Version: 1.54
- Extension Version: 0.13.0
- JDK Type & Version: openjdk version "11.0.10" 2021-01-19
- OS Type & Version: Windows

**Step to Reproduce:**
- Create a new .java file
- Write some simple executable code.
- Run program.
**Expected Behavior:**
- Program to run.
**Actual Behavior:**
- Error: Failed to lunch debugee in terminal. Reason: b.toLowerCase is not a f

[2021-03-15 19:44] aaravchandra02 commented on #547
@Eskibear Yes, it is Java version 11.

[2021-03-16 02:43] Eskibear commented on #547
@aaravchandra02 This time you can manually change it to 15, and update the project.  We've fixed Spring Initializr extension, and you'll soon be able to directly choose Java version 15...

[2021-03-16 08:43] CsCherrYY commented on #547
@aaravchandra02 We have released v0.7.0 of [Spring Initializr Java Support](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-spring-initializr). You can update the extension's version in VS Code and try again.

[2021-03-17 05:35] GaiZhenbiao opened #571 "Java Scanner can't be marked closed properly."
**Environment:**

- VS Code Version:1.54.3
- Extension Version:v0.13.0
- JDK Type & Version:15.0.1
- OS Type & Version: Windows 10 x64 20H2

**Step to Reproduce:**
Write Java codes that contains for sentences between a Scanner declaration and scanner.close().For example:

[code]

there would be yellow waves under "reader" in declaration:
![image](https://user-images.githubusercontent.com/51039745/

[2021-03-17 07:27] Eskibear commented on #571
[code]
I just tried, after defining `i` inside for-loop as shown above, this warning went away.

This warning is provided by language server, indicating potential risks. See similar discussion here: https://www.reddit.com/r/learnjava/comments/gxtatj/resource_leak_scanner_is_never_closed/

@testforstephen Please take a look. I'm not sure if it's a bug of jdtls. I don't see such warning in either Ec

[2021-03-17 07:43] Eskibear commented on #571
tracked in https://github.com/eclipse/eclipse.jdt.ls/issues/1692

[2021-03-18 02:21] jdneo opened #572 "Add logic to check Java Language Server version in classpath configuration page"

[2021-03-22 03:46] pbassut commented on #155
Just installed the extension again to see if it was fixed after an extension version release, but still the same error. I've got to be doing something very obviously wrong since nobody else complained about this issue.

[2021-03-22 03:48] pbassut commented on #155
And I see a bunch of errors in the PROBLEMS view:
![image](https://user-images.githubusercontent.com/1500037/111938252-562f2080-8aa8-11eb-9814-b0e2d2e473dd.png)

[2021-03-22 07:21] akaroml commented on #537
@bersbersbers to help us investigate, would you please provide more info on the actual contents that are added to the `launch.json` file. With that we'll be able to identify the actual extension that is causing the problem.

[2021-03-22 07:22] akaroml commented on #538
This looks like a Unicode issue. @testforstephen  could you take a further look?

[2021-03-22 07:24] akaroml commented on #555
@testforstephen please take a further look.

[2021-03-22 07:26] akaroml commented on #566
@jdneo please take a look. Looks like a classpath issue.

[2021-03-22 07:35] jdneo commented on #566
@ogre2 Could you provide more information about how to reproduce the issue? A sample project would be helpful.

[2021-03-22 07:37] bersbersbers commented on #537
Today, I was able to repro this by selecting

![image](https://user-images.githubusercontent.com/12128514/111955451-cdd16f80-8ae9-11eb-9043-637f601d94a6.png)

and choosing Java - hope this helps:

![image](https://user-images.githubusercontent.com/12128514/111955221-86e37a00-8ae9-11eb-95fc-876e587a5b7e.png)

[code]

![image](https://user-images.githubusercontent.com/12128514/111955329-a37fb200-8ae

[2021-03-22 07:48] jdneo commented on #543
Close for inactive for a long time.

If you still have the problem, please comment and provide more information for us to reproduce.

Thanks.

[2021-03-22 07:48] #543 closed

[2021-03-22 07:58] testforstephen commented on #537
Created an issue at VS Code to track it since our debugger extension is reusing VS Code API to read and update launch.json.
https://github.com/microsoft/vscode/issues/119439

[2021-03-22 10:21] bersbersbers commented on #537
Thanks! I have to admit that when I tested briefly this morning, I only verified that a launch config is added that way - but in fact, the comments from `launch.json` are not removed. I cannot say whether that is due to improvements to VS Code between 1.52.1 and 1.54.3, or due to a different mechanism responsible for what I observed in January.

[2021-03-23 05:50] bersbersbers commented on #537
https://github.com/microsoft/vscode/issues/110295 has repro steps, also showing why https://github.com/microsoft/vscode-java-pack/issues/537#issuecomment-803837931 does not repro the issue.

Follow https://github.com/microsoft/vscode/issues/29453 for progress,

[2021-03-23 05:51] #537 closed

[2021-03-23 05:59] testforstephen commented on #555
The terminal behavior is controlled by VS Code, not by Java extension. I'm wondering could you try JS to see if it has similar issue?

[2021-03-23 07:33] #512 closed

[2021-03-24 22:27] ogre2 commented on #566
I wasn't working on anything extensive, merely just testing out the the java-pack with some simple programs that read in data from a file. I've tried uninstalling and reinstalling the extension pack and the issue still persists. I created a simple "hello world" program in a separate directory from the one that I've been using prior that prints to the console, I've pasted it below.

`public class S

[2021-03-25 01:58] jdneo commented on #566
@testforstephen could you take a look?

[2021-03-25 02:04] testforstephen commented on #566
@ogre2 thank you for reaching out. Would you mind sharing your user/workspace settings file? If you don't know how to get the settings, see https://code.visualstudio.com/docs/getstarted/settings

[2021-03-25 07:14] jdneo commented on #572
Resolved in #580

[2021-03-25 07:14] #572 closed

[2021-03-26 06:24] pl07 opened #581 "Webview keeps loading after reload it"
**Environment:**

- VS Code Version: 1.54.3
- Extension Version: 0.13.0
- JDK Type & Version: 11.0.7
- OS Type & Version: Windows

**Step to Reproduce:**
Open classpath configuration/configure java runtime webviews, F1-> Developer: Reload Webviews

**Actual Behavior:**
The page keep loading
![image](https://user-images.githubusercontent.com/46642771/112590724-42841100-8e3e-11eb-990d-e94a26e1e226.p

[2021-03-26 07:53] pl07 opened #583 "Eclipse project type shows unmanaged after open java file from java project manager"
**Environment:**

- VS Code Version: 1.54.3
- Extension Version: 0.13.0
- JDK Type & Version: 11.0.7
- OS Type & Version: Windows

**Step to Reproduce:**
1. Open a eclipse project https://github.com/microsoft/vscode-java-debug/tree/master/testprojects/1.helloworld
2. Open Helloworld.java from java project manager
3. F1 -> Java:Configure java runtime

**Expected Behavior:**
![image](https://user-im

[2021-03-26 08:17] molly-w commented on #555
Yes, i'll put an issue to [vscode](https://github.com/microsoft/vscode/issues).

[2021-03-26 09:58] #583 closed

[2021-03-26 21:22] ogre2 commented on #566
Sure thing, I've attached the settins.json inside the zipped file. Let me know if there's anything else I can provide.
[settings.zip](https://github.com/microsoft/vscode-java-pack/files/6214404/settings.zip)

[2021-03-30 02:11] testforstephen commented on #566
[code]

Apparently this setting is not valid because it only allows a path as the value. Not sure whether this is the reason for the failure.

[2021-04-01 22:12] ogre2 commented on #566
I went in commented that line out, and it seems to have fixed the issue! The extension runs my code as it should!

[2021-04-01 22:13] ogre2 commented on #566
I missed click, didn't mean to close the issue without properly thanking you guys for helping me troubleshoot the issue. Thanks a lot, I'm gonna enjoy writing more Java on VSCode here on out!

[2021-04-02 06:10] aaravchandra02 opened #589 "Bug - Missing 'super()' when constructor is created."
**Environment:**

- VS Code Version:1.55.0
- Extension Version: v0.13.0
- JDK Type & Version: JavaSE 15.0
- OS Type & Version:  Mac OS 11.2.3 -  Darwin x64 20.3.0

**Step to Reproduce:**
When creating a constructor using source action, the super() is not included in the constructor.
![image](https://user-images.githubusercontent.com/42168454/113386413-0e798600-933f-11eb-9161-ea5e375d4aac.png)
![im

[2021-04-02 06:16] aaravchandra02 commented on #547
@CsCherrYY I have updated the extension but still it has an error. Though I have JavaSE 15.0.2 but when initializing, it has Java 16 as an option and not Java 15.
![image](https://user-images.githubusercontent.com/42168454/113386988-3c12ff00-9340-11eb-88c4-db7890c187ef.png)

[2021-04-03 17:39] rrizun opened #590 "java: setting starThreshold=0 breaks java intellisense"
Issue Type: <b>Bug</b>

in settings.json, setting either of these values to "0" breaks java intellisense

"java.sources.organizeImports.starThreshold": 0,
"java.sources.organizeImports.staticStarThreshold": 0,

that is, e.g., type "this." and observe that the java intellisense does not appear

as long as neither value is zero (0), then java intellisense appears, e.g., typing "this." shows the java

[2021-04-04 21:43] Scyther4545 opened #591 "how do you change the Java home in visual studios"
I cant figure out how to change the Java home because my program keeps saying

Could not fetch model of type 'BuildEnvironment' using connection to Gradle distribution 'https://services.gradle.org/distributions/gradle-6.8.3-bin.zip'.\r\nThe supplied javaHome seems to be invalid. I cannot find the java executable. Tried location: C:\\Program Files\\Java\\jdk-16\\bin\\java.exe

[2021-04-06 01:58] CsCherrYY commented on #547
@aaravchandra02 Actually the options are based on the setting `spring.initializr.serviceUrl` or just `https://start.spring.io/`. Currently there are only `16`, `11` and `8` in the options of java version in `https://start.spring.io/`. After initializing, you can also modify it in the `pom.xml`.

[2021-04-06 07:19] testforstephen commented on #566
Looks like this issue has been fixed, i will close it. Feel free to comment here if you need more support.

[2021-04-06 07:19] #566 closed

[2021-04-06 07:55] testforstephen commented on #589
When the super class contains only a default constructor (e.g. a constructor with no additional arguments), then we don't generate 'super()' in the constructor of the subclass.

Can you share the full structure of your class?

[2021-04-07 05:18] jdneo commented on #590
Observed an error at log file:

[code]

[2021-04-07 05:59] testforstephen commented on #591
You could pass a different java home to Gradle via user setting `java.import.gradle.java.home`.

[2021-04-08 01:35] #590 closed

[2021-04-08 03:09] Eskibear opened #593 "Feature request"
We should opt-in Trusted Workspace for all Java extensions.
See [microsoft/vscode#106488](https://github.com/microsoft/vscode/issues/106488) [microsoft/vscode#120173](https://github.com/microsoft/vscode/issues/120173)

[2021-04-08 16:44] brunoborges opened #594 "Offer Microsoft Build of OpenJDK after GA"
Following user request: https://github.com/microsoft/openjdk/discussions/22

[2021-04-09 12:35] rubensa opened #596 "findJavaRuntimes should search in more paths"
## Suggestion

When looking for existing Java Runtimes, [findJavaRuntime.ts](https://github.com/microsoft/vscode-java-pack/blob/master/src/java-runtime/utils/findJavaRuntime.ts) should search in more paths than currently is doing.

At least it should look for the paths specified in [java.configuration.runtimes](https://github.com/redhat-developer/vscode-java#project-jdks) settings variable (as tho

[2021-04-09 18:21] aaravchandra02 commented on #547
@CsCherrYY Okay!

[2021-04-09 18:30] aaravchandra02 commented on #589
@testforstephen
The class is as follows:

![image](https://user-images.githubusercontent.com/42168454/114224649-30b66980-9926-11eb-8110-79c246f6df7a.png)

Also when I select no argument (as shown below):

![image](https://user-images.githubusercontent.com/42168454/114224883-825ef400-9926-11eb-9e18-29be64b7da31.png)

I get this constructor:

![image](https://user-images.githubusercontent.com/421684

[2021-04-11 12:44] testforstephen commented on #589
In your example, it's unnecessary to add super() to the constructor. While adding an explicit super() works as well, we have chosen not to do so in order to keep the code clean. This is by design.

[2021-04-12 22:15] #589 closed

[2021-04-13 13:41] sidi-zeidane opened #598 "Language Support for Java (Syntax Server) server crashed 5 times in the last 3 minutes"
The Language Support for Java (Syntax Server) server crashed 5 times in the last 3 minutes. The server will not be restarted.
how do i solve this?

[2021-04-14 04:28] Eskibear commented on #598
@testforstephen Do we have full logs for syntax server, can you help to point it out?

[2021-04-14 05:11] testforstephen commented on #598
Here is how to get all logs for Java extension.

Output window:
**Language Support for Java (Syntax Server)**

Logs:
**F1** -> **Java: Open All Log Files**

[2021-04-15 19:21] qrqhuang commented on #476
I'm tired to see this configure window.
Just give me a change to disable it.

[2021-04-20 05:58] #581 closed

[2021-04-20 13:23] winmark commented on #439
The error is caused by the fact that you are using openjdk which has this bug.
by using the oracle version the error disappears. having said that know that anyway you are compiling with the jdk version specified in settings.json and pom.xml you can program skipping the bug

[2021-04-21 02:21] jdneo opened #604 "Provide better format configuration experience"
For Formatter Setting custom editor:
- [x] webview layout #607
- [x] render whitespace #624
- [x] enhancement based on current settings #626
- [x] functionality of editor #628

[2021-04-21 02:28] jdneo opened #605 "April 2021 Endgame"
| Features | Owner | Verifier | Verified? | Released? |
|---|---|---|---|---|
| [Classpath configuration page](https://github.com/microsoft/vscode-java-pack/pull/567) | @jdneo | @Eskibear @CsCherrYY  | ✅ | ✅ |
| [Inline debugging](https://github.com/microsoft/vscode-java-debug/pull/977) | @testforstephen |  @jdneo | ✅ | ✅  |
| [Show VARIABLES with different data views](https://github.com/microsoft

[2021-04-24 17:41] vicrdguez commented on #598
I have the same problem, this are the logs:

[code]
Looks like the path for lombok jar is hardcoded to home folder of someone else

[2021-04-25 01:27] testforstephen commented on #598
lombok.jar is injected by "Lombok Annotations Support for VS Code" extension, looks like it's missing. You have to manually remove `"-javaagent:/home/chris/.vscode-oss/extensions/gabrielbb.vscode-lombok-1.0.1/server/lombok.jar"` from user setting `"java.jdt.ls.vmargs"`.

[2021-04-28 05:17] #598 closed

[2021-04-28 07:55] testforstephen commented on #596
Take a look at [jEnv](https://www.jenv.be/) as well.

[2021-04-28 22:48] Luuquicas opened #610 "HELP-ME PLIS"
I have a problem, when I try to compile the java file, pops up a message in my Terminal. I already installed the programs and plugins to program in Java, I already updated the JDK to 8 version, and the JRE to 8 version, I configured the environment variable, I followed many tutorials in YouTube, how to install the programs to program em Java. I'll leave here print of the problem:
![image](https://

[2021-04-29 02:50] Eskibear commented on #610
As shown, VS Code Java extension requires JDK 11 to run itself. Besides your JDK 8, you should also install a JDK 11 distribution, it should work  after reloading window then.

[2021-04-29 02:53] #605 closed

[2021-04-29 07:04] Eskibear opened #613 "rename branch names"
`master` -> `main` for all VS Code Java related repos (publisher: vscjava):
- [x] https://github.com/microsoft/vscode-java-debug
- [x] https://github.com/microsoft/java-debug
- [x] https://github.com/microsoft/vscode-maven
- [x] https://github.com/microsoft/vscode-java-test
- [x] https://github.com/microsoft/vscode-java-dependency
- [x] https://github.com/microsoft/vscode-spring-initializr
- [x] h

[2021-04-29 07:53] #613 closed

[2021-04-29 07:54] Eskibear commented on #613
on you local cloned repo, run below to update
[code]

[2021-04-29 18:33] rubensa opened #614 "After upgrade from vscode-java v0.77.0 to v0.78.0 can't debug tests"
After upgrade [vscode-java](https://github.com/redhat-developer/vscode-java) from v0.77.0 to v0.78.0 can't debug tests, only execute them

##### Environment
- Operating System: Linux
- JDK version: 11
- Visual Studio Code version: 1.55.2
- Java extension version: 0.78.0

##### Steps To Reproduce
1. Open a maven project with JUnit tests
2. Try run the test in debug mode

##### Current Result
An err

[2021-04-30 00:47] smngong commented on #614
I got same error.
Had to back to v0.77.0 to make debug work.

[2021-04-30 01:30] Luuquicas commented on #610
Hii, i installed the latest versions of JDK, and the problem continued :(

[2021-04-30 08:26] rubensa commented on #614
@testforstephen [just released a hotfix release 0.33.1 for debugger](https://github.com/microsoft/vscode-java-debug/issues/995#issuecomment-829922505). It will work with both vscode-java@0.77.0 and 0.78.0.

[2021-04-30 08:36] #614 closed

[2021-04-30 20:15] vbbartlett opened #615 ""crash" when running a Java Unit Test"
- VS Code Version: 1.52.1
- Extension Version: 0.14.0
- JDK Type & Version: OpenJDK 11
- OS Type & Version:  Centos 7

**Step to Reproduce:**
For me, all I have to do is click on the debug Test on a unit test. It begins compiling and then fails. I see the following message
void org.eclipse.jdi.internal.connect.ConnectionImpl$StringArgumentImpl.<init>(org.eclipse.jdi.internal.connect.ConnectorImpl,

[2021-04-30 23:47] 11MPro opened #616 "Got some errors using Java in VSCode"
Issue Type: <b>Performance Issue</b>

Hello. I got some problems here while I was learning JAVA with VSCode. I have a folder named javaCoding, I have chap08, s02, e01 package and CarExample.java file is inside e01 package. I used to use 'package chap08.s02.e01' on the top of the file(like  before and it worked well. However, when I got the folder '.vscode' folder(I think I haven't had it before, b

[2021-05-01 00:56] testforstephen commented on #615
We [released a hotfix release 0.33.1 for debugger](https://github.com/microsoft/vscode-java-debug/issues/995#issuecomment-829922505). It fixed the issue that cannot debug unit test. Could you try it?

Also "Debugger for Java" 0.33.1 requires a minimum VS Code 1.55 to install it.

[2021-05-03 17:10] vbbartlett commented on #615
No because I am on Centos 7 and 1.53>= don't work. other suggestions?

[2021-05-05 06:03] #564 closed

[2021-05-06 01:38] Eskibear commented on #610
please take a look at "Installed JDKs" tab on "Configure Java Runtime" page, see if your latest JDK is listed there. If not, please let me know more about your JDK and how you installed it.

If you are pretty sure it's a JDK (not JRE) and its version is larger than 11, you can manually point vscode setting `java.home` to it, as a workaround before we can recognize it.

[2021-05-07 08:42] jdneo commented on #615
@vbbartlett Please update the VS Code to >= 1.55 and then update the `Debugger for Java` to `0.33.1`

[2021-05-07 08:45] jdneo commented on #616
@11MPro

Please take a look if your have some settings like `java.project.sourcePaths` inside the `.vscode/settings.json`

If so, you can set it to `java.project.sourcePaths: ["."]`, where `"."` means the root path of your workspace folder.

And please let us know if this could help.

[2021-05-07 11:48] lszomoru opened #617 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-07 13:36] vbbartlett commented on #615
@jdneo Did you not read?  1.55 crashes on Centos 7 so I can't upgrade...

[2021-05-10 08:31] shadycuz opened #622 "Setting up VSC for Java IntelliSense"
I installed the suite of plugins for Java.

![image](https://user-images.githubusercontent.com/17090999/117626952-4de48f00-b195-11eb-9036-09cbed2a02f8.png)

I then setup the proper java locations.

[code]

Then I configured the java runtime.

![image](https://user-images.githubusercontent.com/17090999/117627267-9e5bec80-b195-11eb-9378-40ab39153b04.png)
and
![image](https://user-images.githubuserco

[2021-05-10 08:38] shadycuz commented on #622
So I found this in the FAQ:

I have the 👍 but I still get nothing, maybe I should reopen this as a bug then?

I did find this in the client log, its the only thing in it.

[code]

but its only a WARN so idk.

[2021-05-10 08:59] shadycuz commented on #622
Okay so I cleaned the language server workspace and reran the build status command:

[code]

but its been stuck like that for several minutes. Top shows:
![image](https://user-images.githubusercontent.com/17090999/117633922-1b8a6000-b19c-11eb-8b30-92714b4d0352.png)

[2021-05-10 11:27] andriesfc opened #623 "Macos does not pick up any default JDK, in spite of the latest already installed."
Issue Type: <b>Bug</b>

1. Install Java extension pack
2. Open Tab `Configure Java Runtime`
3. Expect plugin to pick Java from environment

__INSTEAD OF__:

![image](https://user-images.githubusercontent.com/69518948/117652268-3efcdd00-b193-11eb-9df6-992286a2136f.png)

With the wheel spinning into oblivion

Extension version: 0.14.0
VS Code version: Code 1.55.2 (Universal) (3c4e3df9e89829dce27b7b5

[2021-05-12 08:07] shadycuz commented on #622
It doesn't ever finish. It seems it gets stuck building but I can't find any errors.

[2021-05-14 03:27] Eskibear commented on #623
Which JDK did you install? Can you also list the content under folder `/Library/Java/JavaVirtualMachines`?

[2021-05-15 17:21] Magendanz opened #627 "Need system installer for Coding Pack for Java"
## Suggestion

You already offer a system installer for the standalone VS Code setup, but could you make a similar variant available for the Coding Pack for Java?

## Use Cases

CS teachers wanting to migrate from Eclipse to VS Code as our preferred IDE are running into trouble deploying to our lab PCs because the Coding Pack for Java is only provided in a per-user install.

## Examples

Teacher o

[2021-05-19 08:37] CsCherrYY opened #629 "May 2021 Endgame"
| Features | Owner | Verifier | Verified? | Backlog | Released? |
|---|---|---|---|---|---|
| [Format setting page](https://github.com/microsoft/vscode-java-pack/issues/604) | @CsCherrYY | @jdneo |✅#636, <br/>✅#637, <br/>✅#638, <br/>✅#639, <br/>✅#640, <br/>✅#642, <br/>✅#645 | #641 |✅|
| [Generate tests from a source file](https://github.com/microsoft/vscode-java-test/pull/1193) | @jdneo| @testfors

[2021-05-20 01:42] #610 closed

[2021-05-20 02:40] starloke opened #630 "How to fix java lang classnotfoundexception in visuals code studio???"
Before asking a question, search in existing issues for similar questions: https://github.com/Microsoft/vscode-java-pack/issues?q=is%3Aissue+

[2021-05-21 02:28] CsCherrYY opened #633 "Refactor Formatter Setting editor implementation"
Divide the currently custom editor provider implementation into `Controller` and `Model` to make the data stream clear.

[2021-05-21 06:44] #617 closed

[2021-05-21 09:44] #616 closed

[2021-05-24 01:26] #604 closed

[2021-05-24 02:13] jdneo opened #636 "[Formatting Preview] Support Open Settings shortcut in the editor title area"
Like the native VS Code setting

[2021-05-24 02:18] jdneo opened #637 "[Formatting Preview] Cannot scroll left and right by selecting the text"
Current behavior:

https://user-images.githubusercontent.com/6193897/119287573-4800aa80-bc79-11eb-8350-842a96fb38de.mp4

VS Code behavior:

https://user-images.githubusercontent.com/6193897/119287589-4df68b80-bc79-11eb-9e6f-cb57238b520f.mp4

Not a high priority, but better to have it.

[2021-05-24 02:23] jdneo opened #638 "[Formatting Preview] Editor title wrapped when the space is still enough"
https://user-images.githubusercontent.com/6193897/119287845-fc9acc00-bc79-11eb-9d2a-50d2e9b92656.mp4

[2021-05-24 02:34] jdneo opened #639 "[Formatting Preview] Input box jittering when getting focus and losing focus"
https://user-images.githubusercontent.com/6193897/119288536-4b953100-bc7b-11eb-9e64-de56a4c1b383.mp4

[2021-05-24 02:41] jdneo opened #640 "[Formatting Preview] Edit button looks strange"
![image](https://user-images.githubusercontent.com/6193897/119288971-48e70b80-bc7c-11eb-90a8-f5dffe045e20.png)

1. The color is different from VS Code native button color
2. Height is too large
3. It looks better to me by renaming it to `Download and Edit` (This is just my personal opinion)

[2021-05-24 02:42] jdneo commented on #639
Is disabled mode:

https://user-images.githubusercontent.com/6193897/119289222-c3179000-bc7c-11eb-9ad4-7febd36d8e12.mp4

[2021-05-24 03:04] jdneo opened #641 "[Formatting Preview] After format setting changes, the code actions like quick fix does not pick the new setting"
1. Update setting `Before import declarations.` to a new number like 5
2. Trigger the import class quick fix to add a new import statement
3. The inserted statements are not using the settings  in the format preview

// This might be an upstream issue.

[2021-05-24 05:33] jdneo opened #642 "[Formatting Preview] If a remote profile failed to open by some network issue, the user cannot open it again"
If a remote profile failed to open by some network issue, the user cannot open it again.

btw, the error message can be better as well, instead of simply throw out the raw error message

[2021-05-24 08:12] #636 closed

[2021-05-24 08:48] #638 closed

[2021-05-24 08:48] jdneo opened #645 "[Formatting Preview] If the profile url is invalid, the preview page will break"

[2021-05-25 03:20] #639 closed

[2021-05-25 05:25] #637 closed

[2021-05-25 07:19] #640 closed

[2021-05-25 08:52] #642 closed

[2021-05-26 01:50] #645 closed

[2021-05-26 08:15] CsCherrYY opened #652 "Integration test: Automatically run all commands in tests"
- [ ] Debugger for Java
- [ ] Java Test Runner
- [ ] Maven for Java
- [x] Project Manager for Java https://github.com/microsoft/vscode-java-dependency/issues/512
- [ ] Spring Initializr Java Support

[2021-05-27 00:07] Kayes-Islam opened #654 "JAVA DEPENDENCIES view not available"
**Environment:**

- VS Code Version: 1.56.2 (user setup)
- Extension Version: v0.15.0
- JDK Type & Version: java version "15.0.2" 2021-01-19, Java(TM) SE Runtime Environment (build 15.0.2+7-27), Java HotSpot(TM) 64-Bit Server VM (build 15.0.2+7-27, mixed mode, sharing)
- OS Type & Version: Windows 10

**Step to Reproduce:**
1. On an existing VS Code setup, install the extension pack following this

[2021-05-27 01:59] CsCherrYY commented on #654
The JAVA DEPENDENCIES view has been renamed to JAVA PROJECTS view and you can find it in your screenshot.

We'll update the README to synchronize.

[2021-05-27 02:22] Kayes-Islam commented on #654
Thanks @CsCherrYY, I'm from .Net coming to Java after a long time so had no clue :)

The readme says:

Reading that I was expecting to have some NuGet/npm like dependency management functionality for allowing me to add/remove packages on my project, without it being a Maven project. However I did now see any such functionality available on the view or when I right click on any of the nodes on the

[2021-05-27 02:36] CsCherrYY commented on #654
Do you want to add a jar file as your project dependency? You can hover on the `Referenced Libraries` node and see a `+` on the right.
![Screenshot 2021-05-27 103141](https://user-images.githubusercontent.com/45906942/119756968-d7ef6000-bed6-11eb-8e29-e0fcb3241788.jpg)
You can click it to add a jar file. For removing, you can hover on any existing dependency under the `Referenced Libraries`, and s

[2021-05-27 06:20] CsCherrYY opened #655 "Formatter Settings Editor shows the wrong category"
1. Open Formatter Settings Editor
2. Select `Comment` category
3. Close the editor
4. Open Formatter Settings Editor again
![Screenshot 2021-05-27 141756](https://user-images.githubusercontent.com/45906942/119775569-5f989700-bef6-11eb-960b-d269ee20bc03.jpg)

[2021-05-27 06:31] #655 closed

[2021-05-28 04:04] #623 closed

[2021-05-31 05:20] Eskibear opened #661 "In "Install A JDK" page, fetch JDK version from metadata instead of hardcode"

[2021-05-31 08:04] CsCherrYY opened #665 "Formatter Setting Editor can't start in non-java project"
If there is no active formatter profile, the formatter setting editor can't start in non-java project (or language server has not started)

[2021-05-31 08:40] #629 closed

[2021-05-31 08:52] jdneo commented on #654
Fixed in https://github.com/microsoft/vscode-java-dependency/pull/513

[2021-05-31 08:52] #654 closed

[2021-06-01 02:37] molly-w opened #666 "'"

[2021-06-01 05:32] #666 closed

[2021-06-01 17:40] mikecargal opened #667 "Java Project initialization never completes"
I'm working on a quite small project (for a tutorial).  Up until today, the Java integration has worked "OK"

However, beginning today, whenever I open the project, the "Java Projects" view in the bottom left, just sits with a blue "processing" dash moving below it, and never completes.  I also have a continuously spinning "refresh circle (the two arrows making up a a circle and spinning) in the b

[2021-06-03 13:14] mikecargal commented on #667
Update:  I managed to resolve this after quite a bit of spelunking.

see https://github.com/GabrielBB/vscode-lombok/issues/43

If you have the Lombok plugin installed, uninstalling it leaves a reverence to it's javaagent in you setting file under "java.jdt.ls.vmargs".  removing that reference has me working again.

[2021-06-03 13:14] #667 closed

[2021-06-03 17:45] irwandirefraugati commented on #19
thanks man!

[2021-06-09 02:00] Mahendra009 opened #668 "after installation of angular package ctrl+v is not working and on right click paste option is disable. help me to fix this issue."
Before asking a question, search in existing issues for similar questions: https://github.com/Microsoft/vscode-java-pack/issues?q=is%3Aissue+

[2021-06-15 10:33] vincentmunene49 opened #673 "Java Projects"
Issue Type: <b>Feature Request</b>

I cannot seem to find the java project when i create a new java projects and it is making it difficult to add external libraries .

Extension version: 0.16.0
VS Code version: Code 1.57.0 (b4c1bd0a9b03c749ea011b06c6d2676c8091a70c, 2021-06-09T17:18:42.354Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

[2021-06-19 15:29] schittli opened #674 "Bug: vscode-java-pack probably changes the keyboard layout without asking"
**Environment:**
- VS Code Version: Version: 1.57.0 (user setup)
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19042
- Extension Version: v0.16.0
- JDK Type & Version: n/q
- OS Type & Version: Windows

**Step to Reproduce:**
1. Install vscode-java-pack
2. The vscode keyboard layout is changed

**Expected Behavior:**
1. Install vscode-java

[2021-06-19 21:47] pouryapb opened #675 "System region set to persian"
**Environment:**

- VS Code Version: 1.57.1
- Extension Version: 0.16.0
- JDK Type & Version: OpenJDK 16.0.1.9
- OS Type & Version:  Windows

**Step to Reproduce:**
Set your system region to Persian (or maybe some other region that changes your date and time characters)

**Expected Behavior:**
It is expected to run java code

**Actual Behavior:**
It just doesn't run any java code

the only reason

[2021-06-21 16:14] pouryapb opened #676 "system region set to persian"
Issue Type: <b>Bug</b>

My system region is set to persian and I can't run java in vscode. If I set it to US it runs

Extension version: 0.16.0
VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:28:07.755Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 3 3200G with Radeo

[2021-06-21 16:15] #676 closed

[2021-06-23 04:55] testforstephen opened #678 "June 2021 Endgame"
## Java Pack Extensions
| Features | Owner | Verifier | Verified? | Backlog | Released? |
|---|---|---|---|---|---|
| Project Manager for Java - Release 0.18.5 https://github.com/microsoft/vscode-java-dependency/milestone/24 | @CsCherrYY |  @jdneo | ✅ | / | ✅ |
| [Java test runner - Dogfooding new test API](https://github.com/microsoft/vscode-java-test/issues/1162) | @jdneo | @testforstephen @Eski

[2021-06-23 08:19] akaroml commented on #675
Thanks for reaching out @pouryapb . @testforstephen looks like an encoding issue. Please take a look.

[2021-06-23 08:21] akaroml commented on #674
Thanks for reaching out @schittli

The pack itself does not contribute hotkey setting. However, we'll confirm this with the extensions that are included. @Eskibear please take a look.

[2021-06-23 08:26] akaroml commented on #673
The Project view is located under the File Explorer view. Please look for the view with the name "JAVA PROJECTS".

<img width="1325" alt="Screen Shot 2021-06-23 at 4 23 49 PM" src="https://user-images.githubusercontent.com/16755094/123062972-93a4a080-d43f-11eb-9e4c-ab9eb805e8fa.png">

In this view, you'll be able to add external libraries and run other project-related tasks. Please let me know if

[2021-06-23 08:28] akaroml commented on #668
Sorry, but the description is not complete enough for us to reproduce the issue. Please help provide detailed steps and help us reproduce.

[2021-06-23 08:34] akaroml commented on #622
We would really love to further help you with this. By looking at the shots of logs you shared, The language server is in a good state. Is this issue still there?

We would like to further assist you. I would suggest that you book some time with our engineers and have a live session to address the problem, by following this link.

https://outlook.office365.com/owa/calendar/JavaonVisualStudioCode@m

[2021-06-23 08:38] akaroml commented on #615
@vbbartlett VS Code is now at 1.57.1 and we always recommend using the newest version. And the fix is only available with a newer version of extensions. Are you able to upgrade now?

[2021-06-23 08:57] egbertwong commented on #476
The same problem bothers me! I just want to edit and check the file. But it appears every time.

[2021-06-23 09:41] shadycuz commented on #622
Sorry @akaroml. I had opened this issue and "lost it" and opened a new one here https://github.com/redhat-developer/vscode-java/issues/1978

I'm trying to use groovy which I thought was supported but its not =/

[2021-06-23 09:41] #622 closed

[2021-06-23 13:22] vbbartlett commented on #615
@akaroml - no VS Code dropped support for Centos 7  at version 1.52.1.  And I can not change the operating system as it is corporate mandated.

[2021-06-24 08:40] Eskibear opened #679 "provide richer content in getting started walkthrough"
Now it supports both markdown and media. Markdown-based tutorials are natural to be placed in there.

[2021-06-25 11:48] achaphiv commented on #596
The current behavior doesn't work when running via flatpak.

It would help to either:

- Expose an environment variable to override `/usr/lib/jvm`
- Also check `/run/host/usr/lib/jvm` by default

More context at: https://github.com/redhat-developer/vscode-java/issues/510

[2021-06-29 00:21] akaroml opened #681 "Remote Dev - Java Runtime Guide to not provide JDK download links directly"
In remote scenario, downloading and installing a JDK no longer makes sense. Instead, need to guide users to change their dev container definitions (including docker files) to setup the right runtime.

[2021-06-29 01:24] testforstephen commented on #675
Could you please provide more details about your problem?

[2021-06-29 08:40] pouryapb commented on #675
How? 🤔
When region is Persian and I click on run, on top there is a stop button but nothing is running actuality, no activity in terminal. When region is set to United States for example, in terminal the command that I think is responsible for running the code appears and there is of course some output.
Hope these information help.

[2021-06-30 06:51] Eskibear commented on #679
introduce lightbulb shortcuts for various code actions -- from customer feedback

[2021-07-05 02:01] #678 closed

[2021-07-07 08:29] #668 closed

[2021-07-07 08:29] #673 closed

[2021-07-07 10:16] deepfriedbrain commented on #598
I'm getting the same error, but I'm not using lombok.jar. I don't have the javaagent param in my settings.json. I do have `java.home` defined in my settings.json. I've tried uninstalling and reinstalling the Java extensions multiple times but to no avail.

The log:

[code]

[2021-07-09 19:34] itamarc opened #685 "Lots of 'The import cannot be resolved' in Maven project"
Issue Type: <b>Bug</b>

I have a Maven project with some dependencies. Sometimes VSC looses track of these dependencies and can no longer identify the packages in them. Either when opening the workspace or later on. When I open the class that have those imports, VSC is able to resolve all.

Some screenshots to show this behavior. I've just opened VSC with this workspace.

![screenshot1](https://us

[2021-07-10 08:46] yunxiaoyang01 opened #686 "mac vscode Language Support for Java(TM) by Red Hat 感觉安装后没有生效"
mac vscode Language Support for Java(TM) by Red Hat 感觉安装后没有生效

[2021-07-10 13:11] testforstephen commented on #685
Would you mind sharing a sample project for us to reproduce it?

[2021-07-11 04:46] itamarc commented on #685
The project I was working on and that is on the screenshots is in GitHub:

https://github.com/itamarc/action-itemplate-ghpages

[2021-07-11 08:10] JudyInRedHat commented on #686
不对啊，我这里可以用啊

[2021-07-12 16:26] Medaturd76 opened #687 "Fabric API"
**Environment:**

- VS Code Version: Latest
- Extension Version: Latest
- JDK Type & Version: JDK 16.0.1
- OS Type & Version: Windows

**Step to Reproduce:**
Run the debugger on version 1.17 with a mod that need the fabric API

**Expected Behavior:**
U get this error:
Mod 'Fabric API' (fabric) requires version 1.17.x of mod 'Minecraft' (minecraft), but a non-matching version is present: 1.17!

**A